[2021-01-19 21:36] ChadSpears commented on #1686
Apologies, I was looking for a way to log into an existing service principal using a Key/Secret pair.
After reviewing the document today, I can see that the instructions are to login via Connect-AzAccount
 and then create a new service principal so that programmatic access can be utilized. I didn't run through the steps again with this new understanding, but I believe my misinterpretation of the o

[2021-01-20 03:05] BhargaviAnnadevara-MSFT commented on #1686
@ChadSpears Thank you for the response. Sure, please feel free to pass on any feedback that you think can improve the docs.

At this point, it appears that there are no edits or updates needed to the document in question. Hence closing this issue for now. If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-20 03:05] #1686 closed

[2021-01-22 18:51] dcaro commented on #1687
@Ayanmullick for diagnostics settings categories at the subscription level, you need to use the event category API.
The event category API is described here https://docs.microsoft.com/en-us/rest/api/monitor/eventcategories/list. If you are interested in the swagger definition (https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable

[2021-01-22 19:14] Ayanmullick commented on #1687
Thanks for the update @dcaro.
@mikefrobbins,  It is a documentation gap and not a bug after all :relaxed:
@HarshitaSingh-MSFT , I have what I was looking for. This can be closed. However, it could help others if it's documented that the methods listed in the page works for Azure resources except for subscriptions.

[2021-01-22 19:30] HarshitaSingh-MSFT commented on #1687
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-22 19:30] #1687 closed

[2021-01-22 20:43] Ayanmullick commented on #1687
Quick follow-up, @dcaro, Is there a separate Cmdlet to set the subscription-level diagnostics too? [`Set-AzDiagnosticSetting`](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings#create-using-powershell) works for other Azure resource types but not with subscriptions.

```Set-AzDiagnosticSetting -ResourceId /subscriptions/<SubId> -Categories Administrative,Security,Se

[2021-01-22 21:52] dcaro commented on #1687
@Ayanmullick we already have an issue open for setting diagnostic settings at the subscription level: https://github.com/Azure/azure-powershell/issues/13066
Please add your voice to the issue.

[2021-01-26 21:21] JoeBrunsTR opened #1694 "cls"
Uninstall not working.  Any ideas?

PS C:\Users\me\adogit\Service-Gold\team-development\srb> Get-Module az -ListAvailable

    Directory: C:\Users\me\myplace\Documents\PowerShell\Modules

ModuleType Version    PreRelease Name                                PSEdition ExportedCommands
---------- -------    ---------- ----                                --------- ----------------
Script     4.3.0

[2021-01-27 01:05] MonikaReddy-MSFT commented on #1694
@JoeBrunsTR -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-28 15:59] MonikaReddy-MSFT commented on #1694
@JoeBrunsTR - Have you tried following the instructions on the page you have referenced. "Which method you follow depends on how you installed the Az module. If you're not sure of your original installation method, follow the MSI steps for uninstalling first."
[https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=azps-5.4.0&source=docs#uninstall-the-azurerm-module](url)

[2021-01-29 15:33] MonikaReddy-MSFT commented on #1694
@JoeBrunsTR - Have you tried the above suggested reference ?

[2021-01-30 03:10] MonikaReddy-MSFT commented on #1694
@JoeBrunsTR -
Since we have not heard back from you we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-01-30 03:10] #1694 closed

[2021-01-31 12:08] andreasmarx opened #1696 "Get-AzRecoveryServicesVault throws Assembly "Microsoft.Azure.PowerShell.Authentication, Version=1.9.0.0"
Hi.

I am getting this error with new modules 5.4.0 using "Get-AzRecoveryServicesVault":

Get-AzRecoveryServicesVault : Operation failed.
Die Datei oder Assembly "Microsoft.Azure.PowerShell.Authentication, Version=1.9.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" oder eine Abhängigkeit davon wurde nicht gefunden. Das System kann die angegebene Datei nicht finden.

[2021-01-31 16:31] BhargaviAnnadevara-MSFT commented on #1696
@andreasmarx Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-02-02 08:39] BhargaviAnnadevara-MSFT commented on #1696
@andreasmarx I could not reproduce the issue on my end. Here are the modules I have installed on my machine:
[code]
However, it seems like similar issues with the `Az.RecoveryServices` module were reported in the past:

- https://github.com/Azure/azure-powershell/issues/8417
- https://github.com/Azure/azure-powershell/issues/12230
- https://github.com/Azure/azure-powershell/issues/12468

Please ru

[2021-02-02 18:59] mchzh opened #1698 "$PSVersionTable.PSEdition -eq 'Desktop' -and (Get-Module -Name AzureRM -ListAvailable) always true on windows 10"
[Enter feedback here]
$PSVersionTable.PSEdition -eq 'Desktop' -and (Get-Module -Name AzureRM -ListAvailable) always return true on windows 10. So it cannot execute the installation for az module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeb2106f-05d8-2a66-cc12-80652ed13c7c
* Version Independent ID: bd4fb194-d6af-

[2021-02-02 19:05] MonikaReddy-MSFT commented on #1698
@mchzh -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-04 10:51] BhargaviAnnadevara-MSFT commented on #1696
@andreasmarx Hope the above inputs help. Are there any further questions here?

[2021-02-04 11:27] andreasmarx commented on #1696
@BhargaviAnnadevara-MSFT  I had the issue with AZ 5.4.0 and az.recoveryServices 3.3.0. The issues was reproducable. With AZ 5.3.0 and az.recoveryServices 3.2.0 it is working fine.

[2021-02-04 12:43] BhargaviAnnadevara-MSFT commented on #1696
@andreasmarx As mentioned in the GitHub issues reeferenced above, there seem to be some assembly conflicts between `Az.RecoveryServices` and `Az.Accounts` modules, which is why I suggested you test with the latest version (**2.2.4**) of `Az.Accounts` module.

Have you had a chance to run this:

If the problem still persists, please open a new issue with the [Azure PowerShell](https://github.com/Az

[2021-02-04 13:51] mikefrobbins commented on #1698
`$PSVersionTable.PSEdition -eq 'Desktop' -and (Get-Module -Name AzureRM -ListAvailable)` only returns `true` when run from Windows PowerShell with the AzureRM module installed. It is used to determine if the AzureRM module is installed. As stated in the installation instructions, "[We do not support having both the AzureRM and Az modules installed for PowerShell 5.1 on Windows at the same time.](h

[2021-02-04 14:59] MonikaReddy-MSFT commented on #1698
@mikefrobbins  - Thank you for providing your insights.
@mchzh - I hope @mikefrobbins  has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-04 14:59] #1698 closed

[2021-02-04 22:51] andreasmarx commented on #1696
@BhargaviAnnadevara-MSFT As I already mentioned the issue happens with the newest modules. Downgrading to the previous versions works for me. Sorry, I don't have time at the moment to reproduce the issue again and provide all the details requested. From my side you can close this. If I run into the issue again, I will open a bug report and provide details. Thanks for your support.

[2021-02-05 10:43] BhargaviAnnadevara-MSFT commented on #1696
@andreasmarx Thanks for the response. We will now proceed to close this thread, but if there are any further questions regarding the Azure PowerShell documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-02-05 10:43] #1696 closed

[2021-02-22 23:26] Gt3pccb opened #1723 "does not work"
your scripts did not work on my environments
Version    Name                                Repository           Description
-------    ----                                ----------           -----------
2.2.5      Az.Accounts                         PSGallery            Microsoft Azure PowerShell - Accounts credential management cmdlets for Azure ...
3.2.1      Az.Resources

[2021-02-23 04:38] BhargaviAnnadevara-MSFT commented on #1723
@Gt3pccb Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-02-23 17:21] BhargaviAnnadevara-MSFT commented on #1723
@Gt3pccb I see you're using `Uninstall-AzModule` as opposed to `Uninstall-AllModules` function defined in the provided script. Is that perhaps causing issues? As `Uninstall-AzModule` is not a supported cmdlet.

[2021-02-24 13:38] BeMor81 opened #1726 "Uninstall-AzureRm should be Uninstall-Module AzureRm"
Uninstall-AzureRm should be Uninstall-Module AzureRm

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71d1aafa-f084-6e0b-d743-7eb3aba81014
* Version Independent ID: b3ce94fa-6e76-4ffe-e70e-07f7a321fcd4
* Content: [Uninstall Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=a

[2021-02-24 13:39] BeMor81 commented on #1726
Sorry, this is correct but Uninstall-AzureRm didn't work for me

[2021-02-24 13:39] #1726 closed

[2021-02-24 13:55] BhargaviAnnadevara-MSFT commented on #1723
@Gt3pccb Have you had a chance to check the above?

[2021-02-25 08:24] BhargaviAnnadevara-MSFT commented on #1726
@BeMor81 Thanks for reaching out.

Just to clarify, the [Uninstall-Module](https://docs.microsoft.com/en-us/powershell/module/powershellget/uninstall-module?view=powershell-7.1) cmdlet only uninstalls one module at a time. To remove the `AzureRm` PowerShell module completely, you must uninstall each module individually. Whereas, the [Uninstall-AzureRm](https://docs.microsoft.com/en-us/powershell/m

[2021-02-25 14:27] BhargaviAnnadevara-MSFT commented on #1723
@Gt3pccb We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-02-25 14:27] #1723 closed

[2021-03-11 17:22] sabuncu opened #1733 "Definition of a rollup module not clear."
In the section titled Install for All Users, it says:
"The Az module is a rollup module for the Azure PowerShell cmdlets."

The definition of a rollup module is not readily available and the search results point back to this page and an unrelated page for Power BI cmdlets.  It may help to define what it is.  Is it a meta module of many other modules?

---
#### Document Details

⚠ *Do not edit this

[2021-03-11 19:27] Ayanmullick opened #1734 "APIMgmt in-policy token extraction"
Can the [token extraction code](https://docs.microsoft.com/en-us/azure/api-management/api-management-sample-send-request#extracting-the-token) be written in PowerShell?

The suggestion below is still 'Under Review'.
[API Mgmt. policy management PowerShell module](https://feedback.azure.com/forums/248703-api-management/suggestions/34518523-api-mgmt-policy-management-powershell-module)

---
#### Doc

[2021-03-12 04:07] BhargaviAnnadevara-MSFT commented on #1734
@Ayanmullick Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-12 13:51] mikefrobbins commented on #1734
@Ayanmullick Thank you for the input, since this is a docs repo and the issue does not appear to be docs related, I will proceed with closing this issue. Feel free to follow-up with a [discussion item](https://github.com/Azure/azure-powershell/discussions) in the azure-powershell repo for our engineering team.

[2021-03-12 13:51] #1734 closed

[2021-03-14 00:15] kobulloc-MSFT commented on #1733
@sabuncu Thank you for your question.  We are looking into this and will get back to you shortly.

[2021-03-15 18:27] kobulloc-MSFT commented on #1733
@sabuncu A rollup refers to the combination of smaller elements into a single, larger element (JavaScript, for example, has a similar concept of rollup).  In this case, the best definition is a little bit further in the documentation:

"Installing [Az module] downloads all of the generally available Az PowerShell modules, and makes their cmdlets available for use."

[2021-03-15 19:23] kobulloc-MSFT commented on #1733
@sabuncu Thank you for reaching out to us!  We're going to close this issue as resolved but feel free to tag me in your reply and we can continue the conversation.

[2021-03-15 19:23] #1733 closed

[2021-03-15 22:09] Ayanmullick commented on #1734
@mikefrobbins, I submitted https://github.com/Azure/azure-powershell/discussions/14536

[2021-03-18 01:05] mganeshphani opened #1735 "what to do for the cases marked as manual uninstall required"
per my knowledge some of the modules are not being actively used on my desktop, why i am seeing manual uninstall required? what should i do? i have closed powershell, vscode, visual studio on my desktop, still see these warnings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 140ef5b0-5677-5dc0-e9d5-070242170690
* Versi

[2021-03-18 04:38] BhargaviAnnadevara-MSFT commented on #1735
@mganeshphani Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-03-18 04:39] BhargaviAnnadevara-MSFT commented on #1735
@mganeshphani Could you please provide a screenshot of the warnings you see?

[2021-03-19 12:01] BhargaviAnnadevara-MSFT commented on #1735
@mganeshphani Is there any further information or update that you can provide on the issue?

[2021-03-21 07:47] Durantye commented on #1244
@Mexicoder You're a gift sent from heaven with this bit of info

[2021-03-22 04:24] BhargaviAnnadevara-MSFT commented on #1735
@mganeshphani We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-22 04:24] #1735 closed

[2021-03-22 11:29] fallmake opened #1738 "Non-existing "-Force" parameter in Remove-AzureRMAutomationVariable example"
There's no github linking on docs.microsoft.com for "azure-docs-powershell/azurermps-6.13.0/AzureRM.Automation/Remove-AzureRMAutomationVariable.md", hence the manually created issue.

See: https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/remove-azurermautomationvariable?view=azurermps-6.13.0#example-1--remove-a-variable

**Example 1: Remove a variable** and it's description te

[2021-03-22 13:56] BhargaviAnnadevara-MSFT commented on #1738
@fallmake Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-03-23 16:07] #1738 closed

[2021-03-24 23:43] Ayanmullick opened #1748 "Multi-container Webapp"
Is there PowerShell documentation on how to deploy a multi-container Webapp and how to establish communication between the two containers?

I couldn't find anything related to containers in the [samples](https://docs.microsoft.com/en-us/azure/app-service/samples-powershell).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-03-25 00:46] Ayanmullick opened #1749 "Set boot diagnostics to managed storage account"
How could one set the the Boot diagnostics to the `recommended` option of `managed storage account`?

![image](https://user-images.githubusercontent.com/17693249/112401719-27e45780-8cd9-11eb-9631-4afc83f22fe8.png)

---
#### Document Details

* ID: 9A6F140C-9F1C-4701-9603-FC6107FCAF92
* Content: [Set-AzVMBootDiagnostic](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbootdiagn

[2021-03-25 03:41] BhargaviAnnadevara-MSFT commented on #1748
@Ayanmullick Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-25 03:43] BhargaviAnnadevara-MSFT commented on #1749
@Ayanmullick Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-25 16:03] mikefrobbins commented on #1749
It's not currently possible. There is [a feature request](https://github.com/Azure/azure-powershell/issues/13168) already logged for the engineering team in the appropriate repo to add this ability.

[2021-03-25 16:03] #1749 closed

[2021-04-05 23:51] Ayanmullick opened #1755 "PowerShell Functions concurrent worker process sample"
1. Is there a sample code for how to use PowerShell Functions concurrent worker process?

2. When should one use this over PowerShell's built-in parallelization features like [`ForEach-Object -Parallel`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/foreach-object?view=powershell-7.1#example-15--writing-errors-with-parallel-execution), jobs, runspaces etc?

3. And wh

[2021-04-06 02:10] Karishma-Tiwari-MSFT commented on #1755
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-06 13:27] mikefrobbins commented on #1755
@Karishma-Tiwari-MSFT Can this issue be moved to the [azure-docs repo](https://github.com/MicrosoftDocs/azure-docs) since that is where the referenced article resides?

The author of that particular article may not respond to the issue in this repo.

@Ayanmullick For future reference, clicking on the "Submit and view feedback for 'This page'" is the best way to make sure your issue is properly tri

[2021-04-06 13:30] mikefrobbins commented on #1748
@BhargaviAnnadevara-MSFT Can this issue be moved to the [azure-docs repo](https://github.com/MicrosoftDocs/azure-docs) since that is where the referenced article resides?

The author of that particular article may not respond to the issue in this repo.

@Ayanmullick For future reference, clicking on the "Submit and view feedback for 'This page'" is the best way to make sure your issue is properly

[2021-04-06 14:00] Ayanmullick commented on #1748
@mikefrobbins , I created the issue in this repository since it's related to a documentation gap with the Az.Websites PowerShell module. I thought this repo was specific to Az modules. I have been asked to contact the PowerShell team directly since that repository is generic to all documentation.

[2021-04-06 18:16] Karishma-Tiwari-MSFT commented on #1755
@Ayanmullick It is not supported to move an issue from one repo to another. Please open a new issue on the azure-docs-repo by going to the specific document and clicking on This page under Feedback as shared in the comment above.

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussi

[2021-04-06 18:16] #1755 closed

[2021-04-07 15:16] Ayanmullick commented on #1755
@Karishma-Tiwari-MSFT, I've been previously asked to contact the PowerShell team directly due to lack of that co-ordination and since that page repo is a generic repo for non-PowerShell docs too.

Please refer: https://github.com/Azure/azure-powershell/issues/10915#issuecomment-574876806

@eamonoreilly, Which repo would you prefer to address this on? @mikefrobbins could you approve reopening issue

[2021-04-08 13:36] mikefrobbins commented on #1755
@Ayanmullick As a best practice, file documentation-related issues in the repo where the doc resides. Service teams own the documentation for their particular service and many have their own content developers. The Azure PowerShell team partners with service team content developers when an Azure PowerShell subject matter expert is needed from a documentation standpoint.

The issue where you were d

[2021-04-09 16:58] nabsul opened #1760 "AZ Install-Module Error Message is Confusing"
So many questions about this error message:

![image](https://user-images.githubusercontent.com/11143071/114215003-ec24d100-9919-11eb-9d20-96d857ff7278.png)

- It says I need to run as administrator, but I'm already doing so
- It suggests using `-Scope CurrentUser` and I'm already doing so

So what is the cause of this error?

[2021-04-10 05:39] BhargaviAnnadevara-MSFT commented on #1760
@nabsul Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-04-10 13:11] nabsul commented on #1760
For reference, I used the MSI installer and that worked fine.

[2021-04-10 20:03] Ayanmullick commented on #1755
@mikefrobbins, ok. Thanks for pointing out. Now there are `PowerShell`-related repositories under the `MicrosoftDocs`, `Azure` and `PowerShell` accounts. A lot more today than the last time I checked. Will resubmit this issue in the `Azure
/azure-functions-powershell-worker` repository.

[2021-04-13 17:30] BhargaviAnnadevara-MSFT commented on #1760
@nabsul Thanks for the info. I tried a couple ways but could not reproduce this issue at my end. The exact command:
[code]
seems to be working as expected with PS `7.1.3` on my machine. Do you, by any chance, have the AzureRM module installed on this machine already?

[2021-04-14 17:48] nabsul commented on #1760
Hi @BhargaviAnnadevara-MSFT . There's a very good chance AzureRM was already installed on the machine. If this is expected behavior, feel free to close this issue. Although I would recommend making the error message clearer in such situations.

Thanks.

[2021-04-14 21:19] BhargaviAnnadevara-MSFT commented on #1760
@nabsul Thanks for the feedback. You might run into some compatibility issues when both modules are installed on the machine so it is recommended that you have just the Az PowerShell module for interacting with Azure.

Also, on a side note, I'd like to let you know that this channel (the [Azure PowerShell Docs](https://github.com/MicrosoftDocs/azure-docs-powershell) repository) is only for driving

[2021-04-14 21:19] #1760 closed

[2021-04-16 09:05] mattcowen opened #1770 "Start and end times need to be dd/mm/yyyy or mm/dd/yyyy format"
Calling Get-AzsSubscriberUsage with the format shown in the examples in this page leads to an error regarding invalid ISO format. The start and end time must be date format only with no time specified

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc1eeb40-3555-fcba-5b64-02b319302aac
* Version Independent ID: 171e19fa-

[2021-04-16 12:21] HarshitaSingh-MSFT commented on #1770
Hello @mattcowen , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-04-17 00:04] mattbriggs commented on #1770
@mattcowen Thanks for your comment. I'll review the topic and update.

#in-progress

[2021-04-17 08:28] mattcowen commented on #1770
@mattbriggs i found the following not to work

`Get-AzsSubscriberUsage -ReportedStartTime "2019-12-30T00:00:00Z" -ReportedEndTime "2019-12-31T00:00:00Z" -AggregationGranularity Daily`

this does work...

`Get-AzsSubscriberUsage -ReportedStartTime "12/30/2019" -ReportedEndTime "12/31/2019" -AggregationGranularity Daily`

And if the AggregationGranularity is Hourly then the following does work

`Get

[2021-04-17 08:30] mattcowen commented on #1770
and we should state somewhere that the format must be mm/dd/yyyy

[2021-04-19 12:51] alvipeo opened #1772 "Please provide a working script to Uninstall all Az modules and Az module itself"
This - https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=azps-5.8.0#option-2-uninstall-the-az-powershell-module-from-powershellget - is a waste of time. When I needed to re-install Az module because I figured I have FOUR different versions I ended up on this page. So I run the first part of the script and it showed me the modules. But then when you run the second part:
[code]

[2021-04-19 13:39] alvipeo commented on #1772
No matter what I do I still have these versions installed:

[code]

Provided script doesn't work.

[2021-04-19 15:02] mikefrobbins commented on #1772
The message "_No modules were removed. Verify that the specification of modules to remove is correct and those modules exist in the runspace._" is returned by the `Remove-Module` cmdlet and is due to the modules not being loaded in memory. We will update the uninstall instructions to account for this. That message doesn't have an impact on the actual uninstall not being performed.

Can you provide

[2021-04-19 18:01] alvipeo commented on #1772
Name Version ModuleBase
---- ------- ----------
Az   4.6.1   [my documents path]\PowerShell\Modules\Az\4.6.1
Az   3.6.1   [my documents path]\PowerShell\Modules\Az\3.6.1

And I have no way uninstalling those.

[2021-04-19 18:04] mattbriggs commented on #1770
@mattcowen I have a question out. Thanks for your update.

[2021-04-19 19:30] mikefrobbins commented on #1772
@alvipeo, Can you also provide the output of the following:

[code]

[2021-04-19 20:26] alvipeo commented on #1772
Az.Accounts
Az.Advisor
Az.Aks
Az.AnalysisServices
Az.ApiManagement
Az.ApplicationInsights
Az.Automation
Az.Batch
Az.Billing
Az.Cdn
Az.CognitiveServices
Az.Compute
Az.ContainerInstance
Az.ContainerRegistry
Az.Databricks
Az.DataFactory
Az.DataLakeAnalytics
Az.DataLakeStore
Az.DeploymentManager
Az.DesktopVirtualization
Az.DevTestLabs
Az.Dns
Az.EventGrid
Az.EventHub
Az.FrontDoor
Az.Functions
Az.HDInsi

[2021-04-19 21:26] mikefrobbins commented on #1772
@alvipeo, It appears that the issue is due to the `Uninstall-Module` cmdlet not including the `AllVersions` parameter.

We've submitted the following update to the referenced article which should be live later today. Here is the update if you'd like to give it a try:

First, you'll need a list of all the Az PowerShell module versions installed on your system.

[code]

You can use the following exa

[2021-04-20 03:45] alvipeo commented on #1772
Guys, this is the problem. I used your script many many times:
[code]

and at the end I run this:
[code]

and I get... voila!

[code]

I can't remove these versions!

[2021-04-20 03:46] alvipeo commented on #1772
It did remove the newer versions though.

[2021-04-21 16:15] mikefrobbins commented on #1772
@alvipeo I've installed the versions you're experiencing issues with and been unable to reproduce the problem. Could you provide the output of the following?

[code]

I'm also going to reach out to our engineering team to see if they can assist.

[2021-04-21 16:56] alvipeo commented on #1772
[code]

[2021-04-21 17:02] mikefrobbins commented on #1772
@alvipeo The response from our engineering team was to perform a manual uninstall since there must be some issue outside the scope of the documentation.

You can simply open your `Documents\PowerShell\Modules` folder and select the Az folder along with all of the Az.* folders and delete them.

![image](https://user-images.githubusercontent.com/6719572/115592727-32bee780-a299-11eb-97ea-a3a8cfde5f90

[2021-04-21 17:09] alvipeo commented on #1772
I assure you that 1) this is __the most effective method__! And 2) __the easiest one__ !

Please keep this method forever and update the docs!

[2021-04-23 19:50] mattbriggs commented on #1770
Updated

#please-close

[2021-04-26 13:55] mikefrobbins commented on #1772
@alvipeo Based on your response, it appears the issue you experienced has been resolved and we'll proceed with closing this issue.

[2021-04-26 13:55] #1772 closed

[2021-05-11 18:11] #1770 closed

[2021-06-02 16:53] brandonh-msft opened #1810 "Unable to install with given command line"
[Installation instructions](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-6.0.0#installation) say `scope=currentuser` should (seemingly) avoid the need for an Administrator session of Powershell. However:

[code]

I then went on to attempt installation in an Administrator Powershell which also fails both with and without the `Scope` parameter:

![image](https://user-ima

[2021-06-02 19:14] kobulloc-MSFT commented on #1810
@brandonh-msft Thank you for bringing this to our attention.  We are investigating this and will get back to you shortly.

[2021-06-03 00:58] kobulloc-MSFT commented on #1810
@brandonh-msft I created a new Windows 10 VM and [installed PowerShell 7](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-core-on-windows?view=powershell-7.1) on it (Windows / [PowerShell 7.1.3 x64 MSI](https://github.com/PowerShell/PowerShell/releases/download/v7.1.3/PowerShell-7.1.3-win-x64.msi)).  The command worked for my repro so I'm curious what the differ

[2021-06-03 01:19] kobulloc-MSFT commented on #1810
@brandonh-msft I get the same results when I run `Install-Module -Name Az -Scope CurrentUser -Repository PSGallery -Force -AllowClobber`.  I noticed that you're using PowerShell Core.  What happens if you use a fresh install of PowerShell 7?

[2021-06-03 18:01] brandonh-msft commented on #1810
Thanks for digging in @kobulloc-MSFT ! What happens if you _don't_ use Administrator Powershell? Docs seem to allude this to not be required (and would potentially lock out some users if it was).

Regarding PSCore vs PSW that I'm not sure of. I honestly thought that PS7 and PSCore were the same thing 😄

[2021-06-03 20:45] kobulloc-MSFT commented on #1810
@brandonh-msft No worries!  I tried running the same command without administrator privileges (as that is a very good question) and that worked for me as well.

At this point I suspect it has to do with the original installation of PowerShell.  We don't appear to have a brief rundown of the PowerShell history in the docs (which is a shame) but there are 3 noteworthy versions of PowerShell:

- **Wi

[2021-06-03 20:55] brandonh-msft commented on #1810
ok in that case I'm not running PSCore, I'm on PS7 as shown by the first line of my screenshot ... 🤔

I can try reinstalling powershell then.

[2021-06-03 20:57] kobulloc-MSFT commented on #1810
If that doesn't work, let me know and we can troubleshoot this some more.  My hope is that a fresh install is all you need.

[2021-06-03 20:57] brandonh-msft commented on #1810
In fact I do have PS7; I downloaded the installer and was met with this:
![image](https://user-images.githubusercontent.com/20270743/120710969-ac8ae900-c473-11eb-8a79-d1cf52578152.png)

I've issued 'Repair' and will see what happens.

[2021-06-03 21:05] brandonh-msft commented on #1810
Just ran the command in both Windows Terminal PS 7.1.3 and PS 7.1.3 straight up. Same results in both:

![image](https://user-images.githubusercontent.com/20270743/120711873-bf51ed80-c474-11eb-9685-4e5fcca70814.png)

[2021-06-03 21:09] kobulloc-MSFT commented on #1810
Thank you for the update.  I'll do some more investigation and see what I come up with.

[2021-06-04 17:22] kobulloc-MSFT commented on #1810
@brandonh-msft It looks like [others have run into this issue](https://github.com/PowerShell/PowerShell/issues/12777) as well.  I would try installing through the MSI:
https://docs.microsoft.com/en-us/powershell/azure/install-az-ps-msi?view=azps-6.0.0#install-or-update-on-windows-using-the-msi-package

[2021-06-08 17:33] kobulloc-MSFT commented on #1810
@brandonh-msft This appears to be a product issue.  I'm going to close this GitHub issue as there doesn't appear to be anything we can do from a documentation standpoint and follow up with a bug for tracking if that looks like it is appropriate.

[2021-06-08 17:33] #1810 closed

[2021-06-08 22:26] kobulloc-MSFT commented on #1810
It looks like the conversation has moved to https://github.com/PowerShell/PowerShell/issues/12777.

I'll include this there but there are two other scenarios to be aware of:

Az module falsely throws Admin rights required error:
(Trying to install az module when it already exists)
https://docs.microsoft.com/en-us/azure-stack/operator/powershell-install-az-module?view=azs-2102#error-thrown-when-ins

[2021-06-09 20:12] mikefrobbins commented on #1748
The referenced GitHub issue was for a product related issue, not a docs one. For docs related issues, they should always be logged in the repo where the articles resides. Most service teams have their own content developers who own their specific content. They will reach out to us if they need our assistance.

[2021-06-09 20:12] #1748 closed

[2021-06-30 13:17] Axilla-the-HUN opened #1823 "How about a screenshot or two?"
Once again, i am signing in and complaining about your documentation. It's thin and pretty weak to say the least. My job is to decipher your unexplained processes and cobble together the correct way to do it for customers who don't speak your cryptic Microsoft runes.  After 20 years using Rosetta stones I have gathered in piles of One Note and Notepad Powers-hell garbage collecting I have finally

[2021-06-30 13:45] mikefrobbins commented on #1823
Please elaborate on the problems with the referenced page as it contains no invalid links, mistakes, or incorrect code that we're aware of.

[2021-06-30 14:17] kobulloc-MSFT commented on #1823
@Axilla-the-HUN When I was starting out, [PowerShell 101](https://docs.microsoft.com/en-us/powershell/scripting/learn/ps101/01-getting-started?view=powershell-7.1) (by our own @mikefrobbins ) was very helpful and to your point the screenshots were especially useful in getting through those first couple steps.  @mikefrobbins I'll send some screenshots I think will be helpful for readers.

[2021-06-30 15:34] Axilla-the-HUN commented on #1823
Why do the repositories show up as untrusted? From my customer network I can't download or install the basic command to Install the Azure AD module. It fails getting the repository. Install-Module -Name AzureAD doesn't work. The list of NuGet providers doesn't work (unable to find the package provider 'NuGet'). Could the linkage to these repositories be trusted and available on the Microsoft downl

[2021-06-30 15:39] mikefrobbins commented on #1823
Since PowerShell is text based, screenshots provide little value as shown in the following screenshot.
![image](https://user-images.githubusercontent.com/6719572/123989915-efff4700-d98e-11eb-8ecd-d7734a051a0b.png)

Both input and output can be expressed in a text representation on the webpage without the need for screenshots.
[code]

The only difference in the two is the commands shown in screensh

[2021-06-30 15:46] mikefrobbins commented on #1823
This isn't something controlled by Azure PowerShell. Looping in @sdwheeler who can speak to this from a PowerShell docs point of view.

This GitHub repo is for Azure PowerShell inlcuding the Azure, AzureRM, Az, and Azure Stack PowerShell modules. AzureAD and Office 365 PowerShell modules are supported in other repos. @kobulloc-MSFT Can you provide the information on where to report issues for thos

[2021-06-30 15:58] kobulloc-MSFT commented on #1823
@mikefrobbins I'll look into where those issues should be reported.

[2021-06-30 16:46] kobulloc-MSFT commented on #1823
@Axilla-the-HUN It appears that this intentional not because the PowerShell Gallery is untrusted but because the goal is to prevent users from installing any module or script (even from Microsoft) without first verifying that is really what they want to do:

https://github.com/Azure/azure-powershell/issues/9687#issuecomment-513004901

I created a fresh VM and went through the installation process

[2021-06-30 17:12] mikefrobbins commented on #1823
Docs for both the MSOnline and AzureAD PowerShell modules are supported in the [azure-docs-powershell-azuread](https://github.com/Azure/azure-docs-powershell-azuread) GitHub repo. Please log an issue in that repo for any issues related to docs for either of those modules.

[2021-06-30 17:12] #1823 closed

[2021-07-19 13:09] Perfumiste777 opened #1839 "https://github.com/users/Perfumiste777/projects/1"
[Should be a better commitment with the payment method/Pre Prepaid cards are as safe as the Deposit card ,both have a Governmental trust.I do work about it will you.?There is an official acceptance in E.U about the way our personal Details are used.
What is this make your Company violate the rules against E.U Citizens Rights to rule their money or a part of their Right ,is the one my Source focus

[2021-07-19 14:03] kobulloc-MSFT commented on #1839
@Perfumiste777 For billing related issues you'll want to refer to the [Cost Management and Billing documentation](https://docs.microsoft.com/en-us/azure/cost-management-billing/), contact billing support (Portal > Help + support > New support request > Billing, then complete the wizard), or you'll want to [leave feedback](https://feedback.azure.com/forums/170030-signup-and-billing) for the product

[2021-07-19 14:03] #1839 closed

[2021-07-19 16:39] theonlycoder opened #1841 "Uninstall commands fail due to PowerShell bug"
Hi all,

I have just tried using the instructions under the heading _"Option 2: Uninstall the Az PowerShell module from PowerShellGet"_ to uninstall the `Az` PowerShell module. However, The first command (see below) fails to retrieve anything despite the fact the `Az` module is present on the machine. However, if I pass `Az*` as the `-Name` parameter it does return all the `Az.[Something]` sub-mod

[2021-07-19 18:47] kobulloc-MSFT commented on #1841
@theonlycoder Thank you very much for bringing this to our attention (and for providing the results of your investigation).  We are assigning this to the document author for review.

[2021-07-19 21:36] mikefrobbins commented on #1841
@theonlycoder I've confirmed that this is indeed an issue with Windows PowerShell 5.1.

[2021-07-22 17:28] #1841 closed

[2021-07-22 17:33] mikefrobbins commented on #1841
@theonlycoder The uninstallation article has been updated to use `Get-InstallModule` which works in Windows PowerShell instead of `Get-Module`. Once the `Az.Tools.Installer` module becomes GA, the articles will be updated to use it.

[2021-07-23 19:02] theonlycoder commented on #1841
@mikefrobbins sounds good to me! I appreciate the point about the new module not being GA yet; to be honest I hadn't noticed. Thanks for taking the feedback on board and updating the article so quickly.

[2021-07-27 16:19] swettstein opened #1847 "Installing the Az module does not include Az.Search"
The Az module contains almost all of the other Az.* modules except Az.Search. Why is it not included? Are there other Az.* modules not included as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3343dd4-11be-72fd-1cc9-e081b4ffbb35
* Version Independent ID: bd4fb194-d6af-e442-5ced-793e09c3fa83
* Content: [Install

[2021-07-27 16:36] HarshitaSingh-MSFT commented on #1847
Hello @swettstein , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-27 20:09] mikefrobbins commented on #1847
@swettstein Only GA (generally available) modules are installed as part of the Az PowerShell module. Non-GA modules (Az modules less than version 1.0) have to be installed separately. We recently announced a new module, [AzPreview](https://www.powershellgallery.com/packages/AzPreview/) that includes both GA and preview modules as a single install. See our [July 2021 - Azure PowerShell updates](htt

[2021-07-27 20:09] #1847 closed

[2021-08-05 08:47] arsdragonfly opened #1855 "Mandate Uninstallation of older Azure Powershell from Visual Studio Installer"
Visual Studio might install an older version (2018) of Azure Powershell into the system. This older version needs to be uninstalled via Visual Studio Installer first before installing the latest version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc294cf9-671e-dc74-2f74-90a775cb0187
* Version Independent ID: bd4fb1

[2021-08-05 15:14] kobulloc-MSFT commented on #1855
@arsdragonfly Thank you for your feedback!  We are investigating and will get back to you shortly.

[2021-08-05 21:02] kobulloc-MSFT commented on #1855
@arsdragonfly Windows 10 typically comes with PowerShell 5.0 or 5.1 depending on the version.  It looks like the Azure development workload for Visual Studio 2019 (tested with Pro) includes Azure Powershell (Developer PowerShell for VS 2019).

![image](https://user-images.githubusercontent.com/37556655/128420660-e61cebe5-0cca-4462-b556-ae42f60c1183.png)

After installing Visual Studio 2019 Pro wit

[2021-08-05 23:38] kobulloc-MSFT commented on #1855
@arsdragonfly It looks like Visual Studio 2019 and the Azure development workload with Azure Powershell installs AzureRM and you run into issues with both on the same system:

https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-6.3.0#az-and-azurerm-coexistence

![image](https://user-images.githubusercontent.com/37556655/128434617-5a4f005d-81bd-450a-b893-725577d20080.png)

[2021-08-06 10:48] arsdragonfly commented on #1855
Correct. Azure PowerShell from Visual Studio is AzureRM, which prevents the
latest version from being installed.

On Fri, Aug 6, 2021, 7:38 AM kobulloc-MSFT ***@***.***> wrote:

[2021-08-08 19:56] kobulloc-MSFT commented on #1855
@arsdragonfly I'll update the documentation so that others don't run into this.  Thank you for bringing this to our attention!

My repro:

1. Created a fresh Windows 10 VM with PowerShell 5.1 installed by default
2. Installed Visual Studio 2019 with the Azure development workload which includes Azure PowerShell (and that in turn installs the AzureRM module)
3. Installed PowerShell 7
4. Attempted t

[2021-08-10 18:14] #1855 closed

[2021-09-02 03:56] Viajaz opened #1874 "AllowClobber not specified for Installation of Azure Az PowerShell module on Windows PowerShell"
https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-6.3.0#installation-on-windows-powershell
-should specify that `-AllowClobber` needs to be used to prevent error:
[code]

This issue is similar to https://github.com/Azure/azure-powershell/issues/2916

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-09-02 04:30] BhargaviAnnadevara-MSFT commented on #1874
@Viajaz Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-02 20:05] mikefrobbins commented on #1874
@Viajaz Can you provide the output of the following:

[code]

The similar issue that was linked is for a different older module (Azure) which is for the classic service management deployment model instead of Azure Resource Manager.

[2021-09-02 21:18] Viajaz commented on #1874
@mikefrobbins I understand it was for a different module, just saying it's a similar issue for context.

[code]

[2021-09-02 21:45] mikefrobbins commented on #1874
@Viajaz Please see the [Az and AzureRM coexistence](https://docs.microsoft.com/powershell/azure/install-az-ps#az-and-azurerm-coexistence) section of the Azure PowerShell installation documentation.

[2021-09-02 22:15] Viajaz commented on #1874
@mikefrobbins Looks like I should have scrolled down, perhaps it's worth adding a mention to the https://docs.microsoft.com/en-gb/powershell/azure/install-az-ps?view=azps-6.3.0#installation-on-windows-powershell section too?

[2021-09-03 04:54] Raag007 opened #1877 "Not at all clear documentation."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b963d11-ab7f-b257-2ec2-89e1327f1b0a
* Version Independent ID: dc1846a2-4d0a-fd2b-ecd1-1670435e86b6
* Content: [Set-AzNetworkSecurityRuleConfig (Az.Network)](https://docs.microsoft.com/en-us/powershell/module/az.network/set-aznetworksecurityruleconfig

[2021-09-03 06:24] HarshitaSingh-MSFT commented on #1877
Hello @Raag007 , thanks for the question! We are taking a look into this and will get back to you soon. Can you tell me what is not clear in the documentation?

[2021-09-03 19:37] #1874 closed

[2021-09-03 19:38] mikefrobbins commented on #1874
@Viajaz I've added an important note to the installation section that says see the AzureRM coexistence section of the article if you have the AzureRM PowerShell module installed.

[2021-09-04 04:44] jenellea opened #1882 "16 replications of the command syntax--and no headings."
Is my view of this page broken? This looks like 16 identical occurrences of the same code block.  The Heading 3s are not visible, either. I believe both issues can be addressed by 1) providing a blank line between the heading and the fence below it in the MD file and 2) Bolding the **exception** parameter.

Here's the text for the first 3 scenarios; the only changes I made are adding a blank line

[2021-09-04 04:54] shashishailaj commented on #1882
@jenellea Thank you for your feedback . We will investigate and update the thread.

[2021-09-06 07:03] HarshitaSingh-MSFT commented on #1877
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-09-06 17:18] dcaro commented on #1877
@HarshitaSingh-MSFT can you please transfer this issue to the source repo: https://github.com/Azure/azure-powershell.

[2021-09-06 17:26] Raag007 commented on #1877
Hi @HarshitaSingh-MSFT -

On your sandbox, when you get a chance please try to run these commands provided in this document.

[code]

[2021-09-07 03:21] HarshitaSingh-MSFT commented on #1877
We will close this out, but if you feel you need more information please just let us know. We will now close this issue in GitHub but hope to engage with you via our GitHub issue shared above.

[2021-09-07 03:21] #1877 closed

[2021-09-07 03:39] HarshitaSingh-MSFT commented on #1882
@jenllea, yes, the page looks broken. I have made the changes and created a PR internally. Thanks for pointing it out.

[2021-09-07 09:42] ChrisSommers opened #1885 "Property 'NumberOfVirtualNetworkLinks' not reported"
Using 1.0.3 of the Az.PrivateDns module, the NumberOfVirtualNetworkLinks property seems to always show 0, even when there are linked VNets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ebeb37a-283d-7500-83d0-51c8c75255df
* Version Independent ID: 110b4b89-cbfc-a095-991e-cb8460786d73
* Content: [Get-AzPrivateDnsZone (

[2021-09-07 10:57] BhargaviAnnadevara-MSFT commented on #1885
@ChrisSommers Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-07 19:41] benrobot opened #1887 "Document slot name "production""
This page will be more useful if it includes an example or a note to specify that the slot name `production` should be used when the source or destination is intended to be the production slot. I tried and tried using the web app name as the slot name for production but thanks to https://stackoverflow.com/questions/67331315/swap-azure-webapp-slot-to-production-slot-with-powershell I learned to use

[2021-09-08 04:04] BhargaviAnnadevara-MSFT commented on #1887
@benrobot Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-09 06:02] HarshitaSingh-MSFT commented on #1882
The PR preview is taking time and I will update once it is done.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-09 06:02] #1882 closed

[2021-09-10 14:19] krhill81 opened #1895 "Translated Address"
[Enter feedback here]
New-AzFirewallPolicyNatRuleCollection does not actually accept -TranslatedAddress and -TranslatedPort as parameters, which makes sense.  In the Syntax it is a configurable variable, since it is not supported should this show here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc44d048-363a-a389-c

[2021-09-10 14:21] krhill81 opened #1896 "Azure Firewall policy variable"
[Enter feedback here]
Set-AzFirewallPolicyRuleCollectionGroup does not take in -AzureFirewallPolicy with AzureFirewallPolicy object and instead expects -FirewallPolicyName with string value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 777f3765-ab03-a9ba-fd73-f5987795420e
* Version Independent ID: 1c0657cd-d941-b25a-

[2021-09-10 14:22] krhill81 opened #1897 "Rule creation"
[Enter feedback here]
New-AzFirewallPolicyNatRuleCollection's -Rule parameter takes in array of Rules, not just a single Rule. Documentat states -Rule (PSAzureFirewallPolicyNetworkRule) which is inaccurate. This should be -Rule (PSAzureFirewallPolicyNetworkRule[]).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc44d04

[2021-09-10 17:59] BhargaviAnnadevara-MSFT commented on #1885
@ChrisSommers Indeed, this is true when you invoke the `Get-AzPrivateDnsZone` cmdlet **without** the `-ResourceGroup` and `-Name` parameter. It seems like this property isn't populated although present in the ouput of `Get-AzPrivateDnsZone`. However, when the `-ResourceGroup` and `-Name` parameters are passed along, you'd see the property reports the correct value.

Digging a little deeper, this i

[2021-09-10 17:59] #1885 closed

[2021-09-10 21:53] ChaitanyaNaykodi-MSFT commented on #1897
Hello @krhill81
Thank you for your feedback! We will review and update as appropriate.

[2021-09-10 21:55] ChaitanyaNaykodi-MSFT commented on #1896
Hello @krhill81
Thank you for your feedback! We will review and update as appropriate.

[2021-09-10 21:56] ChaitanyaNaykodi-MSFT commented on #1895
Hello @krhill81
Thank you for your feedback! We will review and update as appropriate.

[2021-09-13 17:39] BhargaviAnnadevara-MSFT commented on #1887
@benrobot This change is being worked upon internally and will reflect in the public docs once it is reviewed and merged. Thanks again for taking the time to provide feedback to improve the Azure PowerShell docs.

[2021-09-13 17:39] #1887 closed

[2021-09-17 00:28] ChaitanyaNaykodi-MSFT commented on #1895
Hello @krhill81
We [have proposed ](https://github.com/Azure/azure-powershell/pull/15894) the suggested changes to the document, which are currently under doc author's review. We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-09-17 00:28] #1895 closed

[2021-09-17 00:28] ChaitanyaNaykodi-MSFT commented on #1897
Hello @krhill81
We [have proposed ](https://github.com/Azure/azure-powershell/pull/15894) the suggested changes to the document, which are currently under doc author's review. We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-09-17 00:28] #1897 closed

[2021-09-17 01:48] ChaitanyaNaykodi-MSFT commented on #1896
Hello @krhill81
We have [proposed](https://github.com/Azure/azure-powershell/pull/15895) the suggested changes to the document, which are currently under doc author's review. We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-09-17 01:48] #1896 closed

[2021-09-29 06:17] jiasli opened #1911 "Inconsistent documentation for uninstalling old versions"
This doc https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-6.4.0#update-the-azure-powershell-module says:

But the link https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=azps-6.4.0#feedback only shows how to uninstall **all versions**, instead of **only old versions**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-09-29 06:25] jiasli opened #1912 "The uninstallation script is much slower than direct file deletion"
I used the provided script to uninstall Azure PowerShell:

[code]

But the uninstallation is extremely slow.

Alternatively, I got the location of modules with

[code]

Then delete everything with

[code]

This is much faster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7a2bfe1-b332-e523-007b-5216111343ca
* Version

[2021-09-29 12:52] MonikaReddy-MSFT commented on #1911
@jiasli - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-09-29 12:54] MonikaReddy-MSFT commented on #1912
@jiasli - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-09-29 21:32] mikefrobbins commented on #1912
@jiasli While the command you provided is indeed much faster, it would remove any PowerShell module the user has installed in the current user scope that begins with `Az`, not just the ones installed by the Az PowerShell module.

The code provided in the official documentation determines what modules were installed based on the hidden XML file in the module's directory and then iterates through th

[2021-09-29 21:32] #1912 closed

[2021-09-29 21:33] #1911 closed

[2021-09-29 21:51] mikefrobbins commented on #1911
@jiasli The "Update the Azure PowerShell module" section of the installation documentation has been updated to reflect that we only support uninstalling all versions of the Az PowerShell module.

This policy is in place because uninstalling the Az PowerShell module version 6.3.0 would also uninstall the following modules that are required by the Az PowerShell module version 6.4.0.

Az.Advisor vers

[2021-11-06 07:50] cveld opened #1955 "What is the roadmap towards Azure AD Graph API free?"
I guess it is good to add a note to the documentation with regards to becoming fully Azure AD Graph API free.

Is the stable version of Az.Resources already Azure AD Graph API free?

During Ignite there was an announcement with a call to action to test out the latest prelease which contains a full move to Microsoft Graph API:

https://techcommunity.microsoft.com/t5/azure-tools/azure-powershell-ign

[2021-11-06 14:17] GiftA-MSFT commented on #1955
@cveld we'll review your feedback and get back to you shortly. Thanks.

[2021-11-08 16:09] #1955 closed

[2021-11-09 16:52] cveld commented on #1955
I am not sure if your pointer is helpful. My question is really asking about clarification:
* is 5.0.0-preview the only version that is providing a non Azure AD Graph implementation currently?
* 4.4.1; the latest stable therefore is still using Azure AD Graph.

https://www.powershellgallery.com/packages/Az.Resources

[2021-11-09 17:01] mikefrobbins commented on #1955
Correct for both questions.

[2021-11-11 16:59] mikefrobbins commented on #1955
The non Azure AD Graph implementation will become generally available with our next major release of the Az PowerShell module, version 7.x in December of 2021.

[2021-11-18 00:00] gilbertto10 opened #1961 "on my enviromment i have to use -SkipPublisherCheck to work."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92d4b1f6-1862-e6c9-f102-86daf4298e1f
* Version Independent ID: c6b88fad-dfa9-e0b4-b3ed-7b889c32d813
* Content: [Install the Azure Az PowerShell module](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-6.6.0)
* Content Source:

[2021-11-18 00:00] #1961 closed

[2021-11-23 03:21] PramodValavala-MSFT commented on #1961
@gilbertto10 Looks like you have closed this issue soon after closing it. I hope whatever issue you had; you were able to resolve.

[2021-12-01 12:05] rcastoro commented on #1592
Fix for me was un-install the azure powershell module that was installed as a result of the Visual Studios Installer, then manually install the Az Module.

[2021-12-01 13:07] mikefrobbins commented on #1592
@rcastoro Correct. We have that scenario documented in [the troubleshooting section of the installation documentation](https://docs.microsoft.com/powershell/azure/install-az-ps#troubleshooting).

Technical details:

The problem is that Visual Studio installs AzureRM in the all-users scope of Windows PowerShell. The Az module and the AzureRM module are mutually exclusive and cannot be installed in

[2022-01-21 04:13] italukder opened #2008 "M2A 2"
Only for github.com issue used

[2022-01-21 10:59] #2008 closed

[2022-01-21 11:01] italukder commented on #2008
M2A 2 do not run Microsoft

[2022-02-02 14:08] michael-vella opened #2018 "Outdated information"
In the **Features** section, under Security and stability, there is a bracket (coming in 2021). This is the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 842d35f3-bca4-de44-cd9e-5c81798fdb17
* Version Independent ID: a1a4e76d-f614-b29b-8b74-283aa1315a9e
* Content: [Introducing the Azure Az PowerShell module](ht

[2022-02-02 17:14] MonikaReddy-MSFT commented on #2018
@michael-vella - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-02 17:14] #2018 closed

[2022-02-05 06:29] theGOTOguy opened #2024 "Segfault when installing Az.Accounts module in Linux per instructions on page"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dba95439-208f-3cd6-74f0-19c97d113c0c
* Version Independent ID: c6b88fad-dfa9-e0b4-b3ed-7b889c32d813
* Content: [Install the Azure Az PowerShell module](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-7.1.0)
* Content Source: [docs-conceptua

[2022-02-05 06:40] theGOTOguy commented on #2024
Looking into it, it is a permissions issue.  It's unclear to me why I wasn't allowed to install it scoped to the current user.  `sudo pwsh` allows me to install it for all users, then `pwsh` back in as a normal user and use the module.  I don't have time to investigate whether there is an issue with my PowerShell installation that's preventing me from installing user-scoped modules or whether ther

[2022-02-05 06:40] #2024 closed

[2022-02-09 15:20] ToSur opened #2029 "Cannot find type [Microsoft.Azure.Commands.ActiveDirectory.PSADPasswordCredential]: verify that the assembly containing this type is loaded."
Hi community,

We are running a script which includes the creation of credentials :

$credential = New-Object -TypeName Microsoft.Azure.Commands.ActiveDirectory.PSADPasswordCredential -Property @{ StartDate=Get-Date; EndDate=Get-Date -Year 2024; Password="Password"}

=> but it results in the error message _"New-Object : Cannot find type [Microsoft.Azure.Commands.ActiveDirectory.PSADPasswordCredent

[2022-02-09 23:15] Karishma-Tiwari-MSFT commented on #2029
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2022-02-10 07:17] ToSur commented on #2029
The documentation I4m referring to : [https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.commands.activedirectory.psadpasswordcredential?view=az-ps-6](url)

[2022-02-10 16:03] mikefrobbins commented on #2029
The referenced article is for verion 6.x of the Az PowerShell module. Your code works as designed with that version. Beginning with Az version 7.x, the object type changed due to the migration from the Azure AD API to the Microsoft Graph API.

For more information, see [Azure AD to Microsoft Graph migration changes in Azure PowerShell](https://docs.microsoft.com/powershell/azure/azps-msgraph-migra

[2022-02-10 16:03] #2029 closed

[2022-02-18 07:06] HoLengZai opened #2041 "trailing curly bracket on the Start-Job example"
The code example show this:
[code]
The last curly bracket must be deleted after -ArgumentList

On the last example of that page too, after -ArgumentList:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba707551-20a2-322c-0c8f-9dfe772238bf
* Version Independent ID: 66ef4cc6-052f-5fa6-b5a2-ffececc5b6a6
* Content:

[2022-02-18 12:01] MonikaReddy-MSFT commented on #2041
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-18 18:43] #2041 closed

[2022-02-21 08:17] 2929butakimchi opened #2044 "Please clearly mention the AzureRM modules will be not fixed or developed further"
[Enter feedback here]
I can see the AzureRM module will be out of support in 29 February 2024.
To avoid the confusion, please clearly mention the AzureRM modules will be not fixed or developed further even if there is the AzureRm module related error occurs in PowerShell or Automation Runbook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-02-21 19:02] SaurabhSharma-MSFT commented on #2044
@2929butakimchi Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-23 16:05] mikefrobbins commented on #2044
@2929butakimchi I've contacted @dcaro, the Azure PowerShell PM to advise on this issue.

[2022-02-24 09:18] 2929butakimchi commented on #2044
@SaurabhSharma-MSFT  @mikefrobbins Thank you very much for the quick response!
I am now communicating with Azure PowerShell PM for the issue. Thank you!

[2022-02-25 07:35] Riiiiika opened #2053 "tokencache.dat should be replaced by msal.cache for newer PS version in doc"
In below introduction, it's said user needs to mount TokenCache.dat file to azure-powershell container to use host authentication:
![image](https://user-images.githubusercontent.com/73595930/155671395-88a1486c-ffc5-4293-9d48-c768c727b27b.png)

However there's no such file under /root/Azure, but only one empty directory called "tokencache.dat" exists (the bak files are backups during test):
![image

[2022-02-25 17:41] SaurabhSharma-MSFT commented on #2053
@Riiiiika Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-08 21:26] #2053 closed

[2022-03-08 21:29] mikefrobbins commented on #2053
@Riiiiika The host authentication section has been removed from the documentation. This is no longer an option because the cache is now encrypted.

[2022-03-10 21:11] bakandah opened #2070 "[Microsoft Documents Feedback]"
Hello,
While I was doing troubleshooting for VM Backup Extension, I noticed that there was no example provided in the following document:

* [Set-AzVMBackupExtension](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbackupextension?view=azps-7.3.0)

![image](https://user-images.githubusercontent.com/67425540/157755493-e06156a0-a351-46fb-a8d8-090b3fefd6b5.png)

Can you please u

[2022-03-10 23:54] MarileeTurscak-MSFT commented on #2070
@bakandah
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-16 17:30] bakandah commented on #2070
Thank you @MarileeTurscak-MSFT

[2022-03-16 18:11] mikefrobbins commented on #2070
@bakandah The cmdet reference for Azure PowerShell is autogenerated. I've logged an issue in the source code repo for Azure PowerShell to have the appropriate examples added.

See azure/azure-powershell#17504 for more details.

[2022-03-16 18:11] #2070 closed

[2022-03-16 22:17] ig-tr commented on #1018
I had issue in connect with Connect-ExchangeOnline
i had error:
`Error connection in Exchange Online: Invalid provider type specified. .
`
i use your way. and it work for me. thnks

[2022-03-18 01:55] dcaro opened #2081 "TOC should display Az 7 in what's new TOC"
breaking changes page should appear in two locations
- what's new
- migrate from previous versions

[2022-03-18 16:18] KranthiPakala-MSFT commented on #2081
@dcaro - Thanks for the feedback. Could you please help provide the relevant document link which you are referring to?

[2022-03-29 13:42] placidseven opened #2087 "Power state is missing"
I'm not getting the powerstate for vms i.e. "Deallocated", "Running"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b408d60-f96c-a7ea-3fc5-638fcaf322c0
* Version Independent ID: c186d2b8-ecb0-9d47-bb2a-3a3ede3f0c70
* Content: [Query output of Azure PowerShell cmdlets](https://docs.microsoft.com/en-us/powershell/azure/

[2022-03-29 18:01] MonikaReddy-MSFT commented on #2087
@placidseven - It doesn't appear that the cmdlets used in the article return any type of Power state property.
Can you elaborate on what you are trying to accomplish?

[2022-03-30 18:12] MonikaReddy-MSFT commented on #2087
@placidseven - Can you elaborate on what you are trying to accomplish here in this issue?

[2022-04-04 01:06] MonikaReddy-MSFT commented on #2087
@placidseven - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information requested and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-04-04 01:06] #2087 closed

[2022-04-11 22:07] jothki opened #2102 "Simpler way to switch between subscriptions than provided by documentation"
This page provides this method for changing between subscriptions:
$context = Get-AzSubscription -SubscriptionId ...
Set-AzContext $context

I'm not sure if this capability was added since the documentation was created, but this operation can be done simply with
Set-AzContext -Subscription ...

This method skips an unnecessary call to the API, and would likely be easier for new users to understand

[2022-05-02 13:15] UnknownDarkMatter opened #2108 "the Connect-AzAccount cmdlet is still unrecognized even after having installed the module"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a78325c3-18f8-b7fc-6fd1-35cf2fd0068e
* Version Independent ID: c6b88fad-dfa9-e0b4-b3ed-7b889c32d813
* Content: [Install the Azure Az PowerShell module](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-7.5.0)
* Content Source:

[2022-05-02 15:49] UnknownDarkMatter commented on #2108
I found why, it is because I had the Microsoft Azure CLI installed and it caused an Exception during the installation of the AZ Module

[2022-05-02 17:21] Karishma-Tiwari-MSFT commented on #2108
Looks like your issue is resolved. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-05-02 17:21] #2108 closed

[2022-05-02 17:53] mikefrobbins commented on #2108
@UnknownDarkMatter I haven't seen the Azure CLI cause an issue. This problem is normally caused by having both the AzureRM and Az PowerShell modules installed. For more information, see [Command found but could not be loaded](https://docs.microsoft.com/powershell/azure/troubleshooting#command-found-but-could-not-be-loaded).

[2022-05-03 20:16] #2102 closed

[2022-05-19 06:57] kelvinhandley opened #2128 "Guide incorrect"
The guide has an example for version 6.13.2 but the command doesn't support beyond 6.13.1. See below:

New-AzUpgradeModulePlan -FromAzureRmVersion 6.13.2 -ToAzVersion 5.7.0 -DirectoryPath "deploy.json" -OutVariable Plan

New-AzUpgradeModulePlan: Cannot validate argument on parameter 'FromAzureRmVersion'. The argument "6.13.2" does not belong to the set "6.13.1" specified by the ValidateSet attribu

[2022-05-19 13:37] MonikaReddy-MSFT commented on #2128
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-19 16:08] #2128 closed

[2022-06-24 08:57] rezarms opened #2195 "Remove-AzADSpCredential doesn't remove credentials"
I'm using  Remove-AzADSpCredential  to remove password credentials but it doesn't do anything.
I don't receive any error  but when check credentials they are still there.

In debug mode I see it's calling correct API and the body doesn't contain the deleted one

[code]
[code]

It seems it can be the API error.

[2022-06-24 20:11] mikefrobbins commented on #2195
@rezarms Please log this issue in the [azure-powershell source repo](https://github.com/Azure/azure-powershell/issues) since it appears to be a product issue. This repo is for only for documentation.

[2022-06-24 20:11] #2195 closed

[2022-07-22 06:30] plainEYA opened #2219 "P_ws.vsps?zs!go.AZU"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d17db1e-68f9-55d6-7d79-af73c1eb0f8b
* Version Independent ID: c6b88fad-dfa9-e0b4-b3ed-7b889c32d813
* Content: [Install the Azure Az PowerShell module](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-8.1.0)
* Content Source:

[2022-07-22 14:03] MonikaReddy-MSFT commented on #2219
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-07-25 17:42] MonikaReddy-MSFT commented on #2219
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-07-26 03:16] MonikaReddy-MSFT commented on #2219
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-07-26 03:16] #2219 closed

[2022-08-25 19:47] w-azure opened #2265 "Upgrading PowerShell causes error / message"
When using this command:

`Install-Module -Name Az -Scope CurrentUser -Repository PSGallery -Force`

I get this error / message:

`Install-Package: The following commands are already available on this
system:'Login-AzAccount,Logout-AzAccount,Resolve-Error,Send-Feedback'. This module 'Az.Accounts' may override the
existing commands. If you still want to install this module 'Az.Accounts', use -Allow

[2022-08-25 19:54] mikefrobbins commented on #2265
@w-azure It appears that you have the AzureRM PowerShell module installed. The AzureRM PowerShell module will need to be removed prior to installing the Az PowerShell module.

If you need both installed on the same system, install AzureRM in the current user scope of Windows PowerShell and the Az in the current user scope of PowerShell 7.

For more information, see [Az and AzureRM coexistence](htt

[2022-08-25 19:55] w-azure opened #2266 "PowerShell commands gives error / message"
When using this command:

`Install-Module -Name Az -Scope CurrentUser -Repository PSGallery -Force`

I get this error / message:

`Install-Package: The following commands are already available on this
system:'Login-AzAccount,Logout-AzAccount,Resolve-Error,Send-Feedback'. This module 'Az.Accounts' may override the
existing commands. If you still want to install this module 'Az.Accounts', use -Allow

[2022-08-25 20:09] mikefrobbins commented on #2266
Closing due to duplicate issue. See #2265.

[2022-08-25 20:09] #2266 closed

[2022-08-30 15:58] mikefrobbins commented on #2265
@w-azure Following up to confirm if the AzureRM module was installed and if removing it resolved the issue?

[2022-08-31 19:03] PatrickFarley opened #2276 "No prerequisites section?"
All I know is, none of the commands in this doc work out of the box. What do I need to install to be able to follow the steps here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6218e372-7c8c-b41d-34b1-4a418896a715
* Version Independent ID: 411fe566-abd8-a884-1cc8-574d192bff37
* Content: [Use Azure service principals

[2022-08-31 20:23] mikefrobbins commented on #2276
@PatrickFarley You'll need to install the [Az PowerShell module](https://docs.microsoft.com/powershell/azure/install-az-ps) or use [Azure Cloud Shell](http://shell.azure.com/).

I'll add a prerequisites section to the referenced article.

Thanks for the feedback!

[2022-09-01 16:24] #2265 closed

[2022-09-21 18:00] abatishchev opened #2301 "Permission issues with AzAD cmdlets points to API reference"
Section "Permission issues with AzAD cmdlets" points to [Microsoft Graph permissions reference](https://learn.microsoft.com/en-us/graph/permissions-reference) which is a general reference, not a troubleshooting guide or anything like that.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e939cb30-b3d1-9549-a856-a46380b9

[2022-09-22 04:54] RamanathanChinnappan-MSFT commented on #2301
@abatishchev

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 07:12] RamanathanChinnappan-MSFT commented on #2301
@abatishchev

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-28 14:52] jonwbstr opened #2306 "New-AzADServicePrincipal output has changed"
Hello,

This is the section that needs to be updated:
[code]

The output object for New-AzADServicePrincipal has changed and the secret is now at:
[code]

Using Secure strings
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 125441de-3f79-414d-0fc3-37f7c1b71d32
* Version Independent ID: b0214cf8-b8c7-23dc-f3bf-f9b

[2022-09-28 16:10] SaibabaBalapur-MSFT commented on #2306
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 16:22] jonwbstr opened #2308 "WARNING service principal secret is stored in plain text"
Hello,

Please share this warning in the article. I am currently reconsidering this approach after realizing the secret in stored in clear text on the machine.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 125441de-3f79-414d-0fc3-37f7c1b71d32
* Version Independent ID: b0214cf8-b8c7-23dc-f3bf-f9bfc39ba98e
* Co

[2022-09-29 04:42] SaibabaBalapur-MSFT commented on #2308
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 19:56] #2308 closed

[2022-10-17 16:36] #2301 closed

[2022-10-17 21:46] #2276 closed

[2022-10-18 17:55] mikefrobbins commented on #2306
@jonwbstr What version of the Az PowerShell module are you using? The documentation is accurate for the currently supported versions (8.3.0, 9.0.0, and 9.0.1). You can use the following command to determine the installed versions if you installed the Az module from the PowerShell Gallery:

[code]

[2022-10-24 20:08] mikefrobbins commented on #2306
@jonwbstr We'll proceed with closing this issue since we've confirmed that the documentation for supported versions of the Az PowerShell module is accurate.

[2022-10-24 22:49] jonwbstr commented on #2306
Sorry, for missing the earlier reply. I believe I was using 8.3.0 at the time of reporting this, but it works in the latest version 9.0.1, and that's good enough for me!
Thanks Mike!

[2022-11-20 16:21] stivoberlin commented on #2265
this does not resolve the issue.

[2022-11-22 16:22] Mike-Crowley opened #2387 "the second "patch" code sample is invalid"
the hyphen before the `method` parameter needs to be removed when splatting, as is the case with the earlier examples on this page.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cdb22d96-0efb-7248-c462-97cca48b45a2
* Version Independent ID: e5c2c3f5-e378-24a8-584a-09c147db9819
* Content: [Manage Azure resourc

[2022-11-23 04:05] YashikaTyagi-MSFT commented on #2387
@Mike-Crowley
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-25 06:25] microsoft-github-policy-service[bot] opened #2389 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-28 16:41] mikefrobbins commented on #2389
PR #2388 has been merged.

[2022-11-28 16:41] #2389 closed

[2022-11-28 16:52] mikefrobbins commented on #2387
@Mike-Crowley Thanks for reporting this issue. Update forthcoming.

[2022-11-28 17:21] #2387 closed

[2022-11-28 21:08] mikefrobbins commented on #1350
Specific details about the necessary permissions have been provided in the previous response.

[2022-11-28 21:08] #1350 closed

[2022-11-28 21:17] mikefrobbins commented on #1586
The content of the referenced articles has been updated. The following message about the Azure Service Management module only being supported on Windows has been added to the installation article.

![image](https://user-images.githubusercontent.com/6719572/204382603-0cb06861-0542-4ba5-acc2-a41af4bcb226.png)

[2022-11-28 21:17] #1586 closed

[2022-11-29 00:33] mikefrobbins commented on #1641
Per @dcaro, the resolution to this issue has been completed.

[2022-11-29 00:33] #1641 closed