[2019-06-26 22:50] bichuga commented on #1133
The line above should read

$Modules = (Get-Module -ListAvailable Az.*).Name |Get-Unique

[2019-06-28 16:42] cconrado opened #1135 "Need RSS"
It would be great if we had an rss feed for this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d01c302-204d-a4dd-a940-bc4c31fcff12
* Version Independent ID: 92f67fd1-c7b3-7afb-0009-9a2cc19187b8
* Content: [2.3.2 - June 2019](https://docs.microsoft.com/en-us/powershell/azure/release-notes-azureps?view=azps-2.3.2&viewF

[2019-06-28 17:42] sptramer commented on #1135
@cconrado I'm looking into whether or not we have support for this on our site publishing, and if we don't, am working to start a discussion about whether or not we could offer it. I will keep this ticket open for a while while we have those discussions so I can let you know if we can, or plan to, offer this support.

Thanks for the idea!

[2019-07-02 18:20] sptramer commented on #1128
Thanks for the feedback, release notes will be fixed in the near future.

[2019-07-02 20:35] sptramer commented on #1135
I've checked in with the site engineering team, and there isn't RSS support at this time (and there isn't any planned.) Instead you can follow the [team blog](https://docs.microsoft.com/en-us/teamblog/) on RSS. Additionally, we're working on allowing users to bookmark their most frequently visited content on their docs site profile.

[2019-07-02 20:35] #1135 closed

[2019-07-02 21:20] sptramer commented on #1133
You're correct that the current script may not work as expected. This is because uninstalling modules which use a `MinimumVersion` requirement rather than `RequiredVersion` can cause dependency problems when being removed, if only uninstalling a single version. Right now the removal script can only provide guidance on how to handle minimum version removal.

[2019-07-02 22:15] bichuga commented on #1133
Any thought on updating the docs to use some form of the script I provided?

On Tue, Jul 2, 2019, 14:20 Stephen Tramer <notifications@github.com> wrote:

[2019-07-03 23:28] dcaro commented on #1128
@ToMakeSense Thanks for opening the issue, we have reviewed the ChangeLog and Release Notes and fixed the occurrences of AzureRM.
The changes have just been merged minutes ago.

[2019-07-04 05:09] dcbrown16 commented on #1135
Following this page seems like a reasonable equivalent?
https://github.com/Azure/azure-powershell/releases

[2019-07-04 05:10] dcbrown16 opened #1142 "Fix ToC title"
Can we just go with "Az release notes" instead of specifying 2.1.0 there, which is several months out of date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdccb010-56a6-4321-76d8-204c6da79354
* Version Independent ID: 92f67fd1-c7b3-7afb-0009-9a2cc19187b8
* Content: [2.4.0 - July 2019](https://docs.microsoft.com/en-u

[2019-07-06 05:04] Geof23 opened #1143 "Thanks"
This is an excellent article, which I am testing out.  The suggestions for synchronization and persistent contexts are just what I needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10812813-f30a-19a6-9c2a-2bad1f708aae
* Version Independent ID: f641b6fa-c346-ad1d-65a6-793a4bedcbdf
* Content: [Persist Azure credenti

[2019-07-08 18:14] ankushbindlish2 commented on #1133
Same issue encountered.

PS H:\onebranch\Storage\XSync\Dev\src\Kailani> $versions | foreach { Uninstall-AllModules -TargetModule AzureRM -Version ($_.Version) -Force }
Creating list of dependencies...
WARNING: Could not find uninstall candidate for AzureRM.Profile:6.13.1 - module may require manual uninstall. Available versions are: 5.8.2, 5.8.3
WARNING: Could not find uninstall candidate for Azur

[2019-07-08 18:45] olga-microsoft opened #1144 "Change Get-AzureRmSubscription to Get-AzSubscription"
Get-AzureRmSubscription : The term 'Get-AzureRmSubscription' is not recognized as the name of a cmdlet, function,
script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is
correct and try again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ef7143a-d3c7-5240-

[2019-07-09 22:16] Mario3264 opened #1145 ""Cannot load PSReadline module. Console is running without PSReadline.""
This is an error I get every time I open Windows PowerShell, but not only that, Powershell-Get and PackageManagement are also broken in these ways:

```Install-Module : The 'Install-Module' command was found in the module 'PowerShellGet', but the module could not be loaded. For more information, run 'Import-Module PowerShellGet'.```

```Get-PackageProvider : The 'Get-PackageProvider' command was f

[2019-07-09 22:18] #1145 closed

[2019-07-11 22:56] sptramer commented on #1129
This should be fixed in the next site publish. Thanks!

[2019-07-11 22:57] #1129 closed

[2019-07-12 18:44] mganeshphani commented on #914
Didn't expect Microsoft to not think about the underlying modules and create such stupid script

[2019-07-12 20:23] mganeshphani commented on #1133
Didn't expect Microsoft to write a script that will be easily broken... lol

[2019-07-12 20:59] cmenzi commented on #914
@sptramer What should I do? What do you expect? I cannot solve this.

[2019-07-12 21:07] tfitzmac commented on #914
@cmenzi - does this script work for you?
[https://github.com/Azure/azure-quickstart-templates/blob/master/Deploy-AzTemplate.ps1](https://github.com/Azure/azure-quickstart-templates/blob/master/Deploy-AzTemplate.ps1)

[2019-07-15 17:24] #1143 closed

[2019-07-15 17:25] sptramer commented on #1144
You're looking at the documentation for AzureRM, as evidenced by the URL (https://docs.microsoft.com/en-us/powershell/azure/azurerm/manage-subscriptions-azureps?view=azurermps-6.13.0&). You want the documentation for the current release, located at https://docs.microsoft.com/powershell/azure/manage-subscriptions-azureps. Documentation in the `azurerm` path is for archive purposes only while users

[2019-07-15 17:25] #1144 closed

[2019-07-15 17:48] sptramer commented on #1142
This should be fixed at the next site publish. Thanks!

[2019-07-15 17:48] #1142 closed

[2019-07-15 19:16] theheatDK commented on #926
Any news? :-)

[2019-07-15 19:24] sptramer commented on #926
Unfortunately I haven't been able to get an answer from the subscription team in this time, I will see if I can get that information.

[2019-07-16 06:42] ToMakeSense commented on #1128
Checked the source URL https://github.com/Azure/azure-powershell/releases, It seems that it has not been fully fixed. see below:

**Az 2.4.0** (it's fix on both AzureRM and Az module)
![image](https://user-images.githubusercontent.com/6244148/61269050-fc089300-a7cf-11e9-9f4b-bad2acb482af.png)

**Az 2.3.2**
![image](https://user-images.githubusercontent.com/6244148/61269131-3a05b700-a7d0-11e9-9fdc-

[2019-07-16 20:33] jannikbuschke opened #1176 "Is it possible to restrict Service Principal access to a specific Resource Group?"
Question in title...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7fe99a2-1334-c424-2e68-942d99ea7c68
* Version Independent ID: 84b2cbcb-1f11-9a6d-23fd-5c8d76453fa8
* Content: [Use Azure service principals with Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps

[2019-07-16 21:22] sptramer commented on #1176
You're most likely to find the answer to this question in the official [Azure Active Directory](https://docs.microsoft.com/azure/active-directory/) documentation.

[2019-07-16 21:22] #1176 closed

[2019-07-17 16:09] Daemach commented on #932
Still should be explained on this page!

[2019-07-19 12:17] prabhakarreddy1234 commented on #910
@sptramer  doesn't service principal login also need `-Credential` ?

[2019-07-23 16:06] aboelter opened #1177 "Policy cmdlets cannot handle multiple not scopes"
New-AzPolicyAssignment and Set-AzPolicyAssignment cannot handle multiple -NotScope. According to documentation it is an array of string, which works unless you have multiple entries in the array. Running a debug on the cmdlet, it appears that it is not passing an array of strings into the rest command. Adding two entries as [String[]] to an array and passing it to the New command as:
New-AzPolicyA

[2019-07-26 06:17] ToMakeSense opened #1178 "Typo in the examples of Get-AzLogicAppRunAction"
The documentation I am referencing: [Get-AzLogicAppRunAction](https://docs.microsoft.com/en-us/powershell/module/az.logicapp/get-azlogicapprunaction). There's typo in two examples below, should change `Get-AzLogicAppActionRun` to `Get-AzLogicAppRunAction`

Example 1: Get an action from a Logic App run
[code]

Example 2: Get all the actions from a Logic App run

[code]

Besides, the **RunName** sho

[2019-07-26 07:09] ToMakeSense opened #1179 "Typo in the examples of Get-AzLogicAppRunHistory"
The documentation I am referencing: [Get-AzLogicAppRunHistory](https://docs.microsoft.com/en-us/powershell/module/az.logicapp/get-azlogicapprunhistory). There's typo in two examples below, should change `Get-AzLogicAppActionRunHistory` to `Get-AzLogicAppRunHistory`

Example 1: Get the run history of a logic app
[code]

Example 2: Get a logic app run
[code]
Besides, the **RunName** should be a mult

[2019-07-26 07:42] ToMakeSense commented on #926
@theheatDK @sptramer try the script below

[2019-07-26 08:02] theheatDK commented on #926
Thanks @ToMakeSense,

But I am looking for a description of the values the State property can take.
Regards Peter

[2019-07-26 08:50] ToMakeSense commented on #926
@theheatDK Through the powershell, I believe you can't make it, the state property's type is just string, see below:
1. [Subscription/Models/PSAzureSubscription.cs](https://github.com/Azure/azure-powershell/blob/master/src/Subscription/Subscription/Models/PSAzureSubscription.cs)
2. [Authentication.ResourceManager/Models/PSAzureSubscription.cs](https://github.com/Azure/azure-powershell/blob/master/

[2019-07-26 08:56] Akreddy123 opened #1180 "Connect-AzAccount : Invalid provider type specified with Application Id"
I am getting "Connect-AzAccount : Invalid provider type specified." when I tried to login using AD Application Id.
I have created the certificate using below code instead of using "New-SelfSignedCertificate" command because it is not supported on PSCore.

$pfxFilePath = <path>
$certificate = [SelfSignedCertificate]::new()
$secureCertPassword = <Created using another command>
[bool]$ForCertificateA

[2019-07-26 09:14] ToMakeSense opened #1181 "Always return to error with Get-AzLogicAppUpgradedDefinition cmdlet"
The documentation I am referencing: [Get-AzLogicAppUpgradedDefinition](https://docs.microsoft.com/en-us/powershell/module/az.logicapp/get-azlogicappupgradeddefinition). whatever value(2016-06-01, 2015-08-01-preview, 2016-04-01-preview) is passed to `TargetSchemaVersion`, it returns to error.
[code]

[2019-07-26 09:18] theheatDK commented on #926
Thanks @ToMakeSense,
I was actually looking for documentation of those states. I am a bit surprised that there is no page where you can get a explanation about what the mean and what the lifecycle etc. is.
Regards Peter

[2019-07-26 11:02] ToMakeSense commented on #926
@theheatDK Not sure if these is what you want?
[Azure fundamental concepts](https://docs.microsoft.com/en-us/azure/architecture/cloud-adoption/ready/considerations/fundamental-concepts)
[Azure billing and cost management documentation](https://docs.microsoft.com/en-us/azure/billing/)

[2019-07-26 12:55] theheatDK commented on #926
Not really. Nowhere is it mentioned that a subscription has a state and what the states mean. What can you do or not do with a subscription in the different states. Best practices etc. We for example have a lot of problems with custom roles where the assignable scope contains a subscription that has been canceled. We cannot change the scope ourselves and every time we have to create a service requ

[2019-07-26 13:11] ToMakeSense commented on #926
I believe it is in second link I give above, https://docs.microsoft.com/en-us/azure/billing under "manage subscription " yes, the states of the subcription are not listed clearly. but you can got it through the docs. maybe a specific article will be better.

[2019-07-26 13:35] gutzeit1106 opened #1182 "Please revise "To install Az modules at a global scope....""
The following section is not executed  as expected. Now Az Module will be installed as current user scope.

”Install-Module -Name Az -AllowClobber”

Install-Module was changed from PowershellGet version 2.0.0 and above. When no Scope is defined, the default is set as "CurrentUser" in the latest version.
Please refer to the following document. I'd like to update this document.

Install-Module
https

[2019-07-27 13:02] Brucius commented on #1133
Was facing the same issue. The below script worked for me
[code]

[2019-07-30 17:06] aboelter commented on #1177
Moved this to Azure Powershell

[2019-07-30 17:06] #1177 closed

[2019-07-31 10:34] #1180 closed

[2019-08-02 02:58] adamfowlerit commented on #932
Agree, you can't just have a PowerShell script line to run, when the variables aren't set as part of that script.

[2019-08-02 18:24] sptramer commented on #1178
Reference documentation is handled by the engineering team. Please file an issue with them: https://github.com/azure/azure-powershell/issues

[2019-08-02 18:24] #1178 closed

[2019-08-02 18:25] sptramer commented on #1179
Reference documentation is handled by the engineering team. Please file an issue with them: https://github.com/azure/azure-powershell/issues

[2019-08-02 18:25] #1179 closed

[2019-08-02 18:26] sptramer commented on #1181
This is a product bug. Please file an issue with engineering: https://github.com/azure/azure-powershell/issues

[2019-08-02 18:26] #1181 closed

[2019-08-02 18:30] sptramer commented on #914
@cmenzi This is a request for Portal engineering. Unfortunately I do not have a contact for them or information on a timeline. I'll see what I can find.

[2019-08-02 20:42] cdelcambre opened #1189 "More clarity needed AZ vs AzureRm Module Feature comparison"
Your last paragraph is very vague.  If I may be so bold as to paraphrase, it says "We're working on it really hard".  We can't make a road map and schedule resources with this type of verbiage.  While MS is not announcing a hard date you will achieve feature parity, you have guessed the earliest date possible to retire AzureRM (December 2020).   It would be nice to know that you will Guarantee us

[2019-08-02 21:47] sptramer commented on #1189
Feature parity was achieved in the 1.0 GA, in December 2018. This is why onboarding to Az is determined entirely by _your organization_: Feature parity is there, and it is up to you to perform the updates.

Because December 2020 is the earliest possible retirement date for AzureRM, treat it as the reirement date at this time. That is the only date the engineering team has committed to as a possibl

[2019-08-02 21:47] #1189 closed

[2019-08-02 21:49] cdelcambre commented on #1189
This is good to know, why not be more explicit in your public document?

[Astea]<https://www.astea.com/>
Cody Delcambre
Technical Architect
T: (949)784-5020 | www.astea.com<http://www.astea.com>

From: Stephen Tramer [mailto:notifications@github.com]
Sent: Friday, August 2, 2019 2:48 PM
To: MicrosoftDocs/azure-docs-powershell <azure-docs-powershell@noreply.github.com>
Cc: Cody Delcambre <cdelcambr

[2019-08-02 22:59] sptramer commented on #1189
The documentation will be updated to make things a little clearer about end of support.

[2019-08-06 10:00] tomrijntjes opened #1193 "Login-AzureRmAccount command found but can't be loaded"
Generated powershell scripts packaged with the ARM template with the 'Export Template' functionality in the portal relies on the Login-AzureRmAccount command. Running this command separately leads to the following complaint:

[code]

Following that instruction, running Import-Module AzureRM.profile causes
[code]

Leading to the conclusion that the module is loaded but the command is not available.

[2019-08-06 10:06] tomrijntjes commented on #1193
Closing since this is a product issue.

[2019-08-06 10:06] #1193 closed

[2019-08-07 18:07] gobananasgo opened #1194 "Using Azure az commands in a ADO release task"
To use a script with the Azure az commands in a release task, the release needs to be using a Hosted Agent, as well as the powershell task on version 4 (currently in preview). The other versions appear to support azure RM only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66146c87-f3b5-68cb-5117-067469946535
* Versio

[2019-08-22 00:17] kitkatneko opened #1197 "pre-requisites still missing as per application"
Have IE ESC is off, POSH 5.1, AZ 2.5.0 and Az File Storage Sync 1.2.0 however application still says prereqs are missing.

AfsVersion 7.2.0.0, OSVersion: 10.0.14393, OS:win10-sha256
PS C:\Windows\system32&gt; Get-InstalledModule -name *storagesync* -Verbose

Version    Name                                Repository           Description
-------    ----                                ----------

[2019-08-23 18:07] FISHMANPET opened #1198 "How to set the default subscription when signing in with Connect-AzAccount"
This document says "To change the default subscription used when logging in with Azure PowerShell, use Set-AzDefault." but Set-AzDefault sets the default resource group from within the current context, what is the way to set the default context used when signing in with Connect-AzAccount.  Is it possible to actually change that default?

And how is the default actually determined, is there some pr

[2019-08-30 04:40] asubmani commented on #1198
Once you connect using `Connect-AzAccount`, execute the below command to change your subscription.

`Get-AzSubscription -SubscriptionName "<enter your subscription here>"|Select-AzSubscription`

[2019-08-30 13:41] FISHMANPET commented on #1198
That changes the subscription in my current context but I want to change the _default_ subscription.  When I signin in I have access to 4 subscriptions and it picks subscription A but I want subscription C to be the one I'm connected to when I make a connection.

[2019-09-02 17:10] jasper-zanjani opened #1204 "No coverage of Linux"
This page does not indicate how users of the PowerShell Core snap package are to install the Az module, since PSGallery is not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71ec5ae0-0434-376c-a781-da1ae031017b
* Version Independent ID: 0fed6194-5f6b-b400-7d56-a0f6552c4cff
* Content: [Install Azure PowerShel

[2019-09-03 23:20] sptramer commented on #1198
I believe that once you select a subscription it becomes your new default. The article discussing how contexts work is in the middle of an extensive rewrite right now, and I'll make sure that default subscription selection is covered.

[2019-09-03 23:24] sptramer commented on #1204
@jasper-zanjani My install of PowerShell came with the NuGet package installed as part of it, which is what provides `Install-Module`. Can you please give some information about how you installed PowerShell on your system and the `uname -a` output, along with `lsb_release -a` if running a Debian- or Ubuntu-derived distribution?

[2019-09-03 23:33] sptramer commented on #1197
Sorry, I'm not quite sure what the error you're encountering here is, because there's no command listed before your 'ERROR' block. Please make sure that you follow _all_ of the [install instructions](https://docs.microsoft.com/en-us/powershell/azure/install-Az-ps?view=azps-2.6.0), including the use of `-AllowClobber` to ensure proper upgrades _and_ uninstalling any existing `AzureRM` modules. For

[2019-09-03 23:35] sptramer commented on #1194
Please [report this as a bug](https://azure.microsoft.com/en-us/support/devops/) (or feature request) to the Azure DevOps team.

[2019-09-03 23:35] #1194 closed

[2019-09-04 16:23] AlexImray commented on #932
Furthermore, when using the newest Connect-AzAccount module, '-TenantId' isn't a parameter anymore. It's just '-Tenant' now.
https://docs.microsoft.com/en-us/powershell/module/az.accounts/connect-azaccount?view=azps-2.6.0

[2019-09-04 18:52] AlexImray opened #1205 "'Connect-AzAccount' usage conflicts with documentation"
The usage of 'Connect-AzAccount' in this page conflicts with its documentation.
1. 'Connect-AzAccount' no longer uses the parameter '-TenantId', it uses '-Tenant'
2. When signing-in using certificate-based authentication, 'Connect-AzAccount' prompts for '-ApplicationId', as it is a mandatory parameter, which is missing in the snippet (https://docs.microsoft.com/en-us/powershell/azure/authenticate-

[2019-09-04 19:43] sptramer commented on #1204
Regardless of how you install PowerShell, it comes with the NuGet package manager as part of it. Once you start a powershell session, all you need to do is follow the [installation instructions](https://docs.microsoft.com/en-us/powershell/azure/azurerm/install-azurerm-ps?view=azurermps-6.13.0#install-the-azure-powershell-module).

[2019-09-04 19:43] #1204 closed

[2019-09-05 13:13] artisticcheese commented on #1107
+1

[2019-09-05 17:33] #1205 closed

[2019-09-05 17:34] sptramer commented on #1205
Thanks for the report. The incorrect information about the `-Tenant` argument and using service principals has been fixed. The sections on `-Environment` and `-Tenant` are now clearer about how these parameters are meant to be used.

[2019-09-11 14:42] kitkatneko commented on #1197
@sptramer what I am saying is that all the prerequisites are met are per the install step, however the installer still "thinks" this is missing! The error is from the Azure File Sync utility is:

`**Pre-requisites are missing**
Retry server registration after performing the following actions:

Install either the latest Az or AzureRM PowerShell module:

• Az and StorageSync PowerShell modules (requ

[2019-09-13 16:28] FISHMANPET commented on #1198
@sptramer that is not the behavior I'm seeing:
[code]

I've changed the names but basically I connect and my Context is SubA.  I use Set-AzContext to set my Context to SubC.  I disconnect.  I reconnect, and my context is SubA again.

If I can specify a specific default subscription to connect to, at least I'd like to understand why SubA is the default that I connect to, if it's some property of th

[2019-09-24 15:53] Adikota commented on #1018
@nnamedieh Hello, How did you get this working? I am running into an "Connect-AzAccount : Invalid provider type specified." error

[2019-09-24 16:37] Suchiman commented on #1133
This is utterly useless... but just unleashing your rage on `C:\Program Files\WindowsPowerShell\Modules` will work.

[2019-09-24 17:23] nnamedieh commented on #1018
Hi @Adikota ,
actually I do not exactly know what was the right solution for me. What version of Az Module do you use? Can you copy the code you are using?

Do you use a registered app or a service principal for login? Take a look [here](https://docs.microsoft.com/en-us/powershell/azure/authenticate-azureps?view=azps-2.7.0#certificate-based-authentication) to choose the correct Login-method.

[2019-09-25 21:09] szb512 commented on #1182
It probab;y didn't install right. Try running Install-Module -Name Az -AllowClobber -Scope CurrentUser again and see what happens.

[2019-09-25 21:09] szb512 commented on #1182
And I meant to put probably.

[2019-09-27 12:29] tejsidhu commented on #645
Hi All, i was experiencing the same issues in Powershell. As sptramer mentioned that PowerShell 6.0 requires .Net core, that space needs to be watched carefully. check below the commands i ran and how that fixed the issue... thanks.

-------------------------------------------------------------------------------------------------------------
PS C:\Windows\system32> connect-arurermaccount
connect-a

[2019-10-01 00:18] Bretanark opened #1220 "I can't get this working"
I can't get this working.  Here's what I've understood from above.

PS C:\WINDOWS\system32&gt; $sp = New-AzADServicePrincipal -DisplayName DatabaseEnvironmentsAutomation
PS C:\WINDOWS\system32&gt; $BSTR = [System.Runtime.InteropServices.Marshal]::SecureStringToBSTR($sp.Secret)
PS C:\WINDOWS\system32&gt; $BSTR
2043734504568

PS C:\WINDOWS\system32&gt; $UnsecureSecret = [System.Runtime.InteropServic

[2019-10-01 03:52] m00nd commented on #1018
Hi,
I am facing the same issue.Can you please help me?

[2019-10-01 10:42] Murthy582 opened #1221 "Get-AzDataLakeStoreAccount returning Gen1 lakes only"
This issue is related to datalakestore module. When I run the following powershell command it is only returning ADLS Gen1 storage accounts, not Gen2 lakes.

[code]
And it is no where mentioned in the documentation that it only works with Gen1 lake.
https://docs.microsoft.com/en-us/powershell/module/az.datalakestore/get-azdatalakestoreaccount?view=azps-2.7.0

[2019-10-02 20:59] cutty201 commented on #1133
Absolutely --- Microsoft is terrible -- You should not be allowed to be 1trillion software company when you don't understand how to properly remove your own software --- further -- you shouldn't be a 1trillion dollar software company if you do not know how to upgrade your own software. You can afford to hire people that understand how things work.
`PS C:\WINDOWS\system32> $versions = Get-Installed

[2019-10-02 21:10] cutty201 commented on #1133
Ok let me follow up with what works

Merry Christmas!

[code]

[2019-10-03 02:15] kilasuit opened #1224 "Update to include details on offline installation methods"
As this doc is about installing the Azure PowerShell module it should also include details on how to install the module in offline environments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10fc79a0-d843-1c7c-1612-948e3d912290
* Version Independent ID: bd4fb194-d6af-e442-5ced-793e09c3fa83
* Content: [Install Azure Pow

[2019-10-05 20:52] qhdevon43 opened #1227 "Connect-AzAccount returns error"
Currently getting an error while on new windows 10 1903 build 18362.388 running the Connect-AzAccount in powershell. Version is 2.7.0  ( powershell and .net 4.8 are installed)

`Connect-AzAccount : The 'Connect-AzAccount' command was found in the module 'Az.Accounts', but the module could not be
loaded. For more information, run 'Import-Module Az.Accounts'.
At line:1 char:1
+ Connect-AzAccount
+ ~

[2019-10-07 23:11] sptramer commented on #1224
@kilasuit Thanks for raising this question and submitting the PR. Before I can address either of them, what is your use case for installing Azure PowerShell in an offline environment, since it requires network connectivity to perform any actions?

[2019-10-08 13:01] kilasuit commented on #1224
@sptramer an offline install may just mean not having access to the PowerShell Gallery or GitHub to install from and is a common requirement for organisations that want to ensure enhanced endpoint security, by allowing install from internalised sources, including via SCCM etc

[2019-10-08 16:17] sptramer commented on #1224
Great, I understand where you're coming from. I'll leave this open while I review your PR.

[2019-10-08 22:18] wt-ho-test commented on #1133
is the doc updated?

[2019-10-09 19:43] sptramer commented on #1133
Hi all -

I've been tracking this issue for a while now, thinking about how to best handle it. The real problem with the script is that we want to keep things flexible for users to allow uninstalling whatever version they want, while preserving dependency relations. That's why the script hasn't just changed to be a highly-efficient nuke of the entire `Az.*` module set (although that works fine, an

[2019-10-09 23:08] sptramer commented on #926
@ToMakeSense Thank you for digging up that information. I've taken a work item to run through it and get this information either on (or linked from) the subscription management page.

[2019-10-09 23:12] sptramer commented on #969
@dcaro No response from engineering on this issue - do you have a contact for me right now, or can you provide some information on the behavior?

[2019-10-09 23:16] sptramer commented on #1004
@dcaro - Do you have any information on how the release notes can be updated to address the ambiguity?

[2019-10-09 23:18] sptramer commented on #1128
I believe that there were some pull requests submitted which took care of this issue, but I've added a task to clean up and copyedit the existing release notes. Future release notes will be copyedited either before, or shortly after, publish.

[2019-10-09 23:22] #1182 closed

[2019-10-09 23:24] sptramer commented on #1197
@kitkatneko In that case, this sounds like it's a product bug. Please [file an issue with engineering](https://github.com/Azure/azure-powershell/issues/new/choose).

[2019-10-09 23:24] #1197 closed

[2019-10-09 23:27] sptramer commented on #1220
Please make sure that you've correctly configured the application in your AAD tenant and have set everything up correctly. This is indicated by the error:

[code]

This is a strong indicator that you're using the incorrect tenant value to try and connect. For more help, please see the [active directory documentation](https://docs.microsoft.com/en-us/azure/active-directory/).

[2019-10-09 23:29] sptramer commented on #1221
Sorry, but this repo is for documentation only. This sounds like a product bug, so [please file a report with engineering](https://github.com/Azure/azure-powershell/issues/new/choose).

[2019-10-09 23:29] #1221 closed

[2019-10-09 23:31] sptramer commented on #1227
This could be an issue with your PowerShell environment. Try running `Import-Module Az` before running any Azure PowerShell cmdlets (see the note under [Install - Sign In](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-2.7.0#sign-in)). If you still experience problems, this is likely a product bug and you will need to [file an issue with engineering](https://github.com/A

[2019-10-09 23:31] #1227 closed

[2019-10-10 06:12] CHEEKATLAPRADEEP-MSFT commented on #1221
@Murthy582 For Azure Data Lake Gen2, the [Get-AzStorageAccount](https://docs.microsoft.com/en-us/powershell/module/az.storage/get-azstorageaccount?view=azps-2.7.0) cmdlet gets a specified Storage account or all of the Storage accounts in a resource group or the subscription.

Hope this helps

[2019-10-10 08:39] CHEEKATLAPRADEEP-MSFT commented on #1221
@Murthy582 **Get-AzStorageAccount** cmdlet returns blob storage accounts and adls gen2 accounts.
**Get-AzDataLakeStoreAccount** cmdlet returns adls gen1 accounts.

Hope this helps.

[2019-10-10 12:14] ToMakeSense commented on #1198
@FISHMANPET  Try to get it via **Get-AzContextAutosaveSetting**
[code]
Update the **DefaultContextKey** in the **C:\Users\XXXX\.Azure\AzureRmContext.json**

[2019-10-10 14:52] Murthy582 commented on #1221
Got it, Thank you. I can see ADLS Gen2 accounts with Get-AzStorageAccount command.
I'm trying to setup ACLs using PowerShell cmdlet. **Is there any powershell command to get/set ACLs of a file/folder in ADLS Gen2 storage account?**

[2019-10-10 15:42] gcormier opened #1230 "Export Secret does not work on Azure Cloud Shell"
The provided code does not work on Azure Cloud Shell.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dd724a1-cf89-45b8-85d6-e9bb815dde0c
* Version Independent ID: 84b2cbcb-1f11-9a6d-23fd-5c8d76453fa8
* Content: [Use Azure service principals with Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azu

[2019-10-10 15:43] gcormier commented on #1230
Disregard, forgot to assign to $sp :)

[2019-10-10 15:43] #1230 closed

[2019-10-14 09:42] techsaau opened #1231 "Get-AzRecoveryServicesBackupContainer gives unexpected results"
I have created two resource groups, having one VM & vault in both of them and VM name is same in both resource groups. But when i use "Get-AzRecoveryServicesBackupContainer" command with VaultID option, it still gives me both VMs as output.

Get-AzRecoveryServicesBackupContainer  -ContainerType "AzureVM" -Status "Registered" -FriendlyName "RollBack1" -VaultId $targetVault.ID

FriendlyName

[2019-10-14 15:33] BharathNimmala-MSFT commented on #1231
@techsaau  Thank you for your question, we will look into it and get back to you shortly.

[2019-10-16 11:02] YuichiTorigoe opened #1236 "Set-AzureRmVMDiskEncryptionExtension Linux -VolumeType options"
I checked the following entry on this page.

** Set-AzureRmVMDiskEncryptionExtension
https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/set-azurermvmdiskencryptionextension?view=azurermps-6.13.0
----
-VolumeType
Specifies the type of virtual machine volumes to perform the encryption operation. Allowed values for virtual machines that run the Windows operating system are as follows:

[2019-10-16 21:08] FISHMANPET commented on #1198
@ToMakeSense That has no impact on the problem I'm seeing, it merely reflects what is the current AzContext.  When I'm connected, the DefaultContextKey is just whichever subscription is my current context, when I disconnect it goes to "Default" and then if I set that key while I'm disconnected (like, to the value it has when SubscriptionC is my current context) and then connect, it is reset to be

[2019-10-17 05:30] BharathNimmala-MSFT commented on #1236
@YuichiTorigoe Thank you again for your question.

[Azure PowerShell – Cross-platform “Az” module replacing “AzureRM”](https://azure.microsoft.com/en-us/blog/azure-powershell-cross-platform-az-module-replacing-azurerm/)

We would recommend you to start migrating from AzureRM to Az, unless there is a business requirement not allowing you to migrate. Related Az cmdlets ([Set-AzVMDiskEncryptionExtens

[2019-10-17 05:42] YuichiTorigoe commented on #1236
I checked this document.

But I think should be update this description on Set-AzureRmVMDiskEncryptionExtension page

[2019-10-18 22:06] BharathNimmala-MSFT commented on #1236
@YuichiTorigoe  Appreciate your feedback. Would recommended to leverage the [Set-AzVMDiskEncryptionExtension](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmdiskencryptionextension?view=azps-2.8.0#description) documentation which is up to date. That being said we have already requested our internal product team to update Set-AzureRmVMDiskEncryptionExtension documentation as

[2019-10-18 22:58] dragongeek opened #1237 "Neither Instruction Works"
I have tried all three uninstall methods above and none of them work. The Uninstall-AzureRm and Uninstall-AllModules neither exist, and the only Azure product in my Apps is Microsoft Azure Storage Explorer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37a9a689-a780-0695-b7c3-911314eb0e7a
* Version Independent ID: b3c

[2019-10-19 07:27] rezasoltanirezvandeh opened #1238 "PowerShell does not work for Switch Activity in the Pipeline Data Factory V2 (Set-AzDataFactoryV2Pipeline)"
Set-AzDataFactoryV2Pipeline  creates Data Factory Pipelines yet if there is a Switch Activity, the Pipeline would not be the same as you expected.

After Executing the command successfully, I could see the blank Pipeline yet the source code was different from my original Json file, seems it does not like the Switch activity tags and it got replaced with wrong tags by eliminating the typeProperties

[2019-10-21 06:44] VikasPullagura-MSFT commented on #1238
@rezasoltanirezvandeh Thank you for reaching out to us. Can you please provide a link to the document which you are following so that we can engage the correct team to help you.

[2019-10-21 06:54] rezasoltanirezvandeh commented on #1238
Hi Vikas,

I am following the example from the link below:

https://docs.microsoft.com/en-us/azure/data-factory/control-flow-switch-activity

I have checked with simpler pipeline but got the same result.

[2019-10-21 08:33] VikasPullagura-MSFT commented on #1238
@rezasoltanirezvandeh Thanks for getting back with the document details.

Requesting you to open the issue directly on the document as feedback, so that the issue is looked and addressed by the right team.

I am closing this issue now.

[2019-10-21 08:33] #1238 closed

[2019-10-21 15:25] BharathNimmala-MSFT commented on #1237
@dragongeek Thank you for your question, we will further look into this and get back to you shortly.

[2019-10-23 02:27] Chai-NED opened #1241 "SP with default Contributor?!"
"The default role for a service principal is Contributor. This role has full permissions to read and write to an Azure account" Does this mean a newly created service principal has the Contributor at the subscription level? How do we then prevent someone with Service Principal from a malicious use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-10-23 02:30] Chai-NED commented on #1241
Nevermind. I guess you could take the Contributor right away and assign just Reader. I would expect the default behavior to be the other way around.

[2019-10-23 18:18] sptramer commented on #706
@Pulakesh25 This issue has finally been resolved, long after you reported it - thank you for doing so. In the meantime I helped do some security review of basic information stored by the module, and updated the information on Azure Contexts to make it clear how to delete the stored data and what information is stored.

If you have security concerns, I strongly recommend disabling context autosave

[2019-10-23 18:18] #706 closed

[2019-10-23 18:18] sptramer commented on #968
The context documentation has finally been updated - thank you for your patience. Hopefully the new instructions are much clearer about what information is saved, how to control that information, and how the management of Azure context objects works.

[2019-10-23 18:18] #968 closed

[2019-10-23 18:20] sptramer commented on #1107
@gadget1999 When contexts expire are controlled by your Azure Active Directory manager. The normal expiration period is every 90 days, but administrators can set this value to whatever they choose. You may also not have context autosave correctly configured. The context documentation was recently updated to make some of this information clearer.

[2019-10-23 18:20] #1107 closed

[2019-10-23 18:23] sptramer commented on #1198
Thanks for all the information here in this thread, it will be helpful! The contexts article was recently updated, but without any instructions on how to set the default subscription in a session. Hopefully there will be time for some additional updates around this issue in the near future.

[2019-10-23 19:03] TravisCragg-MSFT commented on #1241
@Chai-NED We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-23 19:03] #1241 closed

[2019-10-23 19:27] #1224 closed

[2019-10-23 19:28] sptramer commented on #1224
Resolved by #1239. Should be published no later than Wednesday Oct. 24.

[2019-10-24 15:40] BharathNimmala-MSFT commented on #1231
@techsaau Thank you for your question and sorry for the delayed response.

Trying to better understand your scenario, when you say that the same VM name in both resource groups. Ideally when you are creating a backup for Azure VM with in the vault it should only look for virtual machines in the same region as vault and not protected by any other vault are show. If that's the case trying to underst

[2019-10-25 08:29] techsaau commented on #1231
I created two resource groups (rollback and fallback) in same region, with same VM name. And both resource groups have their own ARSVault.
I got your point that recommendation is to have a single vault in a region. But if we have multiple then it kinda ignores vaultId parameter.

[2019-10-25 09:04] techsaau commented on #1231
Not only "Get-AzRecoveryServicesVault" command, all ARSVault commands are disaster in case you have more than 1 vault in the region. One more example:

Get-AzRecoveryServicesVault -ResourceGroupName $vmRG -Name $ARSVault

This command gave me all vaults name present in region i.e. for both resource groups, even after passing resource group and vault values.

I could not find any relevant info that

[2019-10-25 19:51] BharathNimmala-MSFT commented on #1237
@dragongeek Thanks for reaching out, can you please help share if you are seeing any errors while running the uninstall commands. And also, it might be good to check what modules you have currently installed on your machine. `Get-Module -ListAvailable` and see what should be uninstalled. You can also verify if its a windows machine. Please navigate to  `C:\Program Files\WindowsPowerShell\Modules`

[2019-10-26 00:09] BharathNimmala-MSFT commented on #1231
@techsaau Thank you for sharing additional information. Can you please help validate what CLI version you are using ?

To repro the scenario  you have called out , was trying to create the following resource groups and resources with in [azure cloud shell](https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesvault?view=azps-2.8.0) and was able to create it s

[2019-10-28 12:02] John-Blair opened #1243 "Really confusing for a beginner"
&gt;You can't have both the AzureRM and Az modules installed for PowerShell 5.1 for Windows at the same time.

Well, which do i need AzureRM or Az ?- I'm new to powershell on azure
Why did you create 2 modules that are incompatible with each other - causing a complete mess and i'm only at the install stage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-10-28 12:54] John-Blair opened #1244 "This is a mess - unable to uninstall AzureRM"
PS C:\Users\John Blur&gt; Uninstall-AzureRm
WARNING: Both Az and AzureRM modules were detected on this machine. Az and AzureRM modules cannot be imported in the same session or used in the same script or runbook. If you are running Pow
erShell in an environment you control you can use the 'Uninstall-AzureRm' cmdlet to remove all AzureRm modules from your machine. If you are running in Azure Automa

[2019-10-28 17:10] BharathNimmala-MSFT commented on #1243
@John-Blair Thank you for your query.

For Azure PowerShell to have cross-platform support a  [new module Az](https://github.com/Azure/azure-powershell/blob/master/documentation/announcing-az-module.md) was created rather than make modifications to the existing AzureRM module. Moving forward, all new functionality will be added to the Az module, while AzureRM will only be updated with bug fixes.

[2019-10-29 05:58] BharathNimmala-MSFT commented on #1244
@John-Blair Thank you for your feedback, we will look into this and get back to you at the earliest.

[2019-10-29 11:18] John-Blair commented on #1243
The question was:

[2019-11-03 22:50] BharathNimmala-MSFT commented on #1237
@dragongeek We will go ahead and close this issue for now, however if above steps are not helping to resolve your issue please feel free to tag us in your reply and will be happy to continue the conversation. Thank you.

[2019-11-03 22:50] #1237 closed

[2019-11-04 18:42] v-maudel commented on #1004
#please-close

[2019-11-04 18:49] v-maudel commented on #1004
This is an old request and the file doesn't exist anymore in repo

[2019-11-05 17:55] BharathNimmala-MSFT commented on #1244
@John-Blair Apologies for delayed response on this, can you please help confirm if you are not able to consume[ Unistall-AzureRm](https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=azps-2.8.0#uninstall-from-powershell) command , however navigate through the next steps listed in the doc to unistall the AzureRM modules.

If you can't successfully run the Uninstall-AzureRM command

[2019-11-05 17:59] BharathNimmala-MSFT commented on #1243
@John-Blair Thanks for sharing the feedback, currently loading Az and AzureRM side by side is not a supported scenario. However if you want to have both on one mahcine, you can load AzureRM in Windows Powershell and Az in PowerShell Core.

Hope this information helps, please let us know if you have any further queries. Thanks

[2019-11-08 04:57] vktibrewal opened #1247 "Update the name to check in 'program listing' under 'Uninstall Azure PowerShell MSI' sectoin"
The name can be 'Microsoft Azure PowerShell - &lt;month&gt;' as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4f51d29-7fe8-3749-1e4e-d7a67c76435a
* Version Independent ID: b3ce94fa-6e76-4ffe-e70e-07f7a321fcd4
* Content: [Uninstall Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-

[2019-11-09 16:22] BharathNimmala-MSFT commented on #1247
@vktibrewal Thanks for your feedback, will further evaluate and get back to you at the earliest.

[2019-11-12 03:26] ToMakeSense opened #1249 "Typo or incorrect format in the latest release notes"
## 2.8.0 - October 2019

**Incorrect format and typo**
![image](https://user-images.githubusercontent.com/6244148/68638716-5aa30b00-053d-11ea-87ea-c95c7f750dfd.png)

### I think it should be:
 - New cmdlets added:
      - New-AzIpsecTrafficSelectorPolicy
 - Cmdlets updated with optional parameter -TrafficSelectorPolicies
      - New-AzVirtualNetworkGatewayConnection
      - Set-AzVirtualNetworkGat

[2019-11-13 01:04] femsulu commented on #1249
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2019-11-13 16:44] BharathNimmala-MSFT commented on #1244
@John-Blair Thanks again for reaching out to us. Hope the above information on this thread helps you to uninstall AzureRM. We will go ahead and close this issue for now, however if you have any further queries please feel free to tag us in your reply and will be happy to continue the conversation forward.  Thank you.

[2019-11-13 16:44] #1244 closed

[2019-11-13 17:07] BharathNimmala-MSFT commented on #1247
@vktibrewal Thanks again for your feedback. PR has been raised to update the document , once approved and reviewed it would reflect the document accordingly.

Will go ahead and close the issue for now, if you have any queries please tag us in your reply and will be happy to continue the conversation. Thanks

[2019-11-13 17:07] #1247 closed

[2019-11-17 18:06] LukePWilkins opened #1253 "Remove-AzRoleAssignment -ApplicationID ; No Parameter"
Remove-AzRoleAssignment : A parameter cannot be found that matches parameter name 'ApplicationId'.

No applicationID as specified in the section "Manage service principal roles" on this page.
Specify the ObjectID instead of the SPN to target it and remove the particular role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-11-18 05:13] AjayKumar-MSFT commented on #1253
@LukePWilkins, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-19 02:50] femsulu commented on #1249
Thanks for catching these issues. PR #1254  has been created to address the doc bugs.

Once reviewed and approved, these fixes will go live shortly after.
Thanks again for your continued contribution.
We will now close this request.

Cheers.

[2019-11-19 02:50] #1249 closed

[2019-11-19 20:03] BharathNimmala-MSFT commented on #1253
@LukePWilkins Thanks again for bringing this to our attention, I am working with our Product team to get more clarity on current supportability and will adjust the documentation accordingly.

For now, as a work around please check if you can still use below format with the appid you have
`Remove-AzRoleAssignment -ServicePrincipalName xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxx -RoleDefinitionName "Reader"`

H

[2019-11-22 14:44] BharathNimmala-MSFT commented on #1253
@LukePWilkins Assigning this to our Product PM @dcaro  to further evaluate the command let. Thanks

[2019-11-23 09:40] BharathNimmala-MSFT commented on #1243
@John-Blair Thanks again for your feedback, at this point it appears that there's no further edits or updates needed for the documentation. We would close this issue for now, however if you have any further queries please feel free to tag us in your reply and will be happy to continue the conversation. Thank you.

[2019-11-23 13:37] John-Blair commented on #1243
The question was:

Why did you create 2 modules that are incompatible with each other - causing a complete mess?

You don't even answer the question asked and then close the issue - fantastic service - can I nominate this as the most useless response to a question?

[2019-11-23 16:03] BharathNimmala-MSFT commented on #1243
@John-Blair Apologies, if the responses didn't answer your question. We certainly want to provide service/support that upholds our customer expectation.

Inactive issues make it difficult for us to track what is being worked, since I didn’t had further response for my previous update on the thread ended up closing the issue. However that doesn't mean the conversation has to be over, I have reopene

[2019-11-23 17:14] John-Blair commented on #1243
Thanks for answering - feel free to close.

[2019-11-23 17:14] #1243 closed

[2019-11-23 17:42] BharathNimmala-MSFT commented on #1243
@John-Blair Thank you John.

[2019-11-25 15:22] juyama opened #1256 "Which way is correct?"
The Update-Module command is noted that it doesn't work correctly in this page. However, the command is recommended at GitHub page. Which way we should use to update?
https://github.com/Azure/azure-powershell/releases/tag/v3.0.0-November2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f877dd21-bfd3-34e0-7cb1-814ce97

[2019-11-25 15:23] juyama commented on #1256
add image
![image](https://user-images.githubusercontent.com/46222416/69553109-ed828180-0fe2-11ea-9a3b-62e17ec7778c.png)

[2019-11-26 02:18] mike-urnun-msft commented on #1256
@juyama Thank you for your feedback! We will review and update as appropriate.

[2019-11-26 04:48] dingmeng-xue opened #1257 "Pages of Az.DataBoxEdge cmdlets are under Az.DataBox"
Pages of Az.DataBoxEdge cmdlets are incorrectly under Az.DataBox.

In addition, there is no DataBoxEdge element under reference.

![issuepage](https://user-images.githubusercontent.com/56333063/69600207-c65f9a80-104a-11ea-92a3-345a01d8f9bc.PNG)

[2019-11-26 08:35] AmanGarg-MSFT commented on #1257
@dingmeng-xue Thank you for your feedback! We will review and update as appropriate.

[2019-11-26 20:52] SamaraSoucy-MSFT commented on #1256
@juyama I will reach out to the product team to see if I can confirm which solution is correct. In the short term I think reinstalling will be the safer option.

[2019-11-26 22:35] bgklein opened #1260 "Link does not point to latest"
`Install with PowerShellGet`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c45e278-3e22-b218-24fa-6652560b305b
* Version Independent ID: eed6d40d-0b69-a61e-fd86-aaea6360392b
* Content: [Install Azure PowerShell with an MSI](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps-msi?view=azps-2.8.0#feedback)

[2019-11-27 03:28] mike-urnun-msft commented on #1260
@bgklein Thank you for your feedback! We will review and update as appropriate.

[2019-12-02 19:39] SamaraSoucy-MSFT commented on #1260
Hi @bgklein,

The version is staying consistent between the two docs.

The version you linked to is the doc for the 2.8.0 version of Azure powershell and it links to the 2.8.0 version of the powershell get doc. If you change to the 3.1.0 version of this doc, it links to the 3.1.0 version of powershell get.

![image](https://user-images.githubusercontent.com/47195189/69989222-2950a600-1511-11ea-967

[2019-12-02 22:12] #1260 closed

[2019-12-03 19:48] vinyar opened #1265 "Linking for reference"
Select-azContext doesn't seem to work as described/expected.
Linking relevant issue to save people time troubleshooting - https://github.com/Azure/azure-powershell/issues/9448

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca5df2cb-ddeb-b667-96bd-ce76709b8601
* Version Independent ID: f641b6fa-c346-ad1d-65a6-793a4bedcb

[2019-12-03 22:24] dcaro commented on #1257
@AmanGarg-MSFT this has been fixed with PR #1262

[2019-12-04 01:11] kobulloc-MSFT commented on #1257
@dingmeng-xue We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-12-04 01:11] #1257 closed

[2019-12-04 08:40] pixelicous commented on #1133
And the documentation still persists with old non working script.. 🤦‍♂

[2019-12-04 20:36] kobulloc-MSFT commented on #1265
@vinyar Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-12-05 14:07] aelij opened #1266 "Managed identity"
Please add the `-Identity` option instead of referencing the Managed Identity API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f3883f9-a079-8ecc-45fa-0fed88b50aeb
* Version Independent ID: b814f076-657c-206b-b16e-c7f137bff744
* Content: [Sign in with Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azur

[2019-12-05 16:29] MonikaReddy-MSFT commented on #1266
@aelij, Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-06 05:58] ToMakeSense commented on #1249
@femsulu  sorry to bother, there still typo in #1254, I left comments in line.

[2019-12-06 20:35] dcaro commented on #1266
@aelij this is a great suggestion. We have the example in our reference docs but it is actually good to have it here.

[2019-12-07 00:30] femsulu commented on #1249
Thanks for the update, looking into this and will resolve as appropriate.

[2019-12-09 01:27] kobulloc-MSFT commented on #1265
@vinyar Thank you for bringing this to our attention.  I'm not sure what we can do for this from a documentation standpoint, but I will assign this to the document author so they can review the documentation accordingly.

[2019-12-09 19:04] huypub commented on #1265
@MarileeTurscak-MSFT
I am not responsible for this kind of PR merge. Please assign it back.

[2019-12-11 03:13] TestO2015 opened #1270 "New-AzureRmADServicePrincipal : Object reference not set to an instance of an object"
I'm trying to create a Service Principal in Azure AD however the Powershell command throws an error:

Here's the commands I ran:

[2019-12-11 08:35] ManojReddy-MSFT commented on #1270
@TestO2015 We are looking into this and will get back to you shortly.

[2019-12-11 19:27] shogerr opened #1271 "Azure PS Modules not compatible with Windows Powershell Core"
Using Powershell 7 Core on Windows 10:

[code]
[code]

Related issue: https://github.com/PowerShell/PowerShell/issues/11070

It seems 0 of the modules for Azure work with the Powershell Core. I don't know why the documentation says it will.

It would be pretty interesting if this worked in Linux, but not Windows.

**Update**
This cmdlet works perfectly fine if you install powershell in WSL (Debian

[2019-12-11 20:14] shogerr commented on #1271
Adjusting title: apparently MS dumps all pages of documents to the same issue tracker...

[2019-12-11 20:23] kobulloc-MSFT commented on #1271
@shogerr Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-12-12 05:22] sannya1803 opened #1272 "Command doesn't work"
Hi, I'm on Windows 10 and PS 5.0 and the instruction doesn't work for me. However, I found other ways that work:
1. Instead of using Uninstall-AzureRm, I can use Uninstall-Module AzureRm
2. To uninstall all of the sub module, I used this command:
foreach ($module in (Get-Module -ListAvailable AzureRM*).Name |Get-Unique) {
   write-host "Removing Module $module"
   Uninstall-module $module
}

sourc

[2019-12-12 05:53] anoobbacker opened #1274 "Invalid link"
Under the section https://docs.microsoft.com/en-us/powershell/azure/azurerm/overview?view=azurermps-6.13.0#learn-powershell-basics

Installing PowerShell is pointing to a link which is giving 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab81ac50-5213-1282-d66c-e0c70794d2eb
* Version Independent ID: 86324274-e59e

[2019-12-12 14:14] MonikaReddy-MSFT commented on #1272
@sannya1803 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-12 14:21] dhruvmodi13 opened #1276 "No Powershell Command-let for AzureBatch to sync Keys for the Attached Storage Account"
Could not find any PowerShell commandlet for the SyncKeys option which syncs the Azure storage accounts keys in Batch.

https://docs.microsoft.com/en-us/rest/api/batchmanagement/batchaccount/synchronizeautostoragekeys#code-try-0

https://docs.microsoft.com/en-us/cli/azure/batch/account/autostorage-keys?view=azure-cli-latest

Rest API call and CLI commands are present.
Was wondering why PS commands

[2019-12-12 15:48] SamaraSoucy-MSFT commented on #1271
Hi @shogerr!

Can you please provide a link to the document that you are having trouble with?

[2019-12-12 19:44] MarileeTurscak-MSFT commented on #1274
@anoobbacker
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-12 19:45] MarileeTurscak-MSFT commented on #1276
@dhruvmodi13
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-13 19:08] MonikaReddy-MSFT commented on #1266
@aelij , Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue..

[2019-12-13 19:08] #1266 closed

[2019-12-13 20:21] shogerr commented on #1271
@kobulloc-MSFT
You're just as well off in finding it as I am at this point. Finding the same MS Doc twice for the correct version of .NET/Windows/ASP/MSAL is like shooting tardigrades in a barrel. I don't have the browsing history either. Heck, after traversing so many doc pages from the site to find what I needed, I can't even remember what topic the page covered.

I honestly wish I could tell, y

[2019-12-13 21:59] kobulloc-MSFT commented on #1271
@shogerr Usually that information is populated automatically, but there are rare instances where we have to retrieve that information manually.  I completely understand what it's like to lose your place while following a breadcrumb trail.  Thank you for the heads up!  We'll take a look at this.

[2019-12-14 06:34] fabrizob opened #1279 "DomainNameLabel doesn't exist on new Public IP resources"
The following commands only work when DomainNameLabel it's already present so you can change it:
$publicIp = Get-AzureRmPublicIpAddress -Name $publicIpName -ResourceGroupName $rgName
$publicIp.DnsSettings.DomainNameLabel = "newdnsprefix"

When the public ip has been created without the DomainNameLabel, it cannot be set.
![Annotation 2019-12-14 073416](https://user-images.githubusercontent.com/4101

[2019-12-14 07:43] MarileeTurscak-MSFT commented on #1279
@fabrizob
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 07:44] MarileeTurscak-MSFT commented on #1279
@fabrizob please provide the link to the article that you're referencing.

[2019-12-14 07:48] fabrizob commented on #1279
https://docs.microsoft.com/en-us/powershell/module/azurerm.network/set-azurermpublicipaddress?view=azurermps-6.13.0
![Annotation 2019-12-14 084804](https://user-images.githubusercontent.com/41018953/70845396-79ebcb80-1e4e-11ea-917c-05b8d29e002d.png)

[2019-12-16 17:48] SamaraSoucy-MSFT commented on #1274
I've put in a PR to fix this issue. It will go live once the doc author has approved the PR.

[2019-12-16 17:48] #1274 closed

[2019-12-16 18:58] MonikaReddy-MSFT commented on #1272
@sannya1803 ,

The purpose of Uninstall-AzureRm is that it will automatically uninstall the related AzureRm modules.

As stated in the documentation, Uninstall-Module only uninstalls modules installed using Install-Module. If AzureRM was installed using the MSI package, then it can only be uninstalled using MSI.

Also since PowerShell 5.0 is not supported, you must be on 5.1 to get the commands wo

[2019-12-16 18:58] #1272 closed

[2019-12-16 23:18] MonikaReddy-MSFT commented on #1279
@fabrizob ,

Thanks for reaching out to us.
This command `publicIp.DnsSettingsDomainNameLabel = "newdnsprefix"` should work since this is how it works in the new cmdlet.

I hope this information helps.
Please feel free to reach back out if there are any further questions regarding this matter.

[2019-12-17 15:39] cameronove commented on #1271
hmm ... this is very disappointing - I "heard" @SteveL-MSFT when he indicated that PowerShell 7 was meant to get more Windows admins to upgrade to latest PWSH.   I would love to be running PowerShell 7 daily, but I can't use it full time until Exchange and Azure  cmdlets are available.  That's 80% of what I do.  Will this be ready by January?

[2019-12-17 17:33] SamaraSoucy-MSFT commented on #1271
@shogerr and @cameronove I'm going to close this issue as it isn't a docs problem. However, I am working to find out if there is any information I can share with you on when we will support PS7 for the Azure cmdlets and I will follow up when I have something to share. You can also ask the question yourself on the product repo: https://github.com/Azure/azure-powershell/

The az module does work wit

[2019-12-17 17:33] #1271 closed

[2019-12-17 19:12] jnicklous commented on #1256
Which version of the Azure cmdlets contain the Az.Reservations module included?  I've downloaded and installed version 3.2 and the Az.Reservations module isn't included as indicated in the reference section of this page

[2019-12-18 00:45] marckassay opened #1287 "What about AzureAD?"
The Az module is published with an owner name of 'azure-sdk', while AzureAD has an owner name of 'AzureADPowerShell'. And both are published with an author name of 'Microsoft Corporation'. With them having an owner name difference, I assume that is why 'AzureAD' is not a "sub" module of Az and continues to keep the 'Azure' noun prefix for its commands. But having them published by the same author,

[2019-12-18 03:04] kobulloc-MSFT commented on #1287
@marckassay Thank you for the feedback.  We'll look into this and try to get you a better answer as to why that is.

[2019-12-18 04:46] souravmishra-msft commented on #1270
@TestO2015, I would suggest using the new Az powershell module here. You can find the details about this module [here](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-3.2.0).

Once you install the Az PS module, try running these commands:
[code]
Check if this helps you. The AzureRMAD cmdlets are old and contains some bugs. Do check the following section in this [a

[2019-12-18 18:49] SamaraSoucy-MSFT commented on #1271
Heard back from the product team. The `az` module is the correct solution to this issue, using `Enable-AzureRmAlias` to continue using your existing scripts. The AzureRM module is deprecated and will not be updated to be compatible with Powershell 7

[2019-12-18 19:44] marckassay commented on #1256
@jnicklous, Az.Reservations is currently in preview, as it has a SemVer value of 0.8.1. So they're not including it with the super module, Az, until its major version digit becomes 1. I also found this not to be clear as I mentioned [here](https://github.com/Azure/azure-powershell/issues/10656#issuecomment-562170291).

[2019-12-18 20:22] marckassay commented on #1287
It looks like AzureAD is for *Windows* PowerShell only, correct?

[2019-12-19 10:44] ken-hk commented on #1287
Some information:

[Az (Azure PowerShell)](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az) is a general management module for Azure resources, like the virtual machines and SQL databases. [AzureAD (Azure Active Directory PowerShell for Graph)](https://docs.microsoft.com/en-us/powershell/azure/active-directory/overview), aka [Office 365 PowerShell](https://docs.microsoft.co

[2019-12-19 15:37] marckassay commented on #1287
@ken-hk, thanks! That resolved some uncertainties that I had.

I think that info you provided would be beneficial to include in the doc page.

[2019-12-19 22:49] srs81 opened #1288 "Link in "Note" section redirects to same page"
In the "Note" section at the top of the page, there is this paragraph:

However, clicking on the link to [AzureRM 2.3.0](https://docs.microsoft.com/en-us/powershell/azure/azurerm?view=azurermps-2.3.0) doesn't work, it redirects to the same page with this error message showing up at the top:

![image](https://user-images.githubusercontent.com/1521574/71216207-c2502280-226e-11ea-86b9-141227996f30.pn

[2019-12-20 00:52] kobulloc-MSFT commented on #1288
@srs81 Thank you for bringing this to our attention!

[2019-12-20 03:19] MonikaReddy-MSFT commented on #1279
@fabrizob,
Since we haven't heard back from you, hoping that the issue is resolved for you. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-20 03:19] #1279 closed

[2019-12-20 04:56] shashishailaj commented on #1270
@TestO2015 We will close this issue now . In case you have any further queries on this , please feel free to tag us to your reply or you can open a issue on our New forum [Microsoft QnA](https://docs.microsoft.com/answers/index.html)

[2019-12-20 04:57] #1270 closed

[2019-12-20 20:07] bwarren18 commented on #599
Also running into this.  I created a Service Principal, then deleted it, then tried to create a new Service Principle with a different display name but getting the same error.

[2019-12-26 15:37] lesterw1 opened #1291 "Add link to Migration Guide to Az 1.0.0"
Recommend adding the following section to this page as the reference has critical information for anyone migration from AzureRm to Az.

## Migrate to Az 1.0.0
To see the changes between the 6.x versions of AzureRM and Az version 1.0.0, visit the [Az 1.00 Migration Guide](https://github.com/Azure/azure-powershell/blob/master/documentation/migration-guides/Az.1.0.0-migration-guide.md).

---
#### Doc

[2019-12-26 17:21] kobulloc-MSFT commented on #1291
@lesterw1 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-12-27 20:36] aganotra commented on #1198
To set default subscription use Tenant when logging in.
 Login-AzAccount -Tenant "Teanant ID"

[2019-12-27 20:42] aganotra commented on #932
tenants that are authorized for the current user. Once you are connected, you can get information about tenants. For more information
 https://docs.microsoft.com/en-us/powershell/module/az.accounts

[2019-12-27 21:15] FISHMANPET commented on #1198
I have multiple subscriptions using the same tenant so I don't think that's true.  Also the whole reason I want to set a default is so I don't need to remember or store a GUID for when I login, so specifying any ID when connecting defeats the purpose of having a "default."

[2019-12-30 15:01] AlexImray commented on #932
_We_ all know what TenantId is, but we're saying an anonymous user reading the page won't necessarily know and the page itself does absolutely nothing to tell the user what that variable is or how/where to retrieve it. We'd like the page to explain that or lead to that information somehow.

If someone searches 'azure sign in with powershell' in a web browser, this is the first result, so they migh

[2019-12-30 15:37] Daemach commented on #932
What he said.

[2020-01-01 09:19] tasgray commented on #1018
I recently had this issue and the fix is really simple. I posted it on my blog - https://tasgray.com/connect-azaccount-invalid-provider-type-specified/

[2020-01-02 15:17] unnity opened #1292 "Its not clear how New-AzADSpCredential supports user defined credentials"
It says "use New-AzADSpCredential to add a new credential. This cmdlet takes the same credential arguments and types as New-AzADServicePrincipal". But does not actually support using user defined credentials when resetting the password

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 437f522d-bae8-c178-202b-bee86ceb9983

[2020-01-02 22:31] mike-urnun-msft commented on #1292
@unnity Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-01-03 17:14] aydeisen opened #1293 "Best Practice: Securing the Context Cache"
Is there a best practice for securing the context cache?

Example:
I just had a scenario where I had to wipe and reload my computer.  Before doing so, I backed up my user profile.

I restored the %userprofile%\.Azure directory after the computer was wiped and, after re-enabling the autocontextsave, was able to log into my Azure account without reauthenticating.

While this was convenient for me, t

[2020-01-03 19:55] mike-urnun-msft commented on #1293
@aydeisen Thank you for your feedback! I have assigned an engineer who can help with the next steps.

[2020-01-03 20:18] mgblythe commented on #914
#please-close

[2020-01-04 00:26] dcaro commented on #1291
@lesterw1 thanks for a very good suggestion.
@Minewiskan I think that it make sense to add a pointer to the reference page.

[2020-01-06 23:35] #1256 closed

[2020-01-07 20:18] BharathNimmala-MSFT commented on #1018
Thank you @tasgray for sharing the blog.

@Adikota , @nnamedieh , @m00nd - Thanks for reaching out, requesting you to please look through the blog provided by @tasgray and see if its fixing the issue. However if you have any further queries or the issue still exists for you please feel free to tag us in your reply. Will be more than happy to reopen this thread and continue the conversation. Thank

[2020-01-07 20:20] SamaraSoucy-MSFT commented on #1293
Hi @aydeisen,

Great question! The reality is that many stored credentials are going to be vulnerable to this sort of attack, particularly if they don't have a password required to access them specifically. [Browser cookies](https://security.stackexchange.com/questions/203737/browser-session-cookies-stolen-copied-to-another-pc-why-websites-not-smart-enou) have the same weakness. It's possible to c

[2020-01-08 02:55] daozha opened #1299 "Example of cmdlet Restore-AzsBackup incorrect"
On this page, the example is: Restore-AzsBackup -**Backup** xxx

While the correct parameter name should be "**$Name**" instead of "**$Backup**".

From the module content, the example is also with the correct parameter name:
![image](https://user-images.githubusercontent.com/38281880/71946566-2bd7a700-3205-11ea-8220-007bb0b65b45.png)
I thought the doc is generated automatically from those cmdlet f

[2020-01-08 04:12] kobulloc-MSFT commented on #1299
@daozha Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-01-08 16:39] ausafonly opened #1300 "Set-AzureRmResource -ResourceId $r.ResourceId -Tag $r.Tags -Force"
Set-AzureRmResource -ResourceId $r.ResourceId  -Tag $r.Tags -Force
This command never finish and keep running for hours

is there anything I am doing or missing

[2020-01-08 17:50] himanshusinha-msft commented on #1300
@ausafonly Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an updat

[2020-01-09 04:48] himanshusinha-msft commented on #1300
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-01-09 05:36] dingmeng-xue opened #1301 "Please fix below typos"
There are some typos on release notes
* Az.Cdn: “response deatil in New-AzCdnEndpoint”
* Az.DataBoxEdge: Edge Stroage Container (all the lines)
* Az.Network : “Microsoft.Azure.Management.Sql from 1.36-preivew to 1.37-preivew”
* Az.RecoveryServices: “stomer managed leys for Azure”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-09 15:01] #1293 closed

[2020-01-09 17:52] #1300 closed

[2020-01-09 18:32] SamaraSoucy-MSFT commented on #1301
Hi @dingmeng-xue! Thank you for bringing this to our attention.

[2020-01-10 01:09] Minewiskan commented on #1301
@dingmeng-xue This was fixed in azure-docs-powershell master, and master has been merged with live.

[2020-01-10 01:09] #1301 closed

[2020-01-15 08:57] kkazala commented on #1253
@BharathNimmala-MSFT
should be
Remove-AzRoleAssignment -ObjectId xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxx -RoleDefinitionName "Reader"

rgds

[2020-01-20 18:33] PaulBendall commented on #1287
Basically Microsoft have created a mess. The Az module is NOT feature comparable with AzureRM as is stated on a number of MS doc pages. If you want to do a number of things with regard to Azure AD then you have to use AzureRM (for example - https://github.com/Azure/azure-powershell/issues/9074) but of course the two can't co-exist in the same version of PowerShell and AzureRM will be out of suppor

[2020-01-22 14:16] salbeck commented on #1253
when creating a SP using Powershell, a role is only assigned if -Scope and/or -Role is specified in New-AzADServicePrincipal. If Role and Scope are omitted, no role is assigned. This confused me at first since I expected at least a subscription-wide role-assignment. Compare with available help for New-AzADServicePrincipal that details when and how a role is assigned

[2020-01-22 15:03] #1287 closed

[2020-01-24 15:29] MegoCs opened #1310 "Failed To Create PSCredential"
when i tried to login with the principal to my tenant using those commands

$passwd = ConvertTo-SecureString 'Sp-Secret'-AsPlainText -Force
$pscredential = New-Object System.Management.Automation.PSCredential('$sp.DisplayName/Id', $passwd)
Connect-AzAccount -ServicePrincipal -Credential $pscredential -Tenant "T-Id"

but it can't find the service principal. but what i found is instead of sp.Display

[2020-01-24 21:26] TravisCragg-MSFT commented on #1310
@MegoCs Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-01-27 06:55] MohitVerma-MSFT commented on #1310
Hello @MegoCs ,

**Username/password** credential authorization has been removed in **Azure PowerShell** due to changes in Active Directory authorization implementations and security concerns. If you use credential authorization for automation purposes, instead [create a service principal.](https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps?view=azps-3.3.0)

b

[2020-01-28 05:10] MohitVerma-MSFT commented on #1310
Hello @MegoCs ,

Just wanted to check if you got a chance to check my previous response.

[2020-01-30 05:03] MohitVerma-MSFT commented on #1310
Hello @MegoCs ,

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. Thanks for bringing this to our attention. We will now close
 this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-30 05:03] #1310 closed

[2020-01-31 00:29] tameek opened #1313 "missing cmdlet"
I'm getting an error when I run Connect-AzAccount.

$ pwsh
PowerShell 6.2.4

.NET Core SDK (reflecting any global.json):
 Version:   3.1.101
 Commit:    b377529961

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.15
 OS Platform: Darwin
 RID:         osx.10.15-x64
 Base Path:   /usr/local/share/dotnet/sdk/3.1.101/

Host (useful for support):
  Version: 3.1.1
  Commit:  a1388f194c

.NE

[2020-01-31 17:46] Mike-Ubezzi-MSFT commented on #1313
@tameek Thank you for bringing this to our attention. I cannot find any reference as to whether there is an equivalent for `Connect-AzAccount` for v.6.x., and the documentation does not seem to reflect the latest PowerShell core release.

![Screenshot (642)](https://user-images.githubusercontent.com/37126106/73561794-859b4d80-440e-11ea-8fdd-9f3ac1f0cd70.png)

[2020-02-03 14:45] BhargaviAnnadevara-MSFT commented on #1313
@tameek Thanks for reaching out! From the logs posted above, it seems like the **Azure Powershell** module isn't installed on your machine. To verify the same, please run this command to check if you see **Az** or **Az.Accounts** in the list of installed modules:

`Get-Module -ListAvailable`

If not, then please install it following the instructions provided [here](https://docs.microsoft.com/en-us

[2020-02-04 14:17] BhargaviAnnadevara-MSFT commented on #1313
@tameek Any luck here?

[2020-02-05 16:41] BhargaviAnnadevara-MSFT commented on #1313
@tameek We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-02-05 16:41] #1313 closed

[2020-02-14 15:10] DanielFrei64 commented on #1198
Is there any update to this? Every time I log into Azure it default selects one of my customer subscriptions and I really need to have this default subscription be my dev/test subscription. There has to be a way to save a default subscription and not have to select into the one I want every time I log in.

[2020-02-14 15:20] ToMakeSense commented on #1198
see my comments above, it's fast and working well

[2020-02-14 16:13] DanielFrei64 commented on #1198
@ToMakeSense yes, it does work and work well and I am going to use it. I was just hoping there would be a more official way to do it like they have in the portal

[2020-02-20 13:53] SteveColegrove commented on #1198
I've access many subscriptions but connect-AzAccount defaults to one I very rarely use.  I am also interested in making this work without any workarounds.

[2020-02-24 13:33] alexandair opened #1321 "A help for Invoke-AzResourceAction doesn't have any examples"
A help for [Invoke-AzResourceAction](https://docs.microsoft.com/en-us/powershell/module/az.resources/invoke-azresourceaction?view=azps-3.5.0) doesn't have any examples.

[2020-02-24 17:39] SamaraSoucy-MSFT commented on #1321
@alexandair thank you for your feedback. I will assign this to the doc author to review.

[2020-02-24 18:13] velden opened #1323 "Ambiguous use of service principal ID"
"When using a service principal instead of a registered application, add the -ServicePrincipal argument and provide the service principal's ID as the -ApplicationId parameter's value."

Seems a service principal has both an id and an application id. I'd suggest to explicitely write 'and provide the application ID of the service principal'

---
#### Document Details

⚠ *Do not edit this section. It

[2020-02-24 18:43] BharathNimmala-MSFT commented on #1323
@velden Thank you for sharing your feedback, our team will have a further look into this and get back to you at the earliest.

[2020-02-25 18:46] SamaraSoucy-MSFT commented on #1323
@velden Just to clarify on what you think is confusing, is the Object ID that you are concerned about mixing up when authenticating?

![image](https://user-images.githubusercontent.com/47195189/75277006-3d850600-57d5-11ea-82ff-b6fdc0ff8a4e.png)

[2020-02-26 16:32] velden commented on #1323
![2020-02-26 17_23_58-Select Windows PowerShell](https://user-images.githubusercontent.com/4172150/75365274-451fda00-58bd-11ea-95d0-6927d2c7ddba.png)
@SamaraSoucy-MSFT Thank you for your quick response.

Yes, when creating the new Service principal with Powershell, or when getting the service principal object, the returned object has both an 'id' property as well as an 'application id' property.

[2020-02-27 09:27] HMatsumura opened #1327 "The problem Uninstall the AzureRM module form PowerShell section"
This section has 2 problem.

### 1. below script explanation is not friendly.

[code]
The script only uninstall AzureRM.* dependencies. so, Azure.AnalysisServices and Azure.Storage is remained that installed from "Install-Module -Name AzureRM".
If we try the install of Az module from MSI installer after this script running, the installation is failed because AzureRM module detected.

**If this scr

[2020-02-27 14:01] MonikaReddy-MSFT commented on #1327
@HMatsumura , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-28 18:30] SamaraSoucy-MSFT commented on #1323
Thanks for confirming. I've put in a PR to update the verbiage. If it helps at all for you in the future, you will almost always be using the Application Id to refer to a Service Principal.

[2020-02-28 18:30] #1323 closed

[2020-03-05 21:58] MonikaReddy-MSFT commented on #1327
@HMatsumura , I'm going to assign this to the document author so they can update the document accordingly.

[2020-03-10 19:09] ravick4u opened #1335 "Upgrade to Az"
In section "Upgrade to Az" it says that "Keep the AzureRM module installed with PowerShell 5.1 for Windows, but install the Az module for PowerShell Core 6.x or later.". Does that mean I can have both running on the same machine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95685be3-b179-5ae8-b984-740bcbb007f4
* Vers

[2020-03-10 22:24] kobulloc-MSFT commented on #1335
@ravick4u Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-03-13 19:08] kobulloc-MSFT commented on #1335
@ravick4u That is my understanding as there are some use cases for the legacy AzureRM, however this has understandably been an area of confusion for a lot of people so I am going to ask the document author to confirm.

@sptramer Would you mind confirming both dual installation scenarios as well as full migration?

https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-3.

[2020-03-15 01:30] gc435 opened #1338 "Feedback"
I'll combine lots of feedback into one post.  Sorry for not separating it out.

**First:**

It's not clear what commands need to be run as Administrator and what can be run as a regular user.

**Second:**

The above is not 100% clear to me.  I think it's saying that either PowerShell 5.1 or PowerShell Core 6.x can be used, but if you use PowerShell Core then make sure you have the latest version.

[2020-03-15 02:19] MarileeTurscak-MSFT commented on #1338
@gc435 thanks for this feedback! Can you please post the document which you are following so that we can better assist?

[2020-03-17 01:21] kobulloc-MSFT commented on #1335
@ravick4u As long as the AzureRM module is installed with PowerShell 5.1 for Windows and the Az module is installed on PowerShell Core 6.x or later, you can have both versions.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-03-17 01:21] #1335 closed

[2020-03-17 18:45] Praveen6867 opened #1343 "zureRM.Profile already loaded. Az and AzureRM modules cannot be imported in the same session or used in the same script or runbook"
I am getting the below error for Command "**Connect-AzAccount**" or " **Import-Module -Name Az -RequiredVersion 3.6.1**"

Please let us know how to resolve this issue.
Thanks in advance

WARNING: AzureRM.Profile already loaded. Az and AzureRM modules cannot be imported in the same session or used in the same script or runbook. If you are running Po
werShell in an environment you control you can us

[2020-03-18 03:24] femsulu commented on #1343
Hi @Praveen6867 : according to the output u shared, the error seems to be due to a PS Module conflict. This usually happens when you try to load both the older AzureRM and newer Az modules onto the same PS session - these 2 modules are incompatible. Check the refrences below for more information.
1. [Introducing the Azure PowerShell Az Module](https://docs.microsoft.com/en-us/powershell/azure/new-

[2020-03-18 21:17] femsulu commented on #1343
Hi @Praveen6867 . Hope my comments above helped your case. We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-18 21:17] #1343 closed

[2020-03-19 04:31] Praveen6867 commented on #1343
Thanks this helped me.

[2020-03-20 16:40] mattmcspirit opened #1344 "AzS.Storage.Admin - 1.8.1 -ErrorAction issue"
So it seems that the Get-AzsStorageQuota is not obeying the -ErrorAction parameter, for instance, if i run:

Get-AzsStorageQuota -Name "Blah" -Location $azsLocation -ErrorAction SilentlyContinue -Verbose

It raises an exception, however if i run:

Get-AzsComputeQuota -Name "Blah" -Location $azsLocation -ErrorAction SilentlyContinue -Verbose

it fails silently, as expected, assuming "Blah" does not

[2020-03-20 16:45] SamaraSoucy-MSFT commented on #1338
I think this is the referenced page: https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-3.6.1. Assigning to the doc author for review.

[2020-03-20 16:48] mattmcspirit commented on #1344
Adding @bganapa here too.

[2020-03-20 16:50] mattmcspirit commented on #1344
Issue raised in wrong place, moving to https://github.com/Azure/azure-powershell/issues

[2020-03-20 17:00] SamaraSoucy-MSFT commented on #1344
@mattmcspirit I'll close the issue here as you have posted it to the main Powershell repo. Thank you!

[2020-03-20 17:00] #1344 closed

[2020-03-23 07:49] j0rt3g4 commented on #1198
I solved this by just deleting the .azure content within the user's profile and asking it to connect again
connect-azAccount

[2020-03-24 18:02] williamwyz opened #1347 "Install-Module -Name Az -AllowClobber failed"
Install-Module -Name Az -AllowClobber
WARNING: Unable to resolve package source 'https://isrmsafetnuget.azurewebsites.net/nuget/'.

[2020-03-24 22:08] kobulloc-MSFT commented on #1347
@williamwyz Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-03-31 03:52] kobulloc-MSFT commented on #1347
It appears that you may be experiencing an issue with your connection.  I would troubleshoot your connection to make sure that you have access to all required resources.  If that's not an option, it is possible to complete installation offline:

https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-3.6.1#install-offline

For verification, the command does work as I was able to

[2020-03-31 03:54] kobulloc-MSFT commented on #1347
@williamwyz We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-03-31 03:54] #1347 closed

[2020-04-01 07:44] LouisDK opened #1350 "Please clarify which permissions are needed"
The code to create a new SP works when executed as a User (with AzureAD admin rights).
When trying to create a new Service Principal when the code runs as another Service Principal, it fails while complaining about Insufficient Privileges.
Context: I'm writing an Azure Function (PowerShell or C#) that needs to create a Service Principal. Since it appears that Managed Identities (MSI) cannot be gra

[2020-04-01 21:31] BharathNimmala-MSFT commented on #1350
@LouisDK Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-04-03 00:30] SamaraSoucy-MSFT commented on #1350
I'm going to add the doc author to this question to see about making the additional documentation.

1) You can do this with either a Managed Identity or Service Principal assuming the app has the required permissions.
2) You may want to create a custom role for this that has just the few permissions needed to accomplish this so you can limit what you are giving to the app. To use built in roles, y

[2020-04-03 01:05] dcbrown16 opened #1351 "Name obtained by Get-AzureNetworkSecurityGroup"
I realize this is an ASM command but we have an advisory case in CSS asking for clarification.
Get-AzureNetworkSecurityGroup apparently requires that you specify the name of the resource as "Group <RG> <NSG name>", which doesn't seem to line up with anything else.
Is this by design? Azure module 5.3.0.

**Examples**
Fails when using the resource name alone
[code]

Succeeds when including the RG na

[2020-04-03 04:13] ram-msft commented on #1351
@dcbrown16 Thanks for your question. Please provide us with the link to the documentation you are referring.

[2020-04-03 05:38] dcbrown16 commented on #1351
https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/get-azurenetworksecuritygroup?view=azuresmps-4.0.0
would be the doc for this command. If there's a repo somewhere for the Azure module itself please let me know.

[2020-04-03 05:38] dcbrown16 commented on #1351
but if this is by design it would be good to update the document, since this is a nonstandard use of "name".

[2020-04-06 06:13] BhargaviAnnadevara-MSFT commented on #1351
@dcbrown16 Thanks for bringing this to our attention.

I understand the issue and have reached out to our internal Team to get more details. Will keep you posted on my findings.

[2020-04-07 16:33] BhargaviAnnadevara-MSFT commented on #1351
Looping in @barbkess.

[2020-04-16 18:29] mikefrobbins commented on #1351
This is an obscure problem that I was only able to reproduce after numerous attempts.

- When a classic network security group is created with PowerShell, it works as designed in both PowerShell and in the portal.
- When a classic network security group is created in the portal using a resource group other than the one named **Default-Networking**, it only shows up in PowerShell using the followin

[2020-04-16 20:49] adamkadzban commented on #1198
I don't see it explicitly documented anywhere, but it seems like your context is (by default) set to the alphabetically-sorted first subscription it has access to.

[2020-04-16 22:55] #1351 closed

[2020-04-19 14:11] shravanpragallapati commented on #910
Try this once
Connect-AzAccount : User canceled authentication
At line:1 char:1
+ Connect-AzAccount
+ ~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Connect-AzAccount], AdalServiceException
    + FullyQualifiedErrorId : Microsoft.Azure.Commands.Profile.ConnectAzureRmAccountCommand

[2020-04-19 14:12] shravanpragallapati commented on #910
Try this once

Install-Module -Name Az -AllowClobber -Scope AllUsers
Get-ExecutionPolicy
Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Scope LocalMachine
Connect-AzAccount

[2020-04-21 12:25] gsscoder opened #1361 "New-AzApiManagementApi -ServiceUrl parameter mandatory"
Since this is a repo about docs, I don't know if this is the right place to post. If not, please excuse me.

I'm wondering why `-ServiceUrl` parameter of `New-AzApiManagementApi` is mandatory. From **Portal UI** is not. I configure my APIM Services with policies and it is correctly ignored.

The path to use a more basic **Az APIs** (like `New-AzResource`) to achieve _not setting it_ is quite imper

[2020-04-21 22:21] kobulloc-MSFT commented on #1361
@gsscoder Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-04-23 05:01] nguyenlamlll opened #1368 "Username in "Password-based authentication" must be service principal's application ID"
In the section "Password-based authentication", username is not clear enough.

    Use the service principal ID for the username.

There are many IDs here. And to my experience, only Application ID works. Principal name and ID does not work (The ID provided by `New-AzADServicePrincipal`). Refer to [this section.](https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azur

[2020-04-23 22:07] kobulloc-MSFT commented on #1368
@nguyenlamlll Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-04-23 22:54] kobulloc-MSFT commented on #1361
Adding @barbkess for clarification.

[2020-04-26 21:44] satishkmulay commented on #1327
I was facing the same issue uninstalling the AzureRM and related modules even when running with elevated credentials..  It seems like for some reason the PowerShell locks the files in the session.  Haven't investigated yet why, however this worked for me.

1. Exit current PS session.
2. Launch a new elevated PS session and run -
   Get-Module -ListAvailable -Name AzureR* | Uninstall-Module -Force

[2020-04-27 10:43] MM-MikeM opened #1371 "Backtick character unnecessary after the pipe character"
The backtick '`' character is unnecessary after the pipe "|" character because the pipe acts as a carriage return.  For the example on this page, Instead of "Get-AzVM -ResourceGroupName TestGroup | ` ", please eliminate the backtick character to make it "Get-AzVM -ResourceGroupName TestGroup |".  The examples will be more helpful and less confusing for people beginning to use PowerShell.  Thank yo

[2020-04-27 17:14] MonikaReddy-MSFT commented on #1371
@MM-MikeM - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-28 00:54] jimddavis opened #1372 "NO HELP FOR INSTALLING THIS"
more useless documentation.  How about starting with a description of how to install that should work in a reasonable way for a majority of people, and THEN do the confusing diatrive of 101 options?  I have NO IDEA WHAT TO DO!!!!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 842f6a18-0b96-0fae-d8f5-d8ae4c565f0e
* Ve

[2020-04-28 09:18] BhargaviAnnadevara-MSFT commented on #1372
@jimddavis We're really sorry that the document was not of help to you, and apologize for any inconvenience caused.

In order to help you with the installation, could you please let us know what isn't working for you, and the error you see?

If installing with PowerShellGet seems too troublesome, you can use the [MSI](https://github.com/Azure/azure-powershell/releases/tag/v3.8.0-April2020) as well

[2020-04-28 09:39] BhargaviAnnadevara-MSFT commented on #1372
@dcaro @barbkess I noticed that the doc does not reference the installation instructions for PowerShellGet, and submitted a PR adding the same. Please review and suggest if there can be any further improvements to the doc that can help make it clearer.

[2020-04-28 13:37] SQLtattoo commented on #1133
My penny...

[code]

Otherwise, you have to iterate manually to make it work.

Cheers!

[2020-04-28 13:47] SQLtattoo commented on #1133
My penny...
Warning: no error handling...
[code]
Cheers!

[2020-04-28 20:29] malake commented on #1372
It would be nice if we didn't have to install PowerShell at all and there were the equivalent standard of documentation for the AzureCLI. The majority of the world runs on linux/unix yet we keep getting PowerShell shoved down our throats.

[2020-04-29 16:04] MonikaReddy-MSFT commented on #1371
@MM-MikeM , Thanks again for bringing this to our attention. We have updated the Doc. It should merge the changes, Once the PR is approved.

[2020-05-01 13:33] sliebner opened #1376 "Password extraction does not work using PowerShell Core"
$BSTR = [System.Runtime.InteropServices.Marshal]::SecureStringToBSTR($sp.Secret)
$UnsecureSecret = [System.Runtime.InteropServices.Marshal]::PtrToStringAuto($BSTR)

Does not work using PowerShell Core.

ConvertFrom-SecureString -SecureString $sp -AsPlainText
should work. And -AsPlainText is not documented clearly with ConvertFrom-SecureString.

---
#### Document Details

⚠ *Do not edit this sectio

[2020-05-01 14:32] MonikaReddy-MSFT commented on #1371
@MM-MikeM , Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-01 14:32] #1371 closed

[2020-05-01 17:47] theheatDK commented on #926
Hi @MarileeTurscak-MSFT,
Looks like @sptramer have moved one to other adventures.
I still think this would great with an article for this. What should I do? :-)
Regards Peter

[2020-05-01 21:00] YutongTie-MSFT commented on #1376
@barbkess
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-02 06:34] BhargaviAnnadevara-MSFT commented on #1372
@jimddavis Please help us with the details of the error if you're still blocked so we can troubleshoot further.

@malake The documentation source for the Azure CLI is hosted [here](https://github.com/MicrosoftDocs/azure-docs-cli). Please open an issue or provide your feedback [here](https://github.com/MicrosoftDocs/azure-docs-cli/issues) to let us know about any improvements that can be made to th

[2020-05-03 17:36] BhargaviAnnadevara-MSFT commented on #1372
@jimddavis We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-03 17:36] #1372 closed

[2020-05-06 18:58] AliRazeghi commented on #1368
Please work on clarifying this documentation.

[2020-05-08 09:08] rpilot commented on #1287
While Az module is cross-platform, Microsoft Learn (https://docs.microsoft.com/en-us/learn/modules/manage-users-and-groups-in-aad/5-manage-aad-roles) still uses AzureAD in their scripting examples...

[2020-05-09 15:00] jeevaeastpoint commented on #1376
I have seen the same behaviour. The $UnsecureSecret is give one character as the password which I am sure it can't be. Are those commands to extract the secret valid? I am using PowerShell core as well.

[2020-05-09 15:16] jeevaeastpoint opened #1377 "Creating service principal creates an app in Active directory"
I am curious to know why creating a service principal also creates an app. We have two PowerShell commands New-AzADServicePrincipal and New-AzADApplication which creates an app. The only difference is that in case of service principal we have a secret created which by default has a "Contributor" access to the subscription (which is weird allowing Contributor access by default!!!). Where in the app

[2020-05-09 15:19] SamaraSoucy-MSFT commented on #1377
Thanks for the question! We will review and get back to you shortly.

[2020-05-09 15:25] jeevaeastpoint commented on #1377
I am also interested to know whether the Service principal treated or used as Azure AD App

[2020-05-09 15:57] jeevaeastpoint opened #1378 "Docs confusing"
The title of the docks in left navigation panel "Create a Service principal" but the section titles in the docs talks about two authentication method. It looks like the details under the section are instructions to create a service principal in different ways. Am I wrong or the docs needed some restructuring?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-05-09 16:41] jeevaeastpoint opened #1379 "Role assigned for SP created by different methods"
I just found out that the SP created using password-based authentication by default adds "Contributor" role at the subscription scope. On the other hand, the user-defined password-based authentication method doesn't add any role.  Not sure why this difference. Can someone shed some knowledge on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-05-09 19:26] jeevaeastpoint opened #1380 "Unable to remove credentials"
I have a Service Principal created and a couple of client secret created under it. I expected that running the command "Remove-AzADSpCredential -DisplayName ServicePrincipalName" would simply remove all client secret under the service principal. But I don't see any effect even though the command ran successfully. Not sure my expectation is correct.  Also, the New-AzADSpCredential command with Serv

[2020-05-09 23:50] SamaraSoucy-MSFT commented on #1378
Thanks for the question! We will review and get back to you shortly.

[2020-05-09 23:52] SamaraSoucy-MSFT commented on #1379
Thanks for the question! We will review and get back to you shortly.

[2020-05-09 23:52] SamaraSoucy-MSFT commented on #1380
Thanks for the question! We will review and get back to you shortly.

[2020-05-12 03:38] BhargaviAnnadevara-MSFT commented on #1378
@jeevaeastpoint This article aims to walk one through the steps for creating, getting information about, and resetting a service principal with Azure PowerShell.

As mentioned in the section, when creating a service principal using the `New-AzADServicePrincipal` cmdlet, you choose the type of sign-in authentication it uses.

There are two types of authentication available for service principals: P

[2020-05-12 11:19] tom-stones opened #1381 "Please explain how to handle managed identity token expiry"
When I log on with "Connect-AzureRmAccount -MSI" things eventually stop working in my long-running script because there under the hood there is an access token that expires.  Even when I add an hourly "Disconnect-AzureRmAccount" and logon again with  "Connect-AzureRmAccount -MSI", it sometimes continues to give exceptions saying token expired.  Killing the process and starting it again seems to fo

[2020-05-12 12:55] MonikaReddy-MSFT commented on #1381
@tom-stones , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-12 21:04] SamaraSoucy-MSFT commented on #1377
There are some existing docs on this concept in the Identity platform docs:
https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-how-applications-are-added

To try and summarize, every service principal is connected to an app, and an app has at least one service principal.

[2020-05-12 21:37] SamaraSoucy-MSFT commented on #1379
I was able to repro the inconsistency. I'm going to reach out to the product team to see if this is a bug or the expected behavior.

[2020-05-13 00:13] DaveEM opened #1384 "PowerShell 7 requires "-Repository PSGallery" to be specified on Install-Module command"
When trying to use the instructions to install the Az module in PowerShell 7, which is PowerShell Core, I got the following error until I specified the -Repository parameter with a value of PSGallery:

PS C:\Users\davmills&gt; Install-Module -Name Az -AllowClobber                                                               WARNING: 'Az' matched module 'Az/1.0.0.7' from provider: 'PowerShellGet',

[2020-05-13 04:24] MonikaReddy-MSFT commented on #1384
@DaveEM , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-13 07:24] BhargaviAnnadevara-MSFT commented on #1378
@jeevaeastpoint We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-13 07:24] #1378 closed

[2020-05-13 14:22] samboustani opened #1385 "The Term <command> is not recognized as the name of the cmdlet"
Stuck in an endless loop where no commands work.  Started on a different documentation page that recommended I install AzureRm, but this one recommends Az.  Also, what goes next to the Connect-AzAccount command?  It doesn't say on this page.

The 'Connect-AzAccount' command was found in the module 'Az.Accounts', but the module could not be
loaded.

Import-Module : AzureRM.Profile already loaded. A

[2020-05-13 15:03] crisansou opened #1387 "How to remove all Az modules?"
Hello,

I'm facing some problems because of the module version and I would like to uninstall all modules and install again.

I don't know how the modules were installed, I looked in "Start> Settings> Apps" and I didn't find the MSI, so I tried to use the commands from the link: https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=azps-3.8.0

![image](https://user-images.githubuse

[2020-05-13 15:41] crisansou commented on #1387
I ran the commands using version 5.1, I didn't understand why it was not possible in version 7.

![image](https://user-images.githubusercontent.com/29444086/81834025-d3981500-9516-11ea-838c-893fae85ea9a.png)

![image](https://user-images.githubusercontent.com/29444086/81834078-e14d9a80-9516-11ea-9d74-d118c54e1493.png)

![image](https://user-images.githubusercontent.com/29444086/81834163-fcb8a580-9

[2020-05-13 16:02] #1387 closed

[2020-05-13 16:45] BhargaviAnnadevara-MSFT commented on #1380
@jeevaeastpoint If you're looking to manage your Application client secrets that you see on the Azure Portal, then Remove-AzAD**App**Credential cmdlet is the one to run.

Here is how you can do it:
[code]

Please specify the **-ServicePrincipalName** in the following format:
`New-AzADSpCredential -ServicePrincipalName http://test-serviceprincipal`

Please let me know if you still run into issues.

[2020-05-13 17:28] SamaraSoucy-MSFT commented on #1385
Thanks for the question! We will review and get back to you shortly.

[2020-05-13 17:37] jeevaeastpoint commented on #1380
@BhargaviAnnadevara-MSFT  Thank you for this. But still trying to understand the use of Remove-AzADSpCredential  commandlet. If it is removing a certain type of credentials then where can I find these credentials in Azure portal so that I can run and go back in to check.

[2020-05-13 18:27] dcaro commented on #1385
@samboustani it looks like you have the AzureRM and Az modules installed on you machine. We are not evolving the AzureRM modules anymore and are recommending to use Az,

You can uninstall the AzureRM modules using the following guidance: https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=azps-3.8.0#uninstall-from-powershell.

[code]
Once AzureRM uinstalled, please install Az ag

[2020-05-13 22:11] TravisCragg-MSFT commented on #1387
@TravisCragg-MSFT Thanks for the update!

[2020-05-14 03:37] BhargaviAnnadevara-MSFT commented on #1380
@jeevaeastpoint That's a good question! AFAIK, the credentials created by `New-AzADSpCredential` cmdlet aren't available on the Azure portal for management.

However, if you want to cross-check if the deletion was successful, you can always run the [Get-AzADSpCredential](https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azadspcredential?view=azps-3.8.0) cmdlet, as follows:

![ima

[2020-05-14 14:02] SamaraSoucy-MSFT commented on #1377
Since I have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-14 14:02] #1377 closed

[2020-05-14 16:59] BhargaviAnnadevara-MSFT commented on #1380
@jeevaeastpoint Hope the above response helps.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-14 16:59] #1380 closed

[2020-05-14 18:18] jeevaeastpoint commented on #1380
@BhargaviAnnadevara-MSFT I am getting a different result. Please refer my attached screenshots.... I am using mac
<img width="1132" alt="Screenshot 2020-05-14 at 19 10 27" src="https://user-images.githubusercontent.com/7567687/81970558-a1221100-9617-11ea-9253-8149b735f1e5.png">

PSVertionTable
<img width="1082" alt="Screenshot 2020-05-14 at 19 16 05" src="https://user-images.githubusercontent.com/

[2020-05-14 21:23] mikefrobbins commented on #1384
Based on the error message, the issue is due to a module named Az being found in more than one repo that's defined on your system. To see the repos defined in PowerShell on your machine, run the `Get-PSRepository` cmdlet.

I will update the referenced doc to account for this since it's an issue that other users could run into if they've defined additional repos on their system in addition to the d

[2020-05-14 21:30] mikefrobbins commented on #1381
Based on the reported issue, it appears that you're using the AzureRM module, although the doc referenced uses the Az module. Please update to the latest version of whichever of these that you are currently using. There were some timing issues with certain older versions of the modules.

[2020-05-14 21:37] mikefrobbins commented on #1379
Can you provide examples of the commands to recreate the behavior difference?

In the short term, we will update the documentation to clarify the current behavior. We will also consider future changes to the cmdlet's behavior more consistent.

[2020-05-14 23:57] BhargaviAnnadevara-MSFT commented on #1380
@jeevaeastpoint What you see there is the expected result. You just happened to create a new service principal but haven't created any SP credentials yet. Hence, you see empty output for `Get-AzADSpCredential`.

Please go ahead and run the `New-AzADSpCredential` to create a new SP credential as shown in my previous screenshot:

`New-AzADSpCredential -ServicePrincipalName http://test-serviceprincip

[2020-05-15 00:36] #1385 closed

[2020-05-15 08:52] tom-stones commented on #1381
Hi, I'm using AzureRm.Profile version 5.8.3.
Tom.

[2020-05-15 13:38] mikefrobbins commented on #1381
Would it be possible to try the latest version of the Az module to determine if this problem also occurs with `Connect-AzAccount -MSI`? If the problem does occur, try running `Resolve-AzError` to see if it provides any additional details for what the source of the issue might be.

[2020-05-16 15:53] jeevaeastpoint commented on #1379
@mikefrobbins

I am on mac

Method 1: `$new = New-AzADServiceprincipal -DisplayName "NewServicePrincipal"`

Method 2:
`$credentials = New-Object Microsoft.Azure.Commands.ActiveDirectory.PSADPasswordCredential -Property @{ StartDate=Get-Date; EndDate=Get-Date -Year 2024; Password="MyStrongpwd1234@"}`
`$spup = New-AzAdServicePrincipal -DisplayName "MyServicePrincipal" -PasswordCredential $credential

[2020-05-16 16:02] jeevaeastpoint commented on #1380
@BhargaviAnnadevara-MSFT Thank you for this. It worked. It would be good to mention in the documentation that these credentials are not visible/available from the Azure portal. It did confuse me. If it is already there, I might have missed it. Will go through the docs one more time to make sense of the whole thing with all these clarifications in mind.

[2020-05-16 16:46] BhargaviAnnadevara-MSFT commented on #1380
@jeevaeastpoint Thanks for the response, glad to know it helped.

Sure, will loop in the content author to make the necessary enhancements as applicable to the documentation.

@mikefrobbins @barbkess FYI.

[2020-05-17 12:30] MonikaReddy-MSFT commented on #1381
@mikefrobbins - Thank you providing your insights.
@tom-stones - Does the above solution work for you? Please let us know.

[2020-05-17 12:46] MonikaReddy-MSFT commented on #1384
@mikefrobbins - Thank you for providing more insights and for updating the doc.

@DaveEM - I hope @mikefrobbins has answered your question. Thanks again for bringing this to our attention.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-17 12:46] #1384 closed

[2020-05-18 08:22] tom-stones commented on #1381
I'll give that a go and get back to you.  It would be useful to know what is supposed to happen. When is the token supposed to be updated. When is the cached value used?

[2020-05-18 14:25] mikefrobbins commented on #1381
It is suppose to periodically check the access token and refresh it automatically before a time out occurs.

For future reference, reporting an issue via the "This product" button connects you with the developers who write the Azure PowerShell cmdlets for software related problems. Other options on the Azure PowerShell documentation pages, place you in contact with docs writers for documentation r

[2020-05-18 14:49] MonikaReddy-MSFT commented on #1381
@tom-stones -  Thanks again for bringing this to our attention.
As @mikefrobbins  has mentioned, since this is not a doc related issue, I have raised an Issue for you on PowerShell GH Page for the PG to look at, and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen t

[2020-05-18 14:49] #1381 closed

[2020-05-18 14:50] #1376 closed

[2020-05-18 16:25] mattbriggs commented on #1299
@daozha Thanks for your feedback. The content is generated automatically from the cmdlet. However the published docs are not synced. And so it appears that there was an update in the cmdlet that is not reflected in the docs. It would be most expedient at this point to manually update the markdown. If we should ever generate the 1.7.2 ref, the current state where it is correct would be reflected. T

[2020-05-18 16:42] mattbriggs commented on #1299
https://github.com/MicrosoftDocs/azure-docs-powershell/pull/1395

#sign-off

[2020-05-18 16:53] kobulloc-MSFT commented on #1299
@daozha We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-18 16:53] #1299 closed

[2020-05-18 20:18] #1338 closed

[2020-05-18 20:21] mikefrobbins commented on #1321
Three examples have been added since this issue was logged.

[2020-05-18 20:21] #1321 closed

[2020-05-19 01:06] mikefrobbins commented on #1128
Confirmed that the reported typos no longer exist in the specified docs.

[2020-05-19 01:06] #1128 closed

[2020-05-21 09:38] #969 closed

[2020-05-21 17:50] mikefrobbins commented on #926
The "[Azure subscription states](https://docs.microsoft.com/azure/cost-management-billing/manage/subscription-states)" doc contains a list of subscription statuses and their meanings.

[2020-05-21 17:50] #926 closed

[2020-05-21 18:15] mikefrobbins commented on #1288
The referenced page was previously updated and the section with the link problem no longer exists.

[2020-05-21 18:15] #1288 closed

[2020-05-25 03:13] ermagana opened #1410 "AzureRM continued support"
Based on this statement:
"AzureRM will no longer receive new cmdlets or features. However, the AzureRM module is still officially maintained and will get bug fixes through December 2020."
I understand that bug fixes and new features will not be introduced into AzureRM. However, could it be explicitly stated when AzureRM's API cease to function?
Will there be any version of AzureRM that cease to wo

[2020-05-25 04:20] MonikaReddy-MSFT commented on #1410
@ermagana ,  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-26 13:16] srvbpigh commented on #1004
Hello, @v-makoud

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 19:01] mikefrobbins commented on #1410
The statement in the docs about the AzureRM module is currently accurate. No specific dates have been announced other than "_AzureRM will no longer receive new cmdlets or features. However, the AzureRM module is still officially maintained and will get bug fixes through December 2020._"

We will add additional information and dates to the docs once they're announced.

[2020-05-26 19:01] #1410 closed

[2020-05-26 19:47] srvbpigh commented on #1004
Hello, @v-makoud

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 21:47] dcaro commented on #1004
The release notes are build based on the comments from the PRs, the meaning of this log entry is that the recovery services operations for SQL databases in Azure VM supported. https://docs.microsoft.com/en-us/azure/backup/backup-sql-server-database-azure-vms
This issues can be closed.

[2020-05-26 23:51] Mike-Ubezzi-MSFT commented on #1004
#please-close

[2020-05-26 23:51] #1004 closed

[2020-05-29 12:04] MonikaReddy-MSFT commented on #1410
@mikefrobbins   - Thank you for providing your insights.
@ermagana - I hope @mikefrobbins  has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-29 18:10] #1123 closed

[2020-05-29 18:10] #1133 closed

[2020-05-29 18:10] #1327 closed

[2020-06-04 07:08] sivamani-dev commented on #644
I'm facing the same issue. Is a way to resolve it?

[2020-06-04 12:51] CharmanderJieniJieni opened #1421 "Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline not working properly with single rule"
The BaselineResult parameter cannot accept single line of input. Say
Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline `
     -ResourceGroupName $rgname `
     -ServerName $serverName `
     -DatabaseName $databasename `
     -RuleId "VA2108" `
     -BaselineResult @( 'Principal1' , 'db_ddladmin', 'SQL_USER','DATABASE')

Result showing in portal is not parsing correctly
https://user-images.gith

[2020-06-04 17:12] MonikaReddy-MSFT commented on #1421
@CharmanderJieniJieni , Thanks for brining this to our attention.

Can you provide us the doc that you are using, so we can investigate it further.

[2020-06-04 17:18] Mike-Ubezzi-MSFT commented on #1421
@MonikaReddy-MSFT This is a potential issue with the following cmdlet [Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline](https://docs.microsoft.com/en-us/powershell/module/az.sql/Set-azSqlDatabaseVulnerabilityAssessmentRuleBaseline?view=azps-4.2.0) where the cmdlet requires at least two parameters for the `BaselineResult`. Customer has been requested to open an issue on this repository specifi

[2020-06-04 18:03] Mike-Ubezzi-MSFT commented on #1421
If only a single entry for `BaselineRule`
 is passed, the Assessment Rule results are skewed when viewing the results in the Azure Portal:

![Screenshot (51)](https://user-images.githubusercontent.com/37126106/83794381-ca502300-a652-11ea-8624-ea4d31e42e69.png)

![Screenshot (50)](https://user-images.githubusercontent.com/37126106/83794515-fcfa1b80-a652-11ea-9dd9-4495076f92ae.png)

[2020-06-04 18:06] Mike-Ubezzi-MSFT commented on #1421
If you pass two parameters, the data is displayed correctly:

![Screenshot (45)](https://user-images.githubusercontent.com/37126106/83794808-611cdf80-a653-11ea-9649-6fbc270019b6.png)

![Screenshot (46)](https://user-images.githubusercontent.com/37126106/83794838-6bd77480-a653-11ea-96d0-35cb26b32789.png)

[2020-06-08 15:33] MonikaReddy-MSFT commented on #644
@sivamani-dev - I'm going to assign this to the document author so they can update the work with you on this accordingly.

[2020-06-08 15:42] mikefrobbins commented on #644
As the warning in the referenced doc states, "We do not support having both the AzureRM and Az modules installed for PowerShell 5.1 on Windows at the same time." The specified error will only occur when both the Az module and AzureRM module are installed at the same time.

[2020-06-08 16:12] MonikaReddy-MSFT commented on #1421
@Mike-Ubezzi-MSFT - Thanks for providing more insights on this. This repo is for Azure Docs PowerShell. Since this is a product issue, I have opened this issue against Product Team Repo which is this - https://github.com/Azure/azure-powershell .

@CharmanderJieniJieni - Thanks again for bringing this to our attention. We have raised the issue in PowerShell PG Repo and the Product team should be wo

[2020-06-08 16:12] #1421 closed

[2020-06-10 14:46] robinmalik opened #1423 "-AsPlainText parameter only available in PS6+"
[Enter feedback here]

This document details a command to run after having created the Service Principal in Azure:

`$UnsecureSecret = ConvertFrom-SecureString -SecureString $sp.Secret -AsPlainText`

This command fails in PowerShell 5.1 because the `-AsPlainText` parameter doesn't appear to be present/supported.

It would be good to note this somewhere at the start of the article to save users hav

[2020-06-10 20:49] TheOnlyWei opened #1424 "Documentation needs to be updated"
Documentation needs to be updated. Right now the different versions of the Azure Stack module all have the same or similar messages.

There is also a suggestion for a common errors section as well because sometimes the error messages from ARM are not user-friendly. E.g., this error:

![8b7f30bf-c312-4fdd-841d-ccad993174a4](https://user-images.githubusercontent.com/19400755/84317099-169ed580-ab21-1

[2020-06-10 23:39] kobulloc-MSFT commented on #1423
@robinmalik Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-10 23:40] kobulloc-MSFT commented on #1424
@TheOnlyWei Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-14 01:06] kobulloc-MSFT commented on #1424
@TheOnlyWei It sounds like there are some opportunities to improve our error message (and better error messages lead to a better user experience and easier troubleshooting).  I'm going to include the document author in this (@jeffgilb ) but for product feedback the best channel is feedback.azure.com:
https://feedback.azure.com/forums/344565-azure-stack

I'm happy to submit this feedback on your be

[2020-06-16 17:03] kobulloc-MSFT commented on #1424
@TheOnlyWei I've posted your feedback here:

https://feedback.azure.com/forums/344565-azure-stack/suggestions/40680550-default-provider-subscription

Get-AzsAzureBridgeActivation returns "The resource namespace 'Microsoft.AzureBridge.Admin' is invalid.", which in this case is caused by not being in the "Default Provider Subscription" however this is not made clear to the user.

Please feel free to

[2020-06-16 17:03] #1424 closed

[2020-06-17 20:28] #1423 closed

[2020-06-19 02:40] mikefrobbins commented on #1361
@kobulloc-MSFT Could you move this issue to the [github.com/Azure/azure-powershell](https://github.com/Azure/azure-powershell) repo since it's a product question and not a documentation issue? Thank You!

[2020-06-19 02:52] #914 closed

[2020-06-19 03:12] #1368 closed

[2020-06-19 12:24] #1292 closed

[2020-06-19 12:24] #932 closed

[2020-06-19 18:33] mikefrobbins commented on #970
Information for automating the login process has been added to the most recent versions of the referenced doc. See PR #1430

[2020-06-19 18:33] #970 closed

[2020-06-19 19:49] #1253 closed

[2020-06-19 22:06] #1236 closed

[2020-06-20 01:53] #599 closed

[2020-06-20 01:56] mikefrobbins commented on #1276
@SamaraSoucy-MSFT Could you move this issue to the [github.com/Azure/azure-powershell](https://github.com/Azure/azure-powershell) repo since it's a product question and not a documentation issue? Thank You!

[2020-06-20 19:01] BrightJames commented on #1198
https://build5nines.com/azure-powershell-az-list-set-subscription/

[2020-06-23 04:34] ShehzadUIT commented on #1343
Hi, How to takecare of this issue in Azure Automation runbook?

[2020-06-25 12:59] MonikaReddy-MSFT commented on #1361
@mikefrobbins - I have moved the issue to Azure Powershell Repo. Thanks for providing your inputs.
@gsscoder -
Thanks again for bringing this to our attention.  I have opened a new issue in Powershell Repo. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2020-06-25 12:59] #1361 closed

[2020-06-25 13:01] MonikaReddy-MSFT commented on #1276
@mikefrobbins - I have moved the issue to Azure Powershell Repo. Thanks for providing your inputs.
@dhruvmodi13 - Thanks again for bringing this to our attention. I have opened a new issue in Powershell Repo. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issu

[2020-06-25 13:01] #1276 closed

[2020-06-25 18:31] TylerLeonhardt opened #1449 "Put the "use Az instead" banner on every page"
Google, Bing, and other search engines take you right to pages like:

https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/get-azurermappserviceplan?view=azurermps-6.13.0

which don't mention `Az.*` at all. I just had someone try to use this module on Linux and had to explain to them the difference between Az and AzureRM.

Can we get a banner on every AzureRM page to say "use Az" pl

[2020-06-25 22:41] kobulloc-MSFT commented on #1449
@TylerLeonhardt Thank you for the feedback!  We've assigned this to the document author.

[2020-06-27 00:14] arpitgupta2689 opened #1450 "Get-AzStorageTable returning null even when table exist"
Hi,

I am using powershell script with azure devops pipeline to create/update azure table during deployment. The script reads the config files and checks if table exist or not, and if table does not exist it creates new table and insert the data otherwise the data is updated in the table. The issue here is while checking the table i am getting null response and then i try to create the table which

[2020-06-27 00:48] BharathNimmala-MSFT commented on #1450
@arpitgupta2689  Thank you for reaching out. Please be noted that this channel is only to drive document improvements with in Azure Power Shell Docs. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-06-27 08:19] yaobaobao2002 opened #1451 "New-Object : Exception calling ".ctor" with "2" argument(s): "Cannot process argument because the value of argument "password" is null."
When create a service principal. and try auto login azure account I copy below code

1. $credentials = New-Object Microsoft.Azure.Commands.ActiveDirectory.PSADPasswordCredential -Property @{StartDate=Get-Date; EndDate=Get-Date -Year 2024; Password="xxxxxxxxxxxxxxx"}
2. $sp = New-AzAdServicePrincipal -DisplayName ServicePrincipalName -PasswordCredential $credentials
3.$pscredential = New-Object -Ty

[2020-06-27 17:31] BharathNimmala-MSFT commented on #1451
@yaobaobao2002 Thank you for reaching out. Please be noted that this channel is only to drive document improvements with in Azure Power Shell Docs. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-06-28 00:36] yaobaobao2002 commented on #1451
Hello
Please refer below link and attachment
https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps?view=azps-4.3.0

[cid:image001.png@01D64D27.260407F0]

LIU Yao Iris
Software Engineer
DNV GL - Digital Solutions

Det Norske Veritas (China) Company Limited
E-mail Yao.liu@dnvgl.com<mailto:Yao.liu@dnvgl.com>
Mobile +86 18149722316

www.dnvgl.com<http://www.dnvgl.com

[2020-06-30 02:07] mikefrobbins commented on #1451
Correct, you've already created a credential object in step 1. If these three steps exist together in one of the docs, please let us know where. It appears step 1 and 2 are taken from the first doc and step 3 is taken from the second doc.

[code]

After running the previous code, you can connect using the service principal:

[code]

The reason the following line generates an error is because servi

[2020-06-30 02:28] yaobaobao2002 commented on #1451
After run code for define $credentials and $sp,  If I directly run the code “Connect-AzAccount -ServicePrincipal -Credential $pscredential -Tenant $tenantId”  without define $pscredential
There is error showing 'Connect-AzAccount : Cannot bind argument to parameter 'Credential' because it is  null'

From: Mike F. Robbins <notifications@github.com>
Sent: Tuesday, June 30, 2020 10:08 AM
To: Microsof

[2020-06-30 06:21] BharathNimmala-MSFT commented on #1450
@arpitgupta2689 Since we have not heard back from you we will now proceed to close this thread. If you can further share the documentation link we will gladly reopen the issue and continue the discussion. Thank you

[2020-06-30 06:21] #1450 closed

[2020-06-30 15:16] mikefrobbins commented on #1451
There was a step missing in the previously posted example.

[code]

[2020-06-30 17:11] nimeader opened #1454 "Seems the documentation for 2.0.1 is incomplete"
content from page
Example 1: {{ Add title here }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcbaabe3-57c9-609f-3db7-e2e43696aac2
* Version Independent ID: 480ef18f-797c-29dd-aae2-e86541b1fa61
* Content: [Stop-AzsScaleUnitNode (Azs.Fabric.Admin)](https://docs.microsoft.com/en-us/powershell/module/azs.fabric.admin/s

[2020-07-01 00:03] kobulloc-MSFT commented on #1454
@nimeader Thank you for bringing this to our attention!  This has been assigned to the document author.

[2020-07-01 16:09] #1451 closed

[2020-07-02 21:15] jahobson75 opened #1455 "Request to Include Warning"
My customer leveraged this documentation to change the disk caching on the fly of a live SAP HANA database and experienced an outage.  Can we include a warning in the documentation, much like the one included here?

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage-performance#disk-caching

The intent is to make developers aware of the ramifications of using this func

[2020-07-02 22:50] kobulloc-MSFT commented on #1455
@jahobson75 Thank you for your feedback!  We've assigned this to the document author so they can updated the documentation accordingly.

[2020-07-02 23:25] mikefrobbins commented on #1455
@kobulloc-MSFT I’m not the author of the referenced doc. It resides in a different repo and does not appear to be PowerShell related. Can you move this issue to the correct repo?

[2020-07-03 00:14] mikefrobbins commented on #1455
@kobulloc-MSFT Actually, it looks like a link to the doc wasn't provided. The referenced doc is one that has the warning message. Maybe jahobson75 can provide a link to the doc to add a warning to?

[2020-07-06 06:29] Kuenni opened #1456 "Example for Sign in using a service principal with certificate is missing the ApplicationAD Parameter"
When running the command

`Connect-AzAccount  -ServicePrincipal -CertificateThumbprint <CTP> -TenantId <TID>`

from the examples I am prompted for the ApplicationID. The paragraph before the examples mentions the App ID but the examples do not include them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce776b96-0842-7

[2020-07-06 13:25] MonikaReddy-MSFT commented on #1456
@Kuenni -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-06 22:37] jahobson75 commented on #1455
Here's the link to the command **Set-AzureDataDisk**:
https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/set-azuredatadisk?view=azuresmps-4.0.0#related-links

Here's the link to the warning that I should either be linked to or referenced directly in the above link:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage-performance#disk-caching

Spec

[2020-07-07 08:59] yaobaobao2002 opened #1460 "AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access '797f4846-ba00-4fd7-ba43-dac1f8f63013'"
I would like to connect AzAccount without manual input username and password. I use below code.
Quote: $User = "xxxxxxxxxx"
$PWord = ConvertTo-SecureString -String "xxxxxxxxxx" -AsPlainText -Force
$Credential = New-Object -TypeName System.Management.Automation.PSCredential -ArgumentList $User, $PWord
Connect-AzAccount -Credential $Credential
UnQuote

There is error saying "AADSTS50076: Due to a co

[2020-07-07 11:45] MonikaReddy-MSFT commented on #1460
@yaobaobao2002 - Thank you for your question.

Can you please share with us the URL of the document that you are having issues with?

Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-07-07 19:40] mikefrobbins commented on #1198
The doc was inaccurate and has been updated.

`Select-AzContext` not only changes your active subscription for the current session, but also persists between sessions for the current user on the same system as long as you log in periodically, otherwise the token cache could be invalidated. This however also depends on context autosave being enabled, which is the default configuration.

Unless you'

[2020-07-07 20:07] mikefrobbins commented on #1220
Notice that the service principal name includes "**http://**":

The following line should be `Get-AzRoleAssignment -ServicePrincipalName 'http://DatabaseEnvironmentsAutomation'`
Or `Get-AzRoleAssignment -ServicePrincipalName 'a3c6b66d-68ec-4102-bfad-8555b7541c7f'`

Use the **ApplicationId** for the username and the value from your $UnsecureSecret variable for the password. Either of the service pr

[2020-07-07 20:07] #1220 closed

[2020-07-07 20:16] MonikaReddy-MSFT commented on #1456
@Kuenni -  Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-07 20:16] #1456 closed

[2020-07-07 20:46] mikefrobbins commented on #1291
The content in the referenced [Az 1.0.0 Migration Guide](https://github.com/Azure/azure-powershell/blob/master/documentation/migration-guides/Az.1.0.0-migration-guide.md) is the same content contained in the [Breaking changes for Az 1.0.0](https://docs.microsoft.com/powershell/azure/migrate-az-1.0.0) doc that's already linked to seven times in the existing [Migrate Azure PowerShell from AzureRM to

[2020-07-07 20:46] #1291 closed

[2020-07-07 21:37] #1198 closed

[2020-07-07 21:41] mattbriggs commented on #1454
@nimeader @mikefrobbins Thanks! submitted the PR and all should be well (for now!)

[2020-07-07 21:42] mattbriggs commented on #1454
#please-close

[2020-07-07 21:43] mikefrobbins commented on #1265
Thanks for linking the issue. Closing this issue since it definitely appears to be a code issue and not a documentation bug.

[2020-07-07 21:43] #1265 closed

[2020-07-07 21:46] #1454 closed

[2020-07-07 23:44] #1455 closed

[2020-07-08 08:41] yaobaobao2002 commented on #1460
https://docs.microsoft.com/en-us/powershell/module/az.accounts/Connect-AzAccount?view=azps-4.3.0
https://docs.microsoft.com/en-us/powershell/azure/authenticate-azureps?view=azps-4.3.0

[2020-07-08 15:45] mikefrobbins commented on #1449
We are exploring our options for adding a banner. One thing we have to take into consideration is [Azure Stack still requires the AzureRM module](https://docs.microsoft.com/azure-stack/operator/azure-stack-powershell-install) and we don't want to confuse those customers.

[2020-07-08 15:49] MonikaReddy-MSFT commented on #1460
@mikefrobbins - Do you have any insights on the above?

[2020-07-08 16:01] TylerLeonhardt commented on #1449
@mikefrobbins are you sure? There's an article right below that one called ["PowerShell Az"](https://docs.microsoft.com/en-us/azure-stack/operator/powershell-install-az-module?view=azs-2002)

[2020-07-08 16:07] mikefrobbins commented on #1449
Our current information about Azure Stack requiring AzureRM was confirmed by @mattbriggs, their docs writer. We have also reached out to their engineering team and are waiting to hear back from them.

[2020-07-08 19:59] mikefrobbins commented on #1460
The specified docs don't reference MFA because service principals don't support MFA. Based on my research, this is occurring because security defaults have been enabled for your tenant that are being applied automatically to the new service principal that you're trying to create. For more information, see "[What are security defaults](https://docs.microsoft.com/azure/active-directory/fundamentals/

[2020-07-10 11:50] MonikaReddy-MSFT commented on #1460
@mikefrobbins  - Thank you for providing your insights.
@yaobaobao2002 -  I hope @mikefrobbins has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-10 11:50] #1460 closed

[2020-07-11 07:05] trboomer opened #1469 "Great Tutorial"
I have been taking a company paid for course on Azure, and the course is frustrating to me, the instructor sucks, and the course is outdated. Your free course online is sooooo much better. I got it right away because you have step by step instructions, and you explain everything in detail. I don't have to constantly backup a video and play it again. Your course is a huge time saver for me. Just wa

[2020-07-11 07:46] BhargaviAnnadevara-MSFT commented on #1469
@trboomer Thank you so much for sharing your feedback! We're glad you found the tutorial helpful, and wish you good luck for your exam! :)

[2020-07-11 07:46] #1469 closed

[2020-07-11 23:18] trboomer commented on #1469
Thank you. A quick question. Is there are preferred editor for JSON files?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: BhargaviAnnadevara-MSFT<mailto:notifications@github.com>
Sent: Saturday, July 11, 2020 1:46 AM
To: MicrosoftDocs/azure-docs-powershell<mailto:azure-docs-powershell@noreply.github.com>
Cc: trboomer<mailto:thomasboomer@hotmail.com>; Mention<

[2020-07-13 05:44] gsscoder commented on #1361
@mikefrobbins, @MonikaReddy-MSFT, thank you for your time.

[2020-07-16 05:31] qinezh opened #1482 "Module name didn't match the file name and directory name"
For the module https://github.com/MicrosoftDocs/azure-docs-powershell/blob/master/azuresmps-4.0.0/Azure/Azure.md, its module name is `Azure.Service` from the yaml header, which didn't match its file name `Azure` and directory name `Azure`.

[2020-07-16 17:32] YutongTie-MSFT commented on #1482
@qinezh
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-17 01:34] #1482 closed

[2020-07-23 18:41] lululilliancoding opened #1494 "CMD provided on this page can't uninstall AzureRM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98eddd89-be3e-6ef1-af8b-c017e374dbc0
* Version Independent ID: b3ce94fa-6e76-4ffe-e70e-07f7a321fcd4
* Content: [Uninstall Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=azps-4.4.0#uninstall-the-azurerm-module)

[2020-07-23 23:36] kobulloc-MSFT commented on #1494
@lululilliancoding Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-07-24 08:07] aleti-pavan opened #1496 "Uninstall-AzModule -Name Az -Version 1.8.0 -> it has to be Uninstall-Module -Name Az -Version 1.8.0"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98eddd89-be3e-6ef1-af8b-c017e374dbc0
* Version Independent ID: b3ce94fa-6e76-4ffe-e70e-07f7a321fcd4
* Content: [Uninstall Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=azps-4.4.0#:~:text=To%20uninstall%20the%

[2020-07-24 08:09] aleti-pavan commented on #1496
Following page has command wrong to uninstall Az module.

https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=azps-4.4.0#:~:text=To%20uninstall%20the%20Az%20modules%2C%20use%20the%20Uninstall-Module,more%20than%20one%20version%20of%20Azure%20PowerShell%20installed.

Correction: it has to be **Uninstall-Module -Name Az -Version 1.8.0** instead of **Uninstall-AzModule -Name Az -Ve

[2020-07-24 12:49] MonikaReddy-MSFT commented on #1496
@aleti-pavan -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-24 12:55] MonikaReddy-MSFT commented on #1496
@aleti-pavan -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-24 15:23] mikefrobbins commented on #1496
The original command is correct. It references running the function in the previous block of code in the article.

Notice the sentence prior to the referenced command says "To use this function, copy and paste the code into your PowerShell session. The following example shows how to run the function to remove an older version of Azure PowerShell."

This function is required as the `Uninstall-Modul

[2020-07-24 15:23] #1496 closed

[2020-07-24 17:28] #1494 closed

[2020-07-25 15:38] Esme-A opened #1500 "Login in to Azure using a Service Principal Automation Scenario"
I'm trying to run a PowerShell script that needs to be able to use an existing Service Principal to automatically login/authenticate in Azure and perform some tasks. I'm following this documentation, but it is not clear as to how to use a service principal in automation scenario https://docs.microsoft.com/en-us/powershell/azure/authenticate-azureps?view=azps-4.4.0&viewFallbackFrom=azurermps-6.6.0

[2020-07-25 22:56] NavtejSaini-MSFT commented on #1500
@Esme-A We are checking this and we will get back to you.

[2020-07-27 20:10] Mexicoder commented on #1244
I was only able to Uninstall AzureRM by using what i found here [here](https://stackoverflow.com/a/56688847/5919289)
specifically, I ran this:
`workflow Uninstall-AzureModules
{
    $Modules = (Get-Module -ListAvailable AzureR*).Name |Get-Unique
    Foreach -parallel ($Module in $Modules)
    {
        Write-Output ("Uninstalling: $Module")
        Uninstall-Module $Module -Force
    }
}
Uninstall

[2020-07-31 22:27] kobulloc-MSFT commented on #1500
@Esme-A Looking at the documentation, this is the example:

https://docs.microsoft.com/en-us/powershell/azure/authenticate-azureps?view=azps-4.4.0#password-based-authentication

[code]

Here is my repro:

![image](https://user-images.githubusercontent.com/37556655/89081884-460fd880-d341-11ea-8507-b0bd2fc8b486.png)

The documentation does work however I suspect that you are running into an issue wh

[2020-07-31 22:33] kobulloc-MSFT commented on #1500
@Esme-A We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

If you'd like help further troubleshooting your issue, please reach out to us on Microsoft Q&A where we would be happy to work with you:
https://docs.microsoft.com/en-us/answers/topics/azure-active-

[2020-07-31 22:33] #1500 closed

[2020-08-03 01:35] SunnyOswal opened #1503 "Alpine Docker Image for azure Powershell"
Our organization has approved only alpine based docker images to be used. Can we have alpine image also part of Microsoft official docker image with Azure Powershell Pre-Installed ? Any particular reason it is not already provided ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45c312ee-b3c5-bfdd-2a09-84081392c165
* V

[2020-08-03 03:33] BhargaviAnnadevara-MSFT commented on #1503
@SunnyOswal Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-03 05:31] SunnyOswal commented on #1503
closing this as got response on the azure-powershell github repo.
https://github.com/Azure/azure-powershell/issues/12555

[2020-08-03 05:31] #1503 closed

[2020-08-03 07:39] BhargaviAnnadevara-MSFT commented on #1503
@SunnyOswal Thank you, we're glad your query was addressed!

[2020-08-06 20:22] kilasuit commented on #1449
@mikefrobbins can we get a banner that clearly mentions that then, ideally one that isn't needed to be added directly to all individual pages so that update/removal can be much easier in future.

[2020-08-06 20:39] mikefrobbins commented on #1449
@kilasuit Already in the works.

[2020-08-10 04:13] BhargaviAnnadevara-MSFT commented on #1469
@trboomer VS Code offers great JSON editing experience. For more details, check [Editing JSON with Visual Studio Code](https://code.visualstudio.com/docs/languages/json).

[2020-08-14 11:03] awf opened #1519 "Inconsistent doc"
This page says

But running the command gives this message. which is contradictory:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff006e2c-7cd3-efec-be79-fd2b1a570d6d
* Version Independent ID: b3ce94fa-6e76-4ffe-e70e-07f7a321fcd4
* Content: [Uninstall Azure PowerShell](https://docs.microsoft.com/en-us/powershell

[2020-08-14 19:08] MonikaReddy-MSFT commented on #1519
@awf -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-14 19:18] MonikaReddy-MSFT commented on #1519
Hello @awf  -  AzureRM is only supported in Windows PowerShell, not PowerShell Core. And it looks like you are using PowerShell Core.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-14 19:18] #1519 closed

[2020-08-16 03:34] trboomer commented on #1469
Thank you Annadevara

___________________
Thomas R Boomer
Home: 505-672-9027
Cell: 505-412-9022

________________________________
From: BhargaviAnnadevara-MSFT <notifications@github.com>
Sent: Sunday, August 9, 2020 10:13 PM
To: MicrosoftDocs/azure-docs-powershell <azure-docs-powershell@noreply.github.com>
Cc: trboomer <thomasboomer@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2020-08-17 19:51] scheblein opened #1522 "dead link report"
On this page:

- Linux Virtual Machines
- Windows Virtual Machines

are dead links (404s).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab81ac50-5213-1282-d66c-e0c70794d2eb
* Version Independent ID: 86324274-e59e-d272-0554-f51a63e7ec5c
* Content: [Overview of Azure PowerShell](https://docs.microsoft.com/en-us/powersh

[2020-08-17 22:19] kobulloc-MSFT commented on #1522
@scheblein Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-08-17 22:34] kobulloc-MSFT commented on #1522
@scheblein The new links are below.  I'll get this updated shortly.

**Linux Virtual Machines**
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/powershell-samples

**Windows Virtual Machines**
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/powershell-samples

[2020-08-18 03:17] kobulloc-MSFT commented on #1522
Adding @mikefrobbins to submit the PR.

[2020-08-18 13:20] mikefrobbins commented on #1522
Resolved by @kobulloc-MSFT via PR #1526

[2020-08-18 13:20] #1522 closed

[2020-08-25 01:35] michaelbunney commented on #1193
May I suggest that when a reported documentation issue turns out to be a product issue, rather than just closing the bug, a bug be submitted to the product team and the bug number noted here when closing.

The bottom line is that a bug is a bug, and while just closing it may help with housekeeping, it doesn't help solve the issue.

[2020-08-25 20:57] kimballjohnson opened #1545 "This article is astoundingly confusing. First, Don't install Azure AZ, then ten ways to override that advice and install it?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 108ead93-fd5d-f4c6-c3ee-0f4c6478e8dd
* Version Independent ID: bd4fb194-d6af-e442-5ced-793e09c3fa83
* Content: [Install Azure PowerShell with PowerShellGet](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-4.6.0)
* Content Sou

[2020-08-25 22:54] kobulloc-MSFT commented on #1545
@kimballjohnson Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-08-26 08:20] kobulloc-MSFT commented on #1545
@kimballjohnson It is confusing, especially if you are new to PowerShell.  I'm sorry about that.  The documentation talks a bit about [why the decision was made to introduce a new module](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-4.6.0#why-a-new-module) and we believe that the benefits of the new module warranted the change.

Hopefully this will help clear u

[2020-08-26 18:18] kobulloc-MSFT commented on #1545
@kimballjohnson Hopefully that helps to clear up some of the confusion!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-26 18:18] #1545 closed

[2020-08-26 21:01] mikefrobbins commented on #1449
A banner has been added to all AzureRM reference and conceptual docs. An example of this banner can be viewed in the any of the docs such as [Connect-AzureRmAccount](https://docs.microsoft.com/en-us/powershell/module/azurerm.profile/connect-azurermaccount).

[2020-08-26 22:15] TylerLeonhardt commented on #1449
@mikefrobbins can I suggest a link to the Az module (docs or repo or powershellgallery link) somewhere in that banner? I foresee some random person not using AzureRM or Az stumbling upon an AzureRM cmdlet and wanting to know where to get started with Az. The migration link is really only good if they already used AzureRM.

The dream would be that AzureRM commands point to their Az equivalent but I

[2020-08-26 22:56] mikefrobbins commented on #1449
Good point. We actually had [more content](https://github.com/mikefrobbins/azure-docs-powershell/blob/2ca63539f6e4c5767e81328a86d78833f9de7fbb/includes/migrate-to-az-banner.md) in the banner originally, but trimmed it down due to concerns about readers skipping over a large block of text. Let's see if we can find a happy medium.

I also like the idea of having a link to the corresponding Az cmdlet

[2020-08-26 23:05] dcaro commented on #1449
@TylerLeonhardt you have a point. We have some additional work planned on this topic in the coming weeks and I hope that we can find something that works for both cases.

[2020-08-27 22:50] kimballjohnson commented on #1545
Ok, thanks for rewriting the content of the article.
My question is about the irony and confusion of the article’s clear message that AzureRM and AZ should not be deployed to a system simultaneously, while simultaneously providing instructions for simultaneously deploying both of them in every variety of installation scenario.
If they are not to be deployed together, what more needs to be said, un

[2020-08-31 04:21] KrishnaG-MSFT commented on #1193
@michaelbunney Thanks for the comment.
@tomrijntjes If possible, please provide product bug number / URL here. Thanks.

[2020-09-03 07:44] RoelDG opened #1552 "Incorrect replaced cmdlets for AzApiManagementProperty"
The document describes that the Get-, New-, Remove-, Set-AzApiManagementProperty cmdlets have been replaced with Get-, New-, Remove-, Set-**AzureApiManagementNamedValue** cmdlets but these are unknown cmdlets

The replaced cmdlets should be Get-, New-, Remove-, Set-**AzApiManagementNamedValue** respectively

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-09-03 15:25] MonikaReddy-MSFT commented on #1552
@RoelDG -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-09-03 15:42] MonikaReddy-MSFT commented on #1552
@RoelDG -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-03 15:42] #1552 closed

[2020-09-07 17:01] kobulloc-MSFT commented on #1545
@kimballjohnson If you are getting a fresh start, PowerShell 7 and the AZ module is the recommendation.  If you already have legacy processes that depend on the AzureRM module and cannot migrate at this time for one reason or another, then you'll need to use the workaround described in the documentation.

[2020-09-08 18:00] lovettchris opened #1557 "Uninstall-AzureRm not found even though AzureRm is installed."
Clean windows 10 install, AzureRM was installed and I need to remove it to get the new Az module, but the pages says to use Uninstall-AzureRm but I get this error:

[code]

I had to use this instead from an admin prompt:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 873500f9-ae68-2bdd-9956-01a5904c5a06
* Versi

[2020-09-08 22:35] kobulloc-MSFT commented on #1557
@lovettchris Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-09-10 19:50] mahoncj opened #1560 "Is it possible to retrieve "Registration Name" and "Resource Group" from this command?"
Hello,

We are looking to leverage this command to retrieve the registration name from multiple scale units. Registration Name is found on the Properties page of the region on the Azure Stack Admin Portal. This command seems to retrieve that information except for Registration Name or the corresponding Resource Group which should be "azurestack" found on the Billing Tenant.

Thanks,
Chris

---
###

[2020-09-10 21:51] kobulloc-MSFT commented on #1560
@mahoncj Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-09-10 22:33] mattbriggs commented on #1560
@mahoncj Thanks. I have a question to the technical team about the place cmdlet to find the info in your context. Thanks! Matt

[2020-09-11 07:21] kobulloc-MSFT commented on #1557
@lovettchris Thank you for bringing this to our attention!  I wanted to confirm that I'm seeing the same thing you are.  I'm following up internally to make sure that I've got the most up to date instructions for uninstalling AzureRm as this is listed in a couple locations and Uninstall-Module leaves a number of AzureRm modules on the machine.

![image](https://user-images.githubusercontent.com/37

[2020-09-11 08:17] lovettchris commented on #1557
Yes, looks like you have a repro, thanks for investigating.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: kobulloc-MSFT <notifications@github.com>
Sent: Friday, September 11, 2020 12:21 AM
To: MicrosoftDocs/azure-docs-powershell <azure-docs-powershell@noreply.github.com>
Cc: Chris Lovett <clovett@microsoft.com>; Mention <mention@noreply.github.com>
Subject: R

[2020-09-11 17:55] mikefrobbins commented on #1557
@lovettchris Please see the [Uninstall the AzureRM module](https://github.com/MicrosoftDocs/azure-docs-powershell/blob/master/docs-conceptual/azps-4.6.1/uninstall-az-ps.md#uninstall-the-azurerm-module) section of the referenced doc.

Simply install the Az PowerShell module as referenced in the doc. The easiest way to accomplish this is to install it from PowerShell using the PowerShell gallery: `I

[2020-09-11 22:57] mattbriggs commented on #1560
The customer can get the azureRegistrationResourceIdentifier by logging into Azure Stack:

$envName = "AzureStackAdminReg"
Add-AzureRmEnvironment -Name $envName -ARMEndpoint $AdminResourceManager | Out-Null
$loginParams = @{
    Environment     = $envName
    Tenant          = $aadTenantID
    Subscription    = 'Default Provider Subscription'
   Credential      = $AzureStackAdminCredential
}
Login

[2020-09-11 23:07] mattbriggs commented on #1560
#in-progress

[2020-09-12 00:24] kobulloc-MSFT commented on #1557
@lovettchris I missed the Az PowerShell module requirement as well.  In the interest of documenting this for anyone else who may run into this issue, this was the shortest path I found to a complete AzureRm install and uninstall (run on Windows 10).

**Install AzureRm module**
`Install-Module -Name AzureRM -AllowClobber`

**Check to see that AzureRm is installed**
`Get-InstalledModule`

**Install

[2020-09-12 12:56] kobulloc-MSFT commented on #1557
@lovettchris We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-12 12:56] #1557 closed

[2020-09-15 04:25] JasonFreeberg opened #1561 "The entire doc article is hyperlinked"
The markdown is formatted incorrectly, and half [the doc](https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=azps-4.6.1) is a broken hyperlink.

![image](https://user-images.githubusercontent.com/18747768/93165357-ad56d180-f6d0-11ea-905f-8f2cc87aa2d4.png)

![image](https://user-images.githubusercontent.com/18747768/93165385-be9fde00-f6d0-11ea-8800-c843ef01516d.png)

---
#### Do

[2020-09-15 04:27] BhargaviAnnadevara-MSFT commented on #1561
@JasonFreeberg Thanks for bringing this to our attention. We shall evaluate and update the document as appropriate.

[2020-09-15 11:36] BhargaviAnnadevara-MSFT commented on #1561
@JasonFreeberg Thanks for catching that error in the doc! I have submitted a PR to fix the issue that's in review.

[2020-09-15 12:35] Jamminroot opened #1564 "Page has a link all over the place"
There's a link stuck somewhere in the page, so entire page turned into a link.

![image](https://user-images.githubusercontent.com/6387654/93210970-a2a04900-f771-11ea-96e5-306398a90f29.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 873500f9-ae68-2bdd-9956-01a5904c5a06
* Version Independent ID: b3ce94fa-6e76-4ffe-e

[2020-09-15 13:34] BhargaviAnnadevara-MSFT commented on #1564
@Jamminroot Thanks for bringing this to our attention. This was also reported in #1561. I have submitted a PR to fix the issue that's in review.

[2020-09-15 14:14] #1561 closed

[2020-09-15 20:28] mikefrobbins commented on #1449
We have updated the banner for a friendlier new user experience in addition to providing information for users who should migrate from AzureRM. At this point, we have decided not to add direct links to the corresponding Az cmdlets since that is a moving target based on our research.

[2020-09-15 20:28] #1449 closed

[2020-09-15 21:25] mikefrobbins commented on #1564
Resolved by @BhargaviAnnadevara-MSFT via #1562.

[2020-09-15 21:25] #1564 closed

[2020-09-16 16:31] mattbriggs commented on #1560
@mahoncj  Thanks again for your comment. I'm going to close this now, but you have additional questions please let me know

[2020-09-16 16:31] mattbriggs commented on #1560
#please-close

[2020-09-16 17:57] mahoncj commented on #1560
@mattbriggs Thank you for the above code block! That's exactly what we're after. Very much appreciated.

[2020-09-17 22:41] TheOnlyWei opened #1566 "Missing ProductName information for Remove-AzsAzureBridgeDownloaddProduct"
This page is missing ProductName information for Remove-AzsAzureBridgeDownloaddProduct:

https://docs.microsoft.com/en-us/powershell/module/azs.azurebridge.admin/Remove-AzsAzureBridgeDownloadedProduct?view=azurestackps-2.0.2

[2020-09-18 04:23] BhargaviAnnadevara-MSFT commented on #1566
@TheOnlyWei Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-09-18 06:14] BhargaviAnnadevara-MSFT commented on #1566
@mattbriggs Looks like the syntax of the cmdlet is not consistent with the examples provided on this page. Please take a look and update as appropriate.

[2020-09-18 15:48] mattbriggs commented on #1566
@TheOnlyWei Thanks I'm passing along to the product team who owns the OpenAPI that this content is built from. Thanks! Matt

[2020-09-18 15:49] mattbriggs commented on #1566
#in-progress

[2020-09-18 20:49] mattbriggs commented on #1566
@TheOnlyWei The -Name parameter is specified. However, I've sent your feedback about the formatting to the product group. Thanks! Matt

#please-close

[2020-09-20 07:21] BhargaviAnnadevara-MSFT commented on #1566
@mattbriggs Thanks for following up on this!

@TheOnlyWei Closing the issue here as this is being tracked internally.

[2020-09-20 07:21] #1566 closed

[2020-09-24 22:38] tushar-bhargava-ms opened #1573 "Catch-22: Uninstalling AzureRM module requires installing Az module"
I was following the instructions for [installing the Az module](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-4.7.0#install-the-azure-powershell-module) when I realized I'd need to uninstall the AzureRM module first since the Az module installation script would report an error if the AzureRM module was present:

[code]

However, when I followed the instructions for [uni

[2020-09-24 23:53] kobulloc-MSFT commented on #1573
@tushar-bhargava-ms Thank you for opening this issue.  I was just discussing this today and agree that the docs should be updated to better address this scenario.  There are two resolutions from [1557](https://github.com/MicrosoftDocs/azure-docs-powershell/issues/1557), and the preferred course of action is to install the Az module and use Uninstall-AzureRM like you did.  I'll get this updated sho

[2020-09-25 14:59] geologyrocks opened #1575 "Missed closing tag / unwanted(?) line causing formatting issues"
There's something weird with the formatting - half of the page's text thinks it's a link.  It's because an `a` is missing from the closing tag of `<a name="uninstall-script"/>` which immediately precedes the "hyperlinked" section.  Excerpt from line 353 in html source.  Probably that line shouldn't be there at all?
Offending section:
https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-p

[2020-09-25 15:01] geologyrocks opened #1576 "Duplicate of #1575 Missed closing tag / unwanted(?) line causing formatting issues"
Duplicate error of #1575 - this time on line 356 `<a name="uninstall-script"/>` of the 4.6.0 page version

This is also present in 2.8.0, 1.8.0 and 0.10.0 pages, but **not** in the 4.6.1 or 4.7.0 pages.  Thought you wouldn't fancy 5 error reports for the same problem!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374d

[2020-09-25 17:08] kobulloc-MSFT commented on #1573
@tushar-bhargava-ms We've gone through the AzureRM removal instructions and added some clarity in a few areas:

- Sections are now more clearly identified.  Finding the uninstall instructions for a given scenario should be easier.
- The prerequisite of having the Az module installed in order to use the Uninstall-AzureRm command has been made clearer.
- A brief description of why the reader would t

[2020-09-25 17:08] #1573 closed

[2020-09-25 17:20] #1575 closed

[2020-09-25 17:20] #1576 closed

[2020-09-27 07:11] HassanAlmanasrah opened #1580 "AzureStack 1.7.2 module installation issue"
While customer was installing version 1.7.2, the below error was appearing

The version '0.2.3' of the module 'Azs.Storage.Admin' being installed is not catalog signed. Ensure that the version '0.2.3' of the module 'Azs.Storage.Admin' has the catalog file 'Azs.Storage.Admin.cat' and signed with the same publisher 'CN=Microsoft
Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US' as

[2020-09-27 23:37] SamaraSoucy-MSFT commented on #1580
Thanks for the question! We will review and get back to you shortly.

[2020-09-27 23:38] SamaraSoucy-MSFT commented on #1580
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2020-09-28 20:38] mattbriggs commented on #1560
#please-close

[2020-09-29 15:58] SamaraSoucy-MSFT commented on #1580
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2020-10-01 08:12] HassanAlmanasrah commented on #1580
customer was installing AzureStack module 1.7.2 on VM , which has already 1.8.2 installed. This was required from OEM  to be installed. Customer got above error message which is related to Azs.Storage.Admin module
https://docs.microsoft.com/en-us/powershell/module/azs.storage.admin/?view=azurestackps-2.0.1&viewFallbackFrom=azurestackps-2.5.0

[2020-10-01 23:30] SamaraSoucy-MSFT commented on #1580
I've opened an issue on the product repo for that module: [https://github.com/Azure/azurestack-powershell/issues/51](https://github.com/Azure/azurestack-powershell/issues/51). I've also reached out to the product team directly.

Since it doesn't require changes to the documentation, I do need to close the issue here. However, I do encourage you to subscribe to the issue on the product repo. If I g

[2020-10-01 23:30] #1580 closed

[2020-10-06 08:48] v-mosh21 opened #1586 "Concerns with Official document for Azure PowerShell"
Hello Teams,

**Issue:**
Recently, we have some reports having concerns with using the official document:

1. https://docs.microsoft.com/en-us/powershell/azure/servicemanagement/install-azure-ps?view=azuresmps-4.0.0
For this document, it is a document to describe how to install/import the Azure Module. However, it did not mention which platform the module is supported. (One of cases reported that

[2020-10-06 11:32] BhargaviAnnadevara-MSFT commented on #1586
@v-mosh21 Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-10-06 15:07] dcaro opened #1587 "Update Set-AzWebApp ref documentation"
The reference documentation and associated samples should give a better guidance how to build the hashtable for the `ConnectionString` parameter.

Here is an example:
$hashtable = @{$NameVariable = @{Value=ValueVariable;Type=TypeVariable}}
Set-AzWebApp -ResourceGroup $ResourceGroupName -name $AppName -ConnectionString $hashtable

[2020-10-06 20:31] j1mmyfever opened #1588 "MSI installer link doesn't point to a place with the MSI"
https://docs.microsoft.com/en-us/powershell/azure/install-az-ps-msi?view=azps-4.7.0 the Github link points to latest release, not an MSI.  Can you make the MSI easier to find?  This seems to be a recurring problem of pointing to either not the latest MSI, or not to an MSI at all.

[2020-10-06 22:09] MartinJaffer-MSFT commented on #1587
Hello @dcaro
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?

[2020-10-06 22:19] dcaro commented on #1587
here is the reference documentation page:
https://docs.microsoft.com/en-us/powershell/module/az.websites/set-azwebapp

[2020-10-06 22:22] kobulloc-MSFT commented on #1588
@j1mmyfever Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-10-07 06:45] kobulloc-MSFT commented on #1588
@j1mmyfever I agree, finding the correct MSI is not terribly intuitive.  You can find the 4.7.0 release from September 16th, 2020 here (the Az-Cmdlets MSI is under assets at the bottom):
https://github.com/Azure/azure-powershell/releases/tag/v4.7.0-September2020

In general, you can find a chronological list of releases here:
https://github.com/Azure/azure-powershell/releases

I'm going to update

[2020-10-07 18:22] kobulloc-MSFT commented on #1588
@j1mmyfever Thank you again for bringing this to our attention!  The documentation has been updated to make finding the MSI easier, and should go live shortly.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-10-07 18:22] #1588 closed

[2020-10-08 10:11] SimonDoy opened #1592 "Command to install Az Module does not work"
This was found when working with a customer.
The command used to install the module states the following:
Install-Module -Name Az -AllowClobber -Scope CurrentUser

However, this does not seem to work and does not install the Az set of modules.
The cmdlet returns but does not install any modules.

On further investigation, the github repo states (https://github.com/Azure/azure-powershell/releases)

[2020-10-08 10:21] BhargaviAnnadevara-MSFT commented on #1592
@SimonDoy Thanks for the question! We're investigating this and will get back to you shortly.

[2020-10-09 15:41] SamaraSoucy-MSFT commented on #1580
@HassanAlmanasrah I wanted to check in and see if the solution posted on the product repo worked for you. If you are able to run commands before the automated script then uninstalling 1.8.2 and deleting the folder in the Powershell directories should resolve the error.

The issue happens only when trying to install 1.7.2 side by side with 1.8.2

[2020-10-12 15:08] camsilv opened #1594 "Cannot Retrieve Full Version Number"
Hi, when looking at an extension in the portal, we can see the full version number i.e. 1.4.1654.1. When using Get-AzureRmVMExtension (or it's AZ equivalent) This is truncated to simply "1.4" as the "typeHandlerVersion" property. Is it possible to get back the full version number?

Thanks

[2020-10-12 15:28] kobulloc-MSFT commented on #1594
@camsilv Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-10-12 15:45] kobulloc-MSFT commented on #1594
@camsilv We've got some documentation that covers discovering VM extensions which may be what you are looking for:

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-windows#discover-vm-extensions

[code]

![image](https://user-images.githubusercontent.com/37556655/95765768-295c1f00-0c67-11eb-8b76-825cf8980556.png)

[2020-10-12 15:47] camsilv commented on #1594
Thanks for that, does that show the version of an image that's attached to a VM or just what the latest version of the extension image is? We're looking to see the full version of the extension currently attached to a VM

[2020-10-12 16:46] BhargaviAnnadevara-MSFT commented on #1592
@SimonDoy Could you please elaborate the errors you saw upon following this approach, if any? Please provide us with more details so we can analyze further.

It is known that using PSGallery for the first time would [prompt one to set it as a trusted repository](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-4.7.0#install-the-azure-powershell-module). This is because it

[2020-10-12 17:32] #1587 closed

[2020-10-12 18:10] kobulloc-MSFT commented on #1594
@camsilv In theory, [az vm extension list](https://docs.microsoft.com/en-us/cli/azure/vm/extension?view=azure-cli-latest#az_vm_extension_list) and [az vm extension show](https://docs.microsoft.com/en-us/cli/azure/vm/extension?view=azure-cli-latest#az_vm_extension_show) should give you what you are looking for.  I'm having a hard time reproducing this for you as the extensions immediately available

[2020-10-12 18:16] kobulloc-MSFT commented on #1594
@camsilv Additionally, if the goal is to determine if you need to update the extension there is a good write up on that (again, this gives an x.y TypeHandlerVersion):

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-windows#how-do-agents-and-extensions-get-updated

[2020-10-13 01:35] kobulloc-MSFT commented on #1594
@camsilv Adding to this, running az extension list locally does give you a x.y.z version:

![image](https://user-images.githubusercontent.com/37556655/95805172-a1533500-0cb9-11eb-8429-914df5e4a34b.png)

[2020-10-13 08:28] camsilv commented on #1594
Great, thanks for the replies. I'll look into that further and get back to you.

We are trying to get the version for Network Watcher in particular, which has a number like "1.4.1654.1"

Ta

[2020-10-14 07:35] BhargaviAnnadevara-MSFT commented on #1592
@SimonDoy Hope the above inputs help. Are there any further questions here?

[2020-10-14 08:29] SimonDoy commented on #1592
@BhargaviAnnadevara-MSFT Unfortunately there were no errors from the customers machine the command completed but none of the modules were installed. I was expecting to get at least the prompt to trust the repo but that didnt happen. However when we used the command
Install-Module -Name Az -Repository PSGallery -Force
This did cause the trust prompt to appear.
I wonder if the customer has additiona

[2020-10-14 17:37] BhargaviAnnadevara-MSFT commented on #1592
@SimonDoy Sure, thanks for the response.
It would be helpful if you can run the cmdlet in Debug mode:
[code]
and capture the logs for our perusal. Also check what `Get-PSRepository` cmdlet returns, and let us know what you see. Thanks!

[2020-10-15 13:38] mikefrobbins commented on #1594
@BhargaviAnnadevara-MSFT @kobulloc-MSFT Please move this issue to the [azure-powershell](https://github.com/Azure/azure-powershell) repo. We have confirmed that it is not a docs issue and is something that the engineering team is going to need to look at. Thank you!

[2020-10-16 06:14] BhargaviAnnadevara-MSFT commented on #1592
@SimonDoy Were you able to gather the requested information?

[2020-10-16 09:22] camsilv commented on #1594
Sorry, this was the link I was given by MS support, which is why it ended up here.

We ended up finding a way foir what we need:

AZ + AzureRM:

$json = (az vm get-instance-view -g pcsdev-weu-jum-rg10 -n pcsdevweujum02 --output json)
(($json |convertfrom-json).instanceview.vmagent.extensionhandlers | ? {$_.type -eq "Microsoft.Azure.NetworkWatcher.NetworkWatcherAgentWindows"}).TypeHandlerVersion
1.

[2020-10-16 13:44] SimonDoy commented on #1592
@BhargaviAnnadevara-MSFT - Unfortunately not speaking with the customer on Monday, will try again then.

[2020-10-16 18:56] BhargaviAnnadevara-MSFT commented on #1594
@mikefrobbins Thanks for the update. I've opened an issue with the Azure PowerShell repo for the engineering Team to look at: https://github.com/Azure/azure-powershell/issues/13248

@camsilv Thanks for sharing what worked for you with the community! We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will

[2020-10-16 18:56] #1594 closed

[2020-10-18 17:34] BhargaviAnnadevara-MSFT commented on #1594
@camsilv Just a heads up again that this issue is being investigated here: Azure/azure-powershell#13248
Kindly provide the requested information and take the discussion forward.

[2020-10-20 07:33] BhargaviAnnadevara-MSFT commented on #1592
@SimonDoy Sure, please let us know once you have an update.

[2020-10-23 14:44] SarveshPandey opened #1607 "Suspend-AzureRMAutomationJob is unable to suspend Job"
I have schedule a job in Azure Automation which runs daily at and start my VM. Now, i want to disable this job for three days for this I used "**Suspend-AzureRMAutomationJob**" but unfortunately it didn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab81ac50-5213-1282-d66c-e0c70794d2eb
* Version Independent ID:

[2020-10-24 01:03] Svijay-msft commented on #1607
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-24 04:51] BhargaviAnnadevara-MSFT commented on #1607
@SarveshPandey Could you please provide more details about the exact command you tried to execute and the error you saw?

[2020-10-24 13:35] SarveshPandey commented on #1607
Sure,

![image](https://user-images.githubusercontent.com/25227161/97083067-72c74980-162b-11eb-9c23-e76ee253c63f.png)

Above command I used to disable the job.
What i tried doing it -
1. Running this command 3 minutes before StartVm job.\
2. Running this command on the same time of startVm job.

But in both the scenario it doesn't work.

[2020-10-26 01:18] asmithgt opened #1610 "Example Script for Changing the Subscriptions Does not work"
In attempting to efficiently and effectively switch between subscriptions in a PowerShell Script I tried to use the following example code in the documentation here, but it simply does not work.

`$context = Get-AzSubscription -SubscriptionId "<mysubscriptionGuid>"
Set-AzContext $context`

The resulting Error message is as below:

In genreal switching between subscriptions in a PowerShell script i

[2020-10-26 03:58] BhargaviAnnadevara-MSFT commented on #1610
@asmithgt Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-10-26 11:37] SarveshPandey commented on #1607
any updates?

[2020-10-26 13:07] mikefrobbins commented on #1607
@BhargaviAnnadevara-MSFT Please move this issue to the [azure-powershell GitHub repo](https://github.com/Azure/azure-powershell) as it appears to be a bug and not a docs issue.

[2020-10-26 13:37] mikefrobbins commented on #1610
@asmithgt As shown in the documentation, the command must be run on 2 separate lines. You can pipe the 2 commands together however if you want to use them in a one-liner.

[code]

If you're still experience problems, could you provide what operating system, the version of PowerShell, and the version of the Az PowerShell module that you're using?

[2020-10-26 13:48] mikefrobbins commented on #1592
@SimonDoy The customer is experiencing this behavior because they are in a non-default configuration. There is a section later in the referenced documentation about how to [Use multiple repositories with PowerShellGet](https://docs.microsoft.com/powershell/azure/install-az-ps#use-multiple-repositories-with-powershellget).

[2020-10-26 20:50] asmithgt commented on #1610
@mikefrobbins Piping the command all into one line does work.  And I apologize as realizing that I was trying this that wasn't explicitly as written.  I was using it as a separate line, but it looks like my line break was removed at some point in my post.  The difference here is that on the "Set-AzContext" command I was also using the "-Context" parameter which resulted in the error.  Using the de

[2020-10-26 20:50] #1610 closed

[2020-10-27 07:52] BhargaviAnnadevara-MSFT commented on #1607
@mikefrobbins I see that @SarveshPandey has opened one [here](https://github.com/Azure/azure-powershell/issues/13325) with the Azure PowerShell repo already.

@SarveshPandey Thanks for reporting the issue. Our Engineering Team will look into the issue and take the troubleshooting forward [here](https://github.com/Azure/azure-powershell/issues/13325).

At this point, it appears that there are no ed

[2020-10-27 07:52] #1607 closed

[2020-10-29 14:24] lolodi opened #1617 "Why recommend Powershell 7 if it doens't work?"
In the top of the documentation there is the recommendation to use Powershell 7 for Azure Powershell when this actually doesn't work, as documented here:
https://github.com/Azure/azure-powershell/issues/6981

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed724202-b72d-b1b0-102e-ae7beedf0225
* Version Independent ID: bd

[2020-10-29 14:25] BhargaviAnnadevara-MSFT commented on #1592
@SimonDoy Do you have any further insights to share?

[2020-10-29 16:36] BhargaviAnnadevara-MSFT commented on #1617
@lolodi Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-10-29 18:44] SimonDoy commented on #1592
@BhargaviAnnadevara-MSFT @mikefrobbins
Thanks for the information, I am on holiday this week and have  not had a chance to speak with the customer. However, if this is the expected behavior with multiple repos ok. I guess the problem is that there is no feedback to say that the installation did not take place.

[2020-10-30 06:43] BhargaviAnnadevara-MSFT commented on #1592
@SimonDoy Thanks for the response, that's totally alright!

If you find this cmdlet to not be functioning as expected, please file an issue with the [Azure PowerShell](https://github.com/Azure/azure-powershell/issues) repository so our Engineering Team can also take a look. To provide feedback from the command line itself, use the [Send-Feedback](https://docs.microsoft.com/en-us/powershell/module/

[2020-10-30 06:43] #1592 closed

[2020-11-02 16:54] BhargaviAnnadevara-MSFT commented on #1617
@lolodi All versions of the `AzureRM` PowerShell module are outdated, although not out of support. The [Az PowerShell module](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-5.0.0) is now the recommended PowerShell module for interacting with Azure.

Are you running into any issues while running the `Connect-AzAccount` or `Login-AzAccount` on PowerShell 7.x?

[2020-11-02 18:21] lolodi commented on #1617
Was not aware hat there was a new module. With the new one seems to be working fine. Thanks!

[2020-11-03 01:11] BhargaviAnnadevara-MSFT commented on #1617
@lolodi Sure, thanks for confirming!

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-11-03 01:11] #1617 closed

[2020-11-04 22:55] #1560 closed

[2020-11-30 16:50] dcaro opened #1641 "Update AzureRM migration guide"
We need to refresh the AzureRM migration content to include the following:
- Update the overview page
- Upgrade in place vs create new files
- Add a page on the VSCode extension

[2020-11-30 21:41] BharathNimmala-MSFT commented on #1641
@dcaro Thanks a lot for sharing your feedback to help improve our documentation. Would greatly appreciate if you share the documentation link as well so that we can add the meta data accordingly and also assign to respective doc owners for this updates. Thanks again

[2020-11-30 21:49] kobulloc-MSFT commented on #1641
@dcaro Assigning this to the doc author.  Please let me know if we need to alter assignment.

[2020-12-04 18:44] bmcder opened #1650 "Should this be February 2021????"
This page has been updated to state that support for AzureRm modules will end in February 2020 - but should this state February 2021 instead??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e69e2f9-8ab3-a444-6413-464bf6b07165
* Version Independent ID: 524598ca-76aa-c8f5-cde1-d6bd626b757b
* Content: [Introducing the Az

[2020-12-04 18:48] mikefrobbins commented on #1650
Already fixed in #1649. The changes will go live once master is merged to live.

[2020-12-04 18:48] #1650 closed

[2020-12-08 08:03] nreddipalle opened #1653 "New-AzUpgradeModulePlan reports syntax errors"
New-AzUpgradeModulePlan reports Syntax errors on few powershell scripts but not providing more context on what the errors ar e about.. How to get more info about the errors??

[code]

[2020-12-08 13:45] AjayKumar-MSFT commented on #1653
@nreddipalle, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-12-08 14:07] brsteel opened #1654 "AzBootStrapper install-module doesn't work as documented"
i had to add to the install-module:
Install-Module -Name Az.BootStrapper -Force -AllowPrerelease -SkipPublisherCheck
the PSD1 was failing with:
 The module 'Az.BootStrapper' cannot be installed or updated because the authenticode
     | signature of the file 'Az.BootStrapper.psd1' is not valid.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-12-08 15:40] NavtejSaini-MSFT commented on #1654
@brsteel We are checking this and we will get back to you.

[2020-12-08 16:50] kobulloc-MSFT commented on #1654
@brsteel Thank you for bringing this to our attention.  We're following up on the signature error you've reported.

Command from the documentation:

`Install-Module -Name Az.BootStrapper -Force -AllowPrerelease`

Reported workaround for signature not valid error:

`Install-Module -Name Az.BootStrapper -Force -AllowPrerelease -SkipPublisherCheck`

[2020-12-09 14:02] AjayKumar-MSFT commented on #1653
@nreddipalle,  Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-12-09 16:43] mikefrobbins commented on #1653
@nreddipalle Based on the error, this appears to be a software related issue and not a documentation problem. Please log your issue in the [azure-powershell-migration](https://github.com/Azure/azure-powershell-migration) repo.

[2020-12-10 06:03] MattRalph opened #1656 "Add-AzureAccount mentioned in article is not part of Module Az - need MSI installer for Module Azure"
[Enter feedback here]
Hi,
Could a link to the Azure Module MSI installer be put somewhere in this article please?
I cannot find this on GitHub, or anywhere else
This module contains Add-AzureAccount (which is not in the Az module)
This command is one of the troubleshooting steps mentioned in the article
I need to install this on a machine that can't get out to the Internet
Many thanks in advance
C

[2020-12-10 15:14] mikefrobbins commented on #1653
Closing this issue as it's not a documentation related problem. The repo ([azure-powershell-migration](https://github.com/Azure/azure-powershell-migration)) for logging software problems related to the Az.Tools.Migration PowerShell module has been provided.

[2020-12-10 15:14] #1653 closed

[2020-12-10 19:35] mattbriggs commented on #1654
@brsteel Did the work around work for you?

#in-progress

[2020-12-10 20:56] kobulloc-MSFT commented on #1656
@MattRalph One of the neighboring install pages is Install with MSI, which you can find here:
https://docs.microsoft.com/en-us/powershell/azure/install-az-ps-msi?view=azps-5.2.0

You'll find instructions to get to the install link under [Install or update on Windows using the MSI Package](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps-msi?view=azps-5.2.0#install-or-update-on-windo

[2020-12-10 23:23] MattRalph commented on #1656
Hi,

That is for the Az module, which does not include the Add-AzureAccount command - screenshot of where this command is used, below, and link to page which gave option to post GitHub feedback

I am after the Azure module

I have this module on my computer, and can see the AddAzureAccount command on that

I'm trying to get an MSI installer for the Azure (not Az) module so I can install it on a se

[2020-12-11 01:42] kobulloc-MSFT commented on #1656
@MattRalph Ah, perfect.  I'm seeing that under step 2 of [Resolution](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/runbooks#resolution-1).  Let me look into that for you.

[2020-12-11 15:59] mikefrobbins commented on #1656
@MattRalph The [Azure PowerShell Service Management module](https://docs.microsoft.com/powershell/azure/servicemanagement/overview?view=azuresmps-4.0.0) is only for the classic deployment model. This module allows you to work with your classic Azure deployments that have not been converted to Azure Resource Manager. There is no MSI for the module.

You can use [`Save-Module`](https://docs.microsof

[2020-12-11 23:39] kobulloc-MSFT commented on #1656
@MattRalph We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-12-11 23:39] #1656 closed

[2020-12-13 01:10] MarkIannucci opened #1663 "What is the difference between az login and ConnectAz-Account?"
I've seen references to az login and ConnectAz-Account.  What's the difference between the two?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef50bb3-4111-38ae-0d8e-984eecf1616c
* Version Independent ID: b814f076-657c-206b-b16e-c7f137bff744
* Content: [Sign in with Azure PowerShell](https://docs.microsoft.com/en-us/p

[2020-12-13 04:44] NavtejSaini-MSFT commented on #1663
@marklannucci We are checking this and we will get back to you.

[2020-12-13 06:35] AjayKumar-MSFT commented on #1663
@MarkIannucci,  They're aliases; Connect-AzAccount | az login.  The `Connect-AzAccount` cmdlet connects to Azure with an authenticated account for use with cmdlets from the Az PowerShell modules.

Connect-AzAccount: Connect to Azure with an authenticated account for use with cmdlets from the Az PowerShell modules.
Az login (CLI) - https://docs.microsoft.com/cli/azure/reference-index?view=azure-cli

[2020-12-13 17:32] MarkIannucci commented on #1663
That was what I suspected. Thank you for confirming.

[2020-12-13 17:32] #1663 closed

[2020-12-13 19:41] bganapa commented on #1654
@mattbriggs lets add -SkipPublisherCheck while we investigate the actual issue. I havent got time to look in to it yet

[2020-12-13 23:06] kobulloc-MSFT commented on #1654
@mattbriggs Created [PR 1664](https://github.com/MicrosoftDocs/azure-docs-powershell/pull/1664).

[2020-12-14 17:23] mattbriggs commented on #1654
#sign-off

[2020-12-15 00:10] kobulloc-MSFT commented on #1654
@brsteel Thank you again for bringing this to our attention!  We are following up internally to address the signature issue, and have updated our documentation to unblock other readers (this should go live shortly).  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conv

[2020-12-15 00:10] #1654 closed

[2020-12-15 16:10] smitz1 opened #1669 "Scripts Wrong"
The line of code

$sp.secret | ConvertFrom-SecureString -AsPlainText

-AsPlainText is not a valid parameter on PowerShell 5.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7880307f-88c6-27bd-3826-76d8e742f194
* Version Independent ID: 84b2cbcb-1f11-9a6d-23fd-5c8d76453fa8
* Content: [Use Azure service principals with A

[2020-12-15 17:38] kobulloc-MSFT commented on #1669
@smitz1 Thank you for the feedback!  I'm not seeing the code sample you mentioned on the page this was opened against (many references to $sp, but nothing on $sp.secret).  Would you mind providing a link?  You would need to use [PowerShell 7 or later](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.security/convertfrom-securestring?view=powershell-7), because "-AsPlainText"

[2020-12-16 19:11] kobulloc-MSFT commented on #1669
(Test comment)

[2020-12-18 19:10] kobulloc-MSFT commented on #1669
@smitz1 You are correct that "-AsPlainText" is not supported in PowerShell 5.1.  You would need PowerShell 7 or later.  I don't see any additional corrections to be made in the documentation so we are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-12-18 19:10] #1669 closed

[2021-01-03 00:54] g0pinath opened #1676 "Whats the equivalent in PS for --skd-auth true -- SPN for Terraform needs this."
[Enter feedback here]

As per the documentation, the below creates the SPN but cant be used by Terraform.
https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps?view=azps-5.2.0

$sp = New-AzADServicePrincipal -DisplayName $env:DEV_K8S_SPN_NAME -SkipAssignment
$BSTR = [System.Runtime.InteropServices.Marshal]::SecureStringToBSTR($sp.Secret)
$UnsecureSecret = [System

[2021-01-03 04:07] BhargaviAnnadevara-MSFT commented on #1676
@g0pinath Thanks for the question. We're investigating this and will get back to you shortly.

[2021-01-05 11:12] BhargaviAnnadevara-MSFT commented on #1676
@g0pinath AFAIK, there isn't an exact parallel matching `--sdk-auth` in PowerShell. Adding @mikefrobbins to help with additional insights.

[2021-01-06 16:40] vishnuprakash9845 opened #1680 "Its not an issue but need help in sending outlook mail using powershell script"
I am an automation engineer

I have have automated few test cases and getting the test results. This test results I wanted to forward to team using outlook using powershell. I tried many ways to do it, but not working.

I want an powershell script to send outlook mail to people who I configure.

Can anyone please help me out in this.

[2021-01-06 17:02] BhargaviAnnadevara-MSFT commented on #1680
@vishnuprakash9845 Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-01-06 17:20] Duffney commented on #1676
Hi @g0pinath and @BhargaviAnnadevara-MSFT,

The `New-AzAdServicePrincipal` cmdlet does not provide a parameter that is equivalent to `--sdk-auth`.

However, you can provision the service principal with PowerShell by creating the service principal with a password. Then run the `New-AzRoleAssignment` cmdlet to give the service principal an assignment.

Here is a code snippet for creating the service

[2021-01-09 14:50] BhargaviAnnadevara-MSFT commented on #1676
@Duffney Thanks for the information.

@g0pinath Hope the above addresses your query. Please let us know if there are any further queries here. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-09 14:50] #1676 closed

[2021-01-09 14:52] BhargaviAnnadevara-MSFT commented on #1680
@vishnuprakash9845 Could you please provide the requested details?

[2021-01-09 15:32] vishnuprakash9845 commented on #1680
Sure Bhargavi,

Thank you for responding.

Sorry I wasn't able to get back to you sooner, I referred following URLs.

https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/send-mailmessage?view=powershell-7.1
https://gallery.technet.microsoft.com/scriptcenter/Send-HTML-Formatted-email-26925a96
https://gallery.technet.microsoft.com/scriptcenter/bd0c8d87-466f-4488-92a2-0f72

[2021-01-09 16:44] BhargaviAnnadevara-MSFT commented on #1680
@vishnuprakash9845 Thank you for the response.

I'd like to let you know that this channel (the [Azure PowerShell Docs](https://github.com/MicrosoftDocs/azure-docs-powershell) repository) is only for driving improvements related to documentation on the [Azure PowerShell module](https://docs.microsoft.com/en-us/powershell/azure). The best place for specific answers about implementations is going to

[2021-01-11 05:46] BhargaviAnnadevara-MSFT commented on #1680
@vishnuprakash9845 At this point, it appears that there are no edits or updates being suggested to the documentation. Hence closing this issue for now. If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-11 05:46] #1680 closed

[2021-01-16 02:53] ChadSpears opened #1686 "Trouble with Sign in with a service principal"
The section *Sign in with a service principal* is difficult to understand and does not seem to match with what is returned in PS7.
I ended up doing the following to get signed in.

![image](https://user-images.githubusercontent.com/50421823/104795348-91953200-577b-11eb-8c5d-50c8a569d417.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-01-16 04:16] BhargaviAnnadevara-MSFT commented on #1686
@ChadSpears Thanks for the question. We're investigating this and will get back to you shortly.

[2021-01-16 23:48] Ayanmullick opened #1687 "Get a subscription's diagnostic settings categories' list"
How could one query the [`Diagnostic Settings Category - List`](https://docs.microsoft.com/en-us/rest/api/monitor/diagnosticsettingscategory/list#code-try-0) API using [`Invoke-AzRestMethod`](https://docs.microsoft.com/en-us/powershell/module/az.accounts/invoke-azrestmethod?view=azps-5.3.0) to get the diagnostic settings categories' list of an Azure subscription?

![image](https://user-images.gith

[2021-01-17 00:54] GiftA-MSFT commented on #1687
@Ayanmullick we'll review your feedback and get back to you shortly. Thanks.

[2021-01-18 10:46] HarshitaSingh-MSFT commented on #1687
You are right, @Ayanmullick , after following the instructions and examples, I am not able to run this command. I am getting in touch with the PG and will let you know about the revert.

[2021-01-19 14:50] mikefrobbins commented on #1687
The URL should be specified as shown in the example of the reference doc for [Invoke-AzRestMethod](https://docs.microsoft.com/powershell/module/az.accounts/invoke-azrestmethod#example-1).

Something similar to the following example:
`Invoke-AzRestMethod -Path "/subscriptions/{subscription}/resourcegroups/{resourcegroup}/providers/microsoft.insights/diagnosticSettingsCategories?api-version=2017-05-

[2021-01-19 16:24] HarshitaSingh-MSFT commented on #1687
@Ayanmullick , does the response from @mikefrobbins help?

[2021-01-19 17:22] BhargaviAnnadevara-MSFT commented on #1686
@mikefrobbins Do you think we can clarify or improve this section further?

[2021-01-19 19:03] Ayanmullick commented on #1687
No @HarshitaSingh-MSFT , I'm getting the error below. Could you share a screenshot if it's working at your end?
![image](https://user-images.githubusercontent.com/17693249/105080612-ae20bb00-5a56-11eb-9c25-f9609fd6874e.png)

@mikefrobbins , Does one need to specify the resource group for the diagnostics settings categories of a subscription?